:root {
  /* COLORS <hue>, <saturation>%, <lightness>% */
  --color-white: hsl(0, 0%, 98%);
  --color-red: hsl(0, 50%, 54%);
  --color-background-red: hsla(355, 70%, 94%, 0.39);
  --color-green: hsl(111, 50%, 54%);
  --color-background-green: hsla(120, 100%, 93%, 0.39);
  --color-orange: hsl(39, 50%, 54%);
  --color-background-orange: hsla(39, 70%, 93%, 0.39);
  --color-blue: hsl(197, 50%, 54%);
  --color-background-blue: hsla(197, 70%, 93%, 0.39);

  --accent-hue: 30;
  --accent-saturation: 34%;
  --accent: hsl(var(--accent-hue), var(--accent-saturation), 44%);
  // #96704a

  --color: hsl(0, 0%, 13%);
  --color-background: var(--color-white);
  --color-layer: hsla(0, 0%, 13%, 10%);

  // --navbar-background: hsl(var(--accent-hue), var(--accent-saturation), 90%);
  // --navbar-hover: hsl(var(--accent-hue), var(--accent-saturation), 80%);
  // --navbar-height: 6rem;

  /* NAVBAR */
  --bar-background: hsl(var(--accent-hue), var(--accent-saturation), 90%);
  --bar-hover: hsl(var(--accent-hue), var(--accent-saturation), 80%);
  --bar-height: 6rem;

  /* STYLES */
  --font-family-header: "Open Sans", "Noto Sans JP", sans-serif; // 300, 400,  600
  --font-family-body: "Merriweather", "Noto Serif JP", serif; // 300, 400, 900
  --default-font-size: 1.6rem;
  --shadow: 0 0 10px #0004;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --border: 1px solid #ccc;
  --border-radius: 1rem;
  --gap: 3rem;
  --content-width: 800px;
}

// BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
