<div id="calendar" class="calendar {{ css }}">

  {# CALENDAR HEADER #}
  <div class="calendar__header">

    {# Previous Link #}
    {% if prev_url %}
      <a href="{{ prev_url }}" class="calendar__prev">&larr;</a>
    {% else %}
      <div class="calendar__prev disabled">&larr;</div>
    {% endif %}

    <div class="calendar__title">
      {# Title #}
      {% if title %}
      {{ title }}
      {% endif %}
      
      {# Subtitle #}
      {% if subtitle %}
      <span class="calendar__subtitle">{{ subtitle }}</span>
      {% endif %}
    </div>
    
    {# Next Link #}
    {% if next_url %}
      <a href="{{ next_url }}" class="calendar__next">&rarr;</a>
    {% else %}
      <div class="calendar__next disabled">&rarr;</div>
    {% endif %}
    
  </div>

  {# WEEKDAYS HEADER #}
  <div class="calendar__weekdays">
    {% for weekday_name in weekdays %}
    <span>{{ weekday_name }}</span>
    {% endfor %}
  </div>

  {# DAYS SECTION #}
  <div class="calendar__days">
  {% for day in days %}

    {# DAY #}
    <div {% if day.day %}id="day_{{ day.day }}"{% endif %}  class="calendar__day calendar__day--{{ day.stage }}{% if day.disabled %} calendar__day--disabled{% endif %}">
        
      {# DAY NUMBER #}
      {% if day.day %}
      <span class="calendar__day_header{% if day.disabled %} calendar__day_header--disabled{% endif %}">{{ day.day }}</span>
      {% endif %}
      
      {# DAY NAMES #}
      {% for name in day.names %}
      <span class="calendar__day_name">{{ name}}</span>
      {% endfor %}
      
      {# DAY EVENTS #}
      {% for event in day.events %}
      <div class="calendar__event {{event.class}}" style="{{ event.style }}">
        {% for line in event.content %}
        <span class="compact">{{ line }}</span>
        {% endfor %}

        {% for line in event.verbose_content %}
        <span class="verbose">{{ line }}</span>
        {% endfor %}

        {% if event.button %}
        <button class="calendar__overlay_button" onclick="handleEventClickEvent({{ event.id }}); blur()">
        {% endif %}
      </div>
      {% endfor %}

      {# DAY BUTTON #}
      {% if day.button and not day.disabled %}
      <button class="calendar__overlay_button" onclick="handleDayClickEvent({{ day.day }}); blur()">
      </button>
      {% endif %}
    </div>

  {% endfor %}
  </div>
</div>