.flex {
  display: flex;
  width: 100%;

  & > * {
    max-width: var(--content-width);
    margin: 0 auto;
  }

  &.column {
    flex-direction: column;
    align-items: center;
  }
  &.wrap {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }
  &.gaps {
    padding-left: var(--gap);
    padding-top: var(--gap);

    & > * {
      margin: 0;
      margin-right: var(--gap);
      margin-bottom: var(--gap);
    }
  }
  &.align-stretch {
    align-items: stretch;
  }
}
