.footer {
  background: var(--bar-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 4rem;
  }
  &__col {
    padding-bottom: 4rem;
  }
  &__col-header {
    padding-bottom: 1rem;
    font-size: var(--default-font-size);
    font-weight: bold;
    font-family: var(--font-family-header);
    opacity: 0.7;
  }
  &__col-nav {
    display: flex;
    flex-direction: column;

    & a,
    & a:link,
    & a:visited {
      padding: 0.5rem;
      color: var(--color);
      font-size: 1.6rem;
      margin-left: -0.5rem;
      // text-decoration: none;
    }
    & a:hover,
    & a:focus {
      background-color: var(--bar-hover);
    }
  }

  &__copyright {
    background: hsl(0, 0%, 20%);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__copyright-link,
  &__copyright-link:link,
  &__copyright-link:visited {
    padding: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-family-header);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    cursor: default;

    &:hover {
      color: #fff;
    }
  }
}
