/* PUSH FOOTER TO THE BOTTOM */
html {
  height: -webkit-fill-available;
}
.page_container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.page_content {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
}
