.content-row {
  display: flex;
  flex-direction: column;

  &:not(.no-gap) {
    // gap: var(--gap); // 'supported' but didn't work on my ipad...
    padding: var(--gap);
  }

  & > * {
    width: 100%;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }
}
