.form {
  width: 100%;

  // SPACING
  //----------------------------------------------------------------------------
  & > *:not(:last-child) {
    margin-bottom: var(--gap);
  }

  // SPACING
  //----------------------------------------------------------------------------

  // SECTIONS
  // if you render fields manually (one-by-one) you can put them into sections
  // TODO: this is now a 'card' section... style should not be set here
  //----------------------------------------------------------------------------
  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  // GROUP
  //----------------------------------------------------------------------------
  &__group {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    &--invalid {
      & input,
      & textarea,
      & select {
        border-color: var(--color-red);
      }
    }
    &--valid {
      & input,
      & textarea,
      & select {
        border-color: var(--color-green);
      }
    }
  }

  // LABEL
  //----------------------------------------------------------------------------
  &__label {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 0.5rem;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
    & label {
      flex-shrink: 0;
      font-size: var(--default-font-size);
      font-family: var(--font-family-header);
    }
  }

  // OTHER MESSAGING
  //----------------------------------------------------------------------------
  &__optional {
    font-size: var(--default-font-size);
    opacity: 0.6;
  }
  &__error {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-red);
    width: 100%;
    margin-top: 1rem;
  }
  &__help_text {
    width: 100%;
    font-size: 1.4rem;
    opacity: 0.8;
    margin-top: 1rem;
  }

  // INPUT
  //----------------------------------------------------------------------------
  &__input {
    width: 100%;
    display: flex;
    align-items: baseline;
    & > *:not(:last-child) {
      margin-right: var(--gap);
    }
    & input,
    & textarea,
    & select {
      max-width: 100%;
      padding: 0.5rem 1rem;
      margin: 0;
      line-height: 2;
      background: var(--color-background);
      color: var(--color);
      border: var(--border);
      border-radius: 3px;
      font-family: var(--font-family-body);
      font-size: var(--default-font-size);
    }
    & textarea {
      line-height: 1.5;
    }
    & input[type="checkbox"] {
      width: auto;
      order: 1;
      margin-right: 0.5rem;
    }
    // IOS
    @supports (-webkit-touch-callout: none) {
      & select,
      & textarea,
      & input {
        font-size: 16px; // to disable any zooming
      }
      & input:not([type="checkbox"]):not([type="range"]),
      & textarea,
      & select {
        min-width: 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
}
