.form--large_inputs {
  & .form__group {
    padding: 0;
    background-color: var(--color-layer);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  & .form__label {
    width: 100%;
    height: 2.7rem;
    padding: 1.5rem 0 0 1rem;
    margin-bottom: -2.7rem;

    & label {
      font-size: 1.2rem;
      opacity: 0.8;
      text-transform: uppercase;
      line-height: 1.2rem;
    }
    & .form__optional {
      font-size: 1rem;
    }
  }

  & .form__input > * {
    width: 100%;
    min-height: 90px;
    padding: 3.7rem 1rem 1rem 1rem;
    background: transparent;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 0;
    outline: none;

    &:not(:last-child) {
      border-right: var(--border);
    }

    &:focus {
      background: var(--color-background);
      border-color: #4d90fe;
      border-radius: var(--border-radius);
    }
  }
  & .form__input input::placeholder {
    opacity: 0.3;
    color: var(--color);
  }

  & .form__input select {
    height: 90px;
  }
  & .form__input input[type="checkbox"],
  & .form__input input[type="range"] {
    padding: 0;
    margin: 4.2rem 1.5rem 1.5rem 1.5rem;
    min-height: 0;
  }
  & .large input,
  & .large textarea {
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: var(--font-family-header);
  }
  .form__help_text,
  .form__error {
    margin: 0;
    padding: 1.5rem 0 1.5rem 1rem;
    opacity: 0.7;
    background: var(--color-layer);
  }
  .form__error {
    background: var(--color-background-red);
    border: 1px solid;
    border-radius: 1rem;
    margin-top: 0.5rem;
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

.form--large_inputs.form--sections {
  & .form__section {
    background-color: var(--color-layer);
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  & .form__group {
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }
}
