.widget__tag_select,
.widget__tag_select_multiple {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;

  & > * {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  & input {
    display: none;
  }
  & label {
    display: inline-block;
    font-family: var(--font-family-header);
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
  }
  & input:checked + label {
    border-color: var(--accent);
  }
}
