{% extends 'base.html' %}
{% load i18n %}

{% block navbar %}
<div class="titlebar">
  <div class="titlebar__left">
    <a class="bar__btn" href="/">{% trans "Cancel" %}</a>
  </div>
  <span class="titlebar__center">
    {% trans "Login" %}
  </span>
</div>
{% endblock navbar %}

{% block content %}

<div class="content-row">
  <form id="login_form" class="form" method="post" novalidate>
    {% include 'forms/render_form.html' %}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <button class="btn btn--primary" form="login_form" type="submit">{% translate "Login" %}</button>
  </form>
</div>
{% endblock content %}