{% load url_add_query %}

{% for customer in customers %}
<div class="customer">
  <div class="customer__cell">
    <div class="customer__email">{{ customer.email|default:"NONE" }} ({{ customer.reservations|length }})</div>
    <button class="btn customer__accessory_btn" onclick="copyToClipboard('{{ customer.email }}');">
      {% include 'svg/copy' %}
    </button>
    <button class="customer__expand_btn" onclick="toggle('details_{{ customer.id }}'); blur();"></button>
  </div>
  <div class="customer__details" id="details_{{ customer.id }}">
    <div class="customer__names">
      {% for name in customer.names %}
      <div class="customer__name">{{ name }}</div>
      {% endfor %}
    </div>
    <div class="customer__reservations">
      {% for reservation in customer.reservations %}
      <a class="customer__reservation" href="{{ reservation.get_absolute_url }}">
        {{ reservation.event.datetime|date:"m/d" }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{# PAGINATION #}
{% with customers as paginator %}
{% if paginator.has_next %}
  <div hx-get="{% url_add_query request.get_full_path replace=True page=paginator.next_page_number %}"
       hx-target="this"
       hx-trigger="revealed"
       hx-swap="outerHTML">
    <div class="htmx-indicator">
      {% include 'svg/spinner' %}
    </div>
  </div>
{% endif %}
{% endwith %}