<div class="list_item">

  {# META #}
  <div class="list_item__left">
    <span class="secondary">{{ email.timestamp|date:"m/d H:i"}}</span>
    <span>To: {{ email.recipient }}</span>
  </div>
  
  {# STATUS #}
  <div class="list_item__right column">
    {% if email.status_code == 201 %}
      <span>{{ email.status_code|default:"N/A" }}</span>
      <span class="u-color-green">&#10003;</span>
    {% else %}
      <span>{{ email.status_code|default:"N/A" }}</span>
      <span class="u-color-red">&#10007;</span>
    {% endif %}
  </div>
    
  {# STATUS #}
  <div class="list_item__content">
    <span>{{ email.email_type }}</span> 
  </div>
  
</div>