{% load event_time_range %}
{% load event_time_status %}
{% load event_close_time_status %}
{% load time_until %}

{# Type #}
<div class="card overflow_wrapper">
  <table class="table table--borders">
    <tr>
      <th>Type</th>
      <td>
        {% if event.event_type %}
        <span class="status status--green">{{ event.event_type.name }}</span>
        {% elif event.requested_event_type %}
        <span class="status status--orange">{{ event.requested_event_type.name }}</span>
        {% else %}
        <span class="status status--red">No Type</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Specified Type</th>
      {% if event.event_type %}
      <td>{{ event.event_type.name|default:"no-name type" }}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
    <tr>
      <th>Requested Type</th>
      {% with event.requested_event_type as req_type %}
      {% if req_type %}
      <td>{{ req_type.name|default:"no-name type" }}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
      {% endwith %}
    </tr>
    <tr>
      <th>Available Types</th>
      {% if event.allowed_types %}
      <td>
        {% for event_type in event.allowed_types.all %}
        {{ event_type.name }}{% if not forloop.last %} / {% endif %}
        {% endfor %}
      </td>
      {% else %}
      <td>All</td>
      {% endif %}
    </tr>
  </table>
</div>

{# Details #}
<div class="card overflow_wrapper">
  <table class="table table--borders">
    <tr>
      <th>Status</th>
      <td>
        {% with event.status as status %}
          <span class="status status--{{ status.color }}">{{ status.msg }}</span>
          <span class="status">{{ event.datetime|time_until }}</span>
        {% endwith %}
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td class="td--flex">
        <span>{{ event.datetime|date }}</span>
        </td>
    </tr>
    <tr>
      <th>Time</th>
      <td class="td--flex">
        <span>{{ event|event_time_range }}</span>
        {{ event|event_time_status }}
      </td>
    </tr>
    <tr>
      <th>Closes</th>
      <td class="td--flex">
        <span>{{ event.close_at|date }} - {{ event.close_at|time }}</span>
        {{ event|event_close_time_status }}
      </td>
    </tr>
    <tr>
      <th>Reservation Limit</th>
      {% if event.custom_reservation_limit %}
        <td>{{ event.custom_reservation_limit }} (custom)</td>
      {% elif event.event_type and event.event_type.default_reservation_limit %}
        <td>{{ event.event_type.default_reservation_limit }} (event_type)</td>
      {% else %}
        <td>{{ event.reservation_limit }} (default)</td>
      {% endif %}
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ event.price }}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>
      {% if event.location %}
        {{ event.location.name }}
      {% else %}
        N/A
      {% endif %}
      </td>
    </tr>
  </table>
</div>

{# Notes #}
<div class="card">
<div class="card--header">Notes</div>
  {{ event.notes|linebreaks }}
</div>