<form id="location_new"
      class="form card"
      hx-post="{% url 'em.locations.new' %}"
      hx-target="this"
      hx-swap="outerHTML">
  {% include 'forms/render_form.html' %}
  <div>
    <button class="btn">Add</button>
    <button class="btn btn--gray"
            type="button"
            onclick="document.getElementById('location_new').remove();">
      Cancel
    </button>
  </div>
</form>