<div class="card list_item" id="location_{{ location.pk }}">
  <div class="list_item__left">
    <span>{{ location.name_en }}</span>
    <span class="secondary">{{ location.name_ja }}</span>
  </div>
  <div class="list_item__right">
    <button class="btn" 
            hx-confirm="DELETE {{ location.name_en }}?"
            hx-delete="{% url 'em.locations.item' location.pk %}"
            hx-target="#location_{{ location.pk }}"
            hx-swap="outerHTML swap:1s">
      Delete
    </button>
  </div>
</div>