{# MESSAGE ITEMS #}
{% for location in locations %}
  {% include 'eventManager/includes/locations_row.html' %}
{% endfor %}

{# PAGINATION #}
{% with locations as paginated_set %}
{% if paginated_set.has_other_pages %}
<ul class="paginator">
  {% for i in paginated_set.paginator.page_range %}
    {% if paginated_set.number == i %}
    <li class="active">
      <span>{{ i }}<span class="sr-only"> (current)</span></span>
    </li>
    {% else %}
    <li hx-get="?page={{ i }}"
        hx-target="#page">
      {{ i }}
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
{% endwith %}