<div class="list_item">

  {# META #}
  <div class="list_item__left">
    <span>{{ message.sender }}</span>
  </div>

  {# ACTIONS #}
  <div class="list_item__right">
    <span class="secondary">{{ message.timestamp|date:"Y/m/d H:i"}}</span>
  </div>
  
  {# CONTENT #}
  <span class="list_item__content">{{ message.content }}</span>
</div>