<div class="list_item">
  
  {# Name #}
  <div class="list_item__left">
    <span>{{ reservation.name }}</span>
    <span class="secondary">{{ reservation.email }}</span>
    <span class="secondary">{{ reservation.created_at|date:"Y/m/d H:i" }}</span>
  </div>

  {# status #}
  <div class="list_item__right">
    {% if reservation.canceled_at %}
      <div class="status status--red">Canceled</div>
    {% elif reservation.problem_message %}
      <div class="status status--orange">Problem</div>
    {% else %}
      <div class="status status--green">Ok</div>
    {% endif %}
  </div>
  
  {# Message #}
  {% if reservation.canceled_at and reservation.cancel_msg %}
  <div class="list_item__content">
    {{ reservation.cancel_msg|linebreaks }}
  </div>
  {% elif reservation.note %}
  <div class="list_item__content">
    {{ reservation.note|linebreaks }}
  </div>
  {% endif %}
  
</div>