{# CUSTOMER INFO #}
<div class="section-header">Details</div>
<div class="card overflow_wrapper">
  <table class="table table--borders">
    <tr>
      <th>Created</th>
      <td>
        {{ reservation.created_at|date:"Y/m/d H:i" }}
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        {{ reservation.name|default:"-" }}
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td class="td--flex">
        <span>{{ reservation.email|default:"-" }}</span>
        {% if reservation.email %}
          <button class="btn btn--text" onclick="copyToClipboard('{{ reservation.email }}')">
            {% include 'svg/copy' %}
          </button>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Reminder</th>
      <td class="td--flex">
        <span>{% if reservation.wants_reminder %}Yes{% else %}No{% endif %}</span>
        {% if reservation.wants_reminder and reservation.is_reminded %}
        <span class="status status--green">Sent</span>
        {% else %}
        <span class="status status--red">Not Sent</span>
        {% endif %}
        </td>
    </tr>
    <tr>
      <th>Type</th>
      {% if reservation.event_preference %}
      <td>{{ reservation.event_preference.name }}</td>
      {% else %}
      <td>N/A</td>
      {% endif %}
    </tr>
  </table>
</div>

{# Message #}
<div class="section-header">Message</div>
<div class="card">
  {% if reservation.note %}
  {{ reservation.note|linebreaks }}
  {% else %}
  <p style="font-size: 1.3rem; opacity: .6;">None</p>
  {% endif %}
</div>