{% extends 'hourtracker/base.html' %}

{% block content %}
<div class="container">
  
  <div class="titlebar">
  
    {# Left button #}
    <div class="titlebar__left">
      <a class="bar__btn" href="{% url 'hours.categories.item' category.name %}">
        {% include 'svg/chevron-left' %}
      </a>
    </div>
  
    {# Title #}
    <span class="titlebar__center">
      <button class="bar__btn" onclick="location.reload(); blur();">
        Add {{ category.name }} Entry
      </button>
    </span>
  </div>

  <section class="entry-week">
    {% for wk in weekdt_list %}
      <button
      class="{% if wk.selected %}entry-week--selected{% endif %}"
      onclick="update_entry_date(this);"
      data-value="{{wk.iso}}">
        {{wk.text}}
      </button>
    {% endfor %}
  </section>

  <section class="entry-form">
    <form method="post" novalidate>
      {% include 'forms/render_form.html' %}
      <button class="btn">Save</button>
    </form>
  </section>
</div>

{% endblock content %}