/* NAVBAR */
/* -------------------------------------------------------------------------- */
.portfolio-navbar {
  --gap: 1rem;
  --color: #111;
  --background: hsl(30, 58%, 70%);
  --background-hover: hsl(30, 100%, 77%);

  --navbar-height: 3rem;
  --navbar-border: 1px solid #0003;

  --brand-width: 30%;
  --brand-max-width: 400px;
}
.portfolio-navbar {
  display: flex;
  color: var(--color);
  background: var(--background);
  min-height: var(--navbar-height);
  border-bottom: var(--navbar-border);
}
.portfolio-navbar .brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--gap);
  min-height: var(--navbar-height);

  font-size: 2rem;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  line-height: 1;
}
.portfolio-navbar .brand > *:first-child {
  padding-left: var(--gap);
}
.portfolio-navbar .list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}
.portfolio-navbar .item {
  display: flex;
  justify-content: center;
  min-width: var(--navbar-height);
  min-height: 100%;
  word-break: keep-all;
}
.portfolio-navbar .link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;

  transition: all 0.1s ease-in-out;
}
.portfolio-navbar .link.selected {
  background: var(--background-hover);
}
.portfolio-navbar .link:not(.selected):hover,
.portfolio-navbar .link:not(.selected):focus {
  background: var(--background-hover);
  transform: translateY(-5px);
  box-shadow: 0 5px 0 #0003;
}
.portfolio-navbar .list.borders > .item:not(:last-child) {
  border-right: var(--navbar-border);
}
.portfolio-navbar .list.borders {
  border-right: var(--navbar-border);
  border-left: var(--navbar-border);
}

.portfolio-navbar .language-form select {
  border-radius: 0;
  border: 0;
  background: transparent;
  height: 100%;
}

/* TYPOGRAPHY */
/* -------------------------------------------------------------------------- */
.portfolio-navbar a,
.portfolio-navbar a:link,
.portfolio-navbar a:visited {
  color: currentColor;
  text-decoration: none;
}
.portfolio-navbar a:focus {
  outline: 1px dotted #000;
  outline-offset: -0.5rem;
}

/* UTILS */
/* -------------------------------------------------------------------------- */
.portfolio-navbar .push-right {
  margin-left: auto;
}
.portfolio-navbar .mobile-only {
  display: none;
}
.portfolio-navbar .brand-width {
  width: var(--brand-width);
  max-width: var(--brand-max-width);
}

/* RESPONSIVE */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
  /* NAVBAR */
  .portfolio-navbar {
    flex-wrap: wrap;
  }
  .portfolio-navbar .sm-row {
    width: 100%;
    border-top: var(--navbar-border);
  }
  .portfolio-navbar .sm-order-10 {
    order: 10;
  }
  .portfolio-navbar .sm-order-5 {
    order: 5;
  }
  .portfolio-navbar .sm-row .item {
    flex: 1;
  }
  .portfolio-navbar .sm-push-right {
    margin-left: auto;
  }

  /* UTILS */
  .portfolio-navbar .desktop-only {
    display: none;
  }
  .portfolio-navbar .mobile-only {
    display: flex;
  }
  .portfolio-navbar .brand-width {
    width: unset;
    max-width: none;
  }
}
