.body-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------- */
/* PORTFOLIO */
/* -------------------------------------------------------------------------- */
.portfolio {
  /* space between items inside a component */
  --gap: 1rem;
  /* space between components and layout borders */
  --padding: 2rem;
  /* Large space to separate projects */
  --padding-lg: calc(var(--padding) * 3);

  --accent-bg-400: hsl(30, 58%, 70%);
  --accent-bg-300: hsl(30, 58%, 84%);
  --accent-bg-200: hsl(30, 58%, 94%);
  --accent-bg-100: hsl(30, 58%, 97%);
  --link-hover: hsl(30, 100%, 77%);

  --max-width-container: 1000px;

  --sidebar-width: 30%;
  --sidebar-max-width: 400px;
}
.portfolio {
  font-family: "Work Sans", sans-serif;
  font-size: 1.07rem;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

/* TYPOGRAPHY */
/* -------------------------------------------------------------------------- */
.portfolio b,
.portfolio strong {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0.8;
}
.portfolio p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  margin-bottom: var(--gap);
}

.portfolio .btn {
  text-decoration: none;
  color: currentColor;
  background: none;
  display: inline-block;
  transition: all 0.1s ease-in-out;
  font-weight: normal;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  /* Default Style */
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  background: var(--accent-bg-400);
}
.portfolio .btn:hover,
.portfolio .btn:focus {
  box-shadow: 0 3px 4px #0006;
  transform: translateY(-3px);
  background: var(--link-hover);
}
.portfolio .btn.selected {
  background: var(--link-hover);
}
.portfolio .btn.selected:hover,
.portfolio .btn.selected:focus {
  transform: none;
  box-shadow: none;
}

/* SIDEBAR */
/* -------------------------------------------------------------------------- */
.portfolio .sidebar {
  display: flex;
  flex-direction: column;
  background: var(--accent-bg-300);
}
.portfolio .sidebar-width {
  width: var(--sidebar-width);
  max-width: var(--sidebar-max-width);
}
.portfolio .sidebar__image-container {
  width: 100%;
}
.portfolio .sidebar__image {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio .sidebar__description {
  padding: var(--padding);
}

/* MAIN */
/* -------------------------------------------------------------------------- */
.portfolio .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--accent-bg-200);
}

/* TESTIMONIAL */
/* ----------- */
.testimonial {
  display: flex;
  flex-direction: column;
}
.testimonial .testimonial__quote {
  font-style: italic;
  margin-bottom: 1rem;
  line-height: 1.7;
}
.testimonial .testimonial__name {
  font-size: 0.9rem;
  font-weight: bold;
}
.testimonial .testimonial__title {
  font-size: 0.9rem;
}

/* PROJECTS ITEM */
/* ------------- */
.project-item {
  --gap: 1rem;
  --project-image-width: 320px;
  --project-image-height: 200px;
}
.project-item {
  display: flex;
  align-items: flex-start;
}
.project-item .project-item__image-container {
  width: 35%;
  min-width: 35%;
  max-width: var(--project-image-width);
  max-height: var(--project-image-height);
  margin-right: var(--gap);
  overflow: hidden;
  border-radius: 3px;
}
.project-item .project-item__image {
  display: block;
  width: 100%;
  height: auto;
}
.project-item .project-item__title {
  margin-top: -0.5rem;
}

/* CONTACT GROUP */
/* ------------- */
.contact-group {
  padding: 0 var(--gap);
  margin-top: calc(3 * var(--gap));
}
.contact-group > *:not(:last-child) {
  padding-bottom: var(--gap);
}
.contact-group .list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
}
.contact-group .item {
  min-width: 120px;
  justify-content: center;
}
.contact-group .icon {
  display: block;
  width: 50px;
  margin-bottom: var(--gap);
}
.contact-group .link {
  text-transform: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--gap);
  background: none;
  color: currentColor;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.contact-group .link:hover,
.contact-group .link:focus {
  border-color: var(--accent-bg-400);
  color: currentColor;
  background: var(--link-hover);
}

/* TAG */
.portfolio .tags {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--gap);
}
.portfolio .tag {
  display: inline-block;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: var(--accent-bg-300);
  border-radius: 5px;
  margin-right: var(--gap);
  margin-bottom: var(--gap);
}

/* FEATURE */
.portfolio .features {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .feature {
  width: 25%;
  min-width: 250px;
  padding-right: var(--gap);
  padding-bottom: var(--gap);
}
.portfolio .feature-name {
  display: block;
  margin-bottom: var(--gap);
  font-size: 1.1rem;
  font-weight: 700;
}
.portfolio .feature p {
  opacity: 0.6;
}

/* TABLE */
.portfolio .table th {
  word-break: keep-all;
}
.portfolio .table th,
.portfolio .table td {
  text-align: left;
  vertical-align: baseline;
}
.portfolio .table tr:not(:last-child) th,
.portfolio .table tr:not(:last-child) td {
  padding-bottom: var(--gap);
}
.portfolio .table th:not(:last-child),
.portfolio .table th:not(:last-child) {
  padding-right: var(--gap);
}

.project-item .project-item__table {
  margin-bottom: var(--gap);
  margin-top: -0.5rem;
}

/* LIST */
.portfolio .ul {
  padding-left: var(--padding);
  padding-bottom: var(--gap);
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 500;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .gallery__item {
  width: 45%;
  max-width: 400px;
  padding-right: var(--gap);
  padding-bottom: var(--padding);
}
.portfolio .gallery__image {
  width: 100%;
  height: auto;
  max-width: max-content;
  display: block;
  border-radius: 5px;
}
.portfolio .gallery__caption {
  padding-top: 1rem;
  font-size: 1rem;
}

.portfolio .scroll-down-arrow {
  text-align: center;
  font-size: 2rem;
}


/* STYLE UTILS */
/* ---------- */
.portfolio .em {
  font-weight: bold;
  opacity: 0.6;
  font-size: 1rem;
}
.portfolio .h1-sub {
  font-size: 1.6rem;
  opacity: 0.6;
}
.portfolio .h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
}
.portfolio .h2 {
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.7;
}
.portfolio .h3 {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: var(--gap);
}
.portfolio .bg-200 {
  background: var(--accent-bg-200);
}

/* UTILS */
/* -------------------------------------------------------------------------- */
.portfolio .mobile-only {
  display: none;
}
.portfolio .fixed-width-container {
  margin: 0 auto;
  width: 100%;
  padding: var(--padding);
  max-width: calc(var(--max-width-container) + 2 * var(--padding));
}
.portfolio .responsive-columns {
  flex: 1;
  display: flex;
}
.portfolio .gaps-lg > *:not(:last-child) {
  margin-bottom: var(--padding-lg);
}
.portfolio .padding-left-gap {
  padding-left: var(--gap);
}
.portfolio .padding-right-gap {
  padding-right: var(--gap);
}
.portfolio .padding-bottom-gap {
  padding-bottom: var(--gap);
}
.portfolio .padding-top-pad {
  padding-top: var(--padding);
}
.portfolio .padding-top-lg {
  padding-top: var(--padding-lg);
}
.portfolio .margin-bottom-gap {
  margin-bottom: var(--gap);
}
.portfolio .margin-bottom-pad {
  margin-bottom: var(--padding);
}
.portfolio .w-50 {
  width: 50%;
}
.portfolio .w-100 {
  width: 100%;
}
.portfolio .w-min-300 {
  min-width: 300px;
}
.portfolio .max-width-250 {
  max-width: 250px;
}
.portfolio .border-bottom {
  border-bottom: 1px solid #0004;
}
.portfolio .border-left {
  border-left: 1px solid #0004;
}
.portfolio .clearfix {
  overflow: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.list-style-none {
  list-style: none;
}

/* RESPONSIVE */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
  .project-item__image-container {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  /* UTILS */
  .responsive-columns {
    flex-direction: column;
  }
  .portfolio .desktop-only {
    display: none;
  }
  .portfolio .mobile-only {
    display: block;
  }
  .portfolio .sidebar-width {
    width: 100%;
    max-width: none;
  }
  .portfolio .feature {
    width: 50%;
  }
  .portfolio .gallery__item {
    width: 100%;
    max-width: unset;
  }
}
/* NOTE: this breakpoint should match var(--sidebar-image-width) */
@media screen and (max-width: 450px) {
  .sidebar__image {
    max-width: none;
    margin: 0;
  }
  .sidebar__image img {
    /* No circle */
    border-radius: 0;
    border: none;
  }
}
