/* -------------------------------------------------------------------------- */
/* RESUME */
/* -------------------------------------------------------------------------- */
.resume {
  --page-margin: 50px;
  --page-width: 1074px;
  --sidebar-width: 82%;
  --gap-sm: 0.5rem;
  --gap-md: 2rem;
  --gap-lg: 2.5rem;
  --color: #111;
  --accent: hsl(30, 34%, 70%);
  --accent-700: hsl(30, 85%, 25%);
  --header-background: linear-gradient(
    175deg,
    hsl(30, 34%, 51%) 0%,
    hsl(30, 34%, 70%) 100%
  );
  --border: 0.5px solid #3335;
  --font-family-body: "Open Sans", sans-serif;
  --font-family-h2: "Work Sans", sans-serif;
  --font-family-h1: "Cormorant", serif;
  --font-family-h3: "Open Sans", sans-serif;
}
.resume {
  display: flex;
  flex-direction: column;

  /* Theme */
  color: var(--color);
  font-family: var(--font-family-body);
}

/* TYPOGRAPHY */
/* -------------------------------------------------------------------------- */
.resume p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.resume h1 {
  font-family: var(--font-family-h1);
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 8px;
  font-weight: 100;
}
.resume h2 {
  color: var(--accent-700);
  padding-bottom: var(--gap-sm);
  font-family: var(--font-family-h2);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
}
.resume h3 {
  padding-bottom: 0.5rem;
  font-family: var(--font-family-h3);
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: var(--border);
  margin-bottom: 0.5rem;
}

/* HEADER */
/* -------------------------------------------------------------------------- */
.resume .header {
  background-color: var(--accent);
  background-image: var(--header-background);
}
.resume .header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--page-margin);
  padding-bottom: var(--gap-md);
}
.resume .header__title {
  width: min-content;
  padding-bottom: 1rem;
  margin-top: -0.8rem;
}
.resume .header__subtitle {
  font-family: var(--font-family-h2);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

/* COLUMN LAYOUT */
/* -------------------------------------------------------------------------- */
.resume .column-layout {
  flex: 1;
  display: flex;
  padding: var(--page-margin);
  padding-top: var(--gap-md);
}
.resume .column-layout > *:not(:last-child) {
  padding-right: var(--gap-md);
  border-right: var(--border);
  margin-right: var(--gap-md);
}

/* SIDEBAR */
/* -------------------------------------------------------------------------- */
.resume .sidebar {
  flex-basis: var(--sidebar-width);
  font-size: 0.8rem;
}
.resume .sidebar > *:not(:last-child) {
  margin-bottom: var(--gap-lg);
}

/* CONTACT */
/* ------- */
.resume .contact div {
  display: flex;
  align-items: center;
  padding-bottom: 0.9rem;
}
.resume .contact .lnr {
  font-size: 1.1rem;
  color: var(--accent-700);
}
.resume .contact a:target,
.resume .contact a:visited,
.resume .contact a:link {
  display: block;
  padding-left: 0.7rem;
  color: var(--color);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.resume .contact a:hover,
.resume .contact a:focus {
  color: var(--accent);
  transform: scale(1.02);
}

/* SKILLS */
/* ------ */
.resume .skills .group:not(:last-child) {
  padding-bottom: 1rem;
}

/* RATED ITEM */
/* ---------- */
.resume .rated-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
}
.resume .rated-item .lnr {
  color: var(--accent-700);
}

/* EDUCAATION */
/* ---------- */
.resume .education > div {
  padding-bottom: 1rem;
}
.resume .education .school {
  font-weight: bold;
}
.resume .education .dates {
  display: block;
  opacity: 0.7;
}

/* MAIN */
/* -------------------------------------------------------------------------- */
.resume .main {
  font-size: 0.9rem;
}
.resume .main > *:not(:last-child) {
  margin-bottom: var(--gap-lg);
}

/* JOB */
/* --- */
.resume .job {
  position: relative;
}
.resume .job:not(:last-child) {
  padding-bottom: var(--gap-lg);
}
.resume .job__dates {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume .job__dates > *:not(:last-child) {
  padding-bottom: 0.2rem;
}
.resume .job__content {
  padding-left: 4.5rem;
}
.resume .job__content > * {
  padding: 0;
  margin: 0;
  margin-bottom: 0.7rem;
}
.resume .job__header {
  padding-left: 0.5rem;
  border-left: 3px solid var(--accent);
  display: flex;
  justify-content: space-between;
}
.resume .job__header > div {
  min-height: 3rem;
  display: flex;
  flex-direction: column;
}
.resume .job__header > div:last-child {
  align-items: flex-end;
}
.resume .job__header > div > *:not(:last-child) {
  margin-bottom: 0.3rem;
}
.resume .job__title {
  font-weight: bold;
  font-size: 1rem;
}
.resume .job__location {
  font-size: 0.7rem;
  font-style: italic;
}
.resume .job__company {
  font-weight: bolder;
  font-size: 0.9rem;
  opacity: 0.7;
  text-align: right;
}
.resume .job__position {
  font-size: 0.7rem;
}
.resume .job__points {
  padding-left: 0;
}
.resume .job__points li {
  list-style: none;
  position: relative;
  padding-left: 1rem;
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  font-size: 0.82rem;
}
.resume .job__points li::before {
  content: "・";
  position: absolute;
  left: 0;
}

/* UTILS */
/* -------------------------------------------------------------------------- */
.resume .fixed-width-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--page-width);
}

/* Printing / Layout */
/* -------------------------------------------------------------------------- */
@media print {
  html {
    /* Scale so everything fits on a page */
    font-size: 69%;
  }
  .screen-only {
    display: none;
  }

  /* USE THE FOLLOWING WHEN RESUME IS ON WEBSITE TO ASSIST PRINTING */
  /* REMOVE FOLLOWING IF PRINT TO PDF LOCALLY AND MARGINS CAN BE REMOVED */
  .resume {
    --page-margin: 0;
  }
  .resume .header {
    background: none;
    background-image: none;
  }
}
@media screen {
  /* This + viewport: initial-scale=minimum-scale makes resume look  */
  .resume {
    min-width: 1000px;
  }
}
