{% load i18n %}
{% load static %}

<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock viewport %}

    <title>
      {% block title %}Travis Luke{% endblock title %}
    </title>

    {% block meta %}
      <meta name="description" content="Travis Luke's Portfolio" />
      <meta property="og:url" content="https://www.travis-luke.com/portfolio" />
      <meta property="og:title" content="Travis Luke's Portfolio" />
      <meta property="og:image" content="{% static 'portfolio/img/travis-photo3.jpg' %}" />
      <meta property="og:type" content="website" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:locale:alternate" content="ja_JP" />
      <meta property="og:description" content="Travis Luke's Portfolio" />
      <meta name="theme-color" content="#94704a">
    {% endblock meta %}

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% block fonts %}
      <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
        rel="stylesheet"
      />
    {% endblock fonts %}

    {% block style %}
      <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}" />
      <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}" />
      <link rel="stylesheet" href="{% static 'portfolio/css/navbar.css' %}" />
    {% endblock style %}

  </head>
  <body>
    {% block content %}{% endblock content %}
    


    <!-- SCRIPTS -->
    {% block js %}{% endblock js %}
  </body>
</html>
