{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
<div class="body-column portfolio">

  <!-- NAVBAR -->
  {% include 'portfolio/includes/navbar.html' with selected='contact' %}

  <div class="responsive-columns">
    
    <!-- SIDBAR -->
    <div class="sidebar sidebar-width desktop-only">
      <div class="sidebar__image-container">
        <img
          class="sidebar__image"
          src="{% static 'portfolio/img/travis-photo.jpg' %}"
          alt="Profile picture"
        />
      </div>
      <div class="sidebar__description">
        <p>
          <b>I build web applications.</b> From concept to final design, I
          create web apps that simplify complex or tedious tasks. 
        </p>
        <p>
          By automating and simplifying problems, I create applications to
          reduce the burden of tedious and error prone work, saving my customers
          time and reducing their mental load.
        </p>
      </div>
    </div>

    <main class="main">
      <div class="fixed-width-container">

        <div class="contact-group">
          <h2>Social Media</h2>
          <ul class="list">

            {# LinkedIn #}
            <li class="item">
              <a class="link" href="https://www.linkedin.com/in/travis-luke-453401220">
                <img
                  class="icon"
                  src="{% static 'img/vendor/LI-In-Bug.png' %}"
                  alt="LinkedIn Logo">
                LinkedIn
              </a>
            </li>


            {# LINE #}
            <li class="item">
              <a class="link" href="https://page.line.me/362zphkh">
                <img
                  class="icon"
                  src="{% static 'img/vendor/LINE_Brand_icon.png' %}"
                  alt="LINE logo">
                LINE
              </a>
            </li>


            {# Facebook #}
            <li class="item">
              <a class="link" href="https://www.facebook.com/travis.luke">
                <img
                  class="icon"
                  src="{% static 'img/vendor/f_logo_RGB-Blue_72.png' %}"
                  alt="Facebood logo">
                Facebook
              </a>
            </li>

          </ul>
        </div>

        <div class="contact-group">

          <h2>Contact Me</h2>
          <ul class="list">

            {# Email #}
            <li class="item">
              <a class="link" href="mailto:tlukedev@gmail.com">
                <img
                  class="icon"
                  src="{% static 'img/icon/letter.svg' %}"
                  alt="Email icon">
                Email
              </a>
            </li>

            {# Phone #}
            <li class="item">
              <a class="link" href="tel:080-1724-6270">
                <img
                  class="icon"
                  src="{% static 'img/icon/phone.svg' %}"
                  alt="Phone icon">
                Phone
              </a>
            </li>

          </ul>

        </div>

      </div>
    </main>

  </div>
</div>
{% endblock content %}