{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}

{% block viewport %}
  <meta name="viewport" content="width=1000px, initial-scale=minimum-scale" />
{% endblock viewport %}

{% block title %}Travis Luke CV{% endblock title %}

{% block meta %}
  <meta name="description" content="Travis Luke's Curriculum Vitae" />
  <meta property="og:url" content="https://www.travis-luke.com/portfolio/cv/" />
  <meta property="og:title" content="Travis Luke's Curriculum Vitae" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="ja_JP" />
  <meta property="og:description" content="Travis Luke's Portfolio" />
{% endblock meta %}

{% block fonts %}
  {{ block.super }}
  <link
    rel="stylesheet"
    href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant&family=Open+Sans&family=Work+Sans:wght@300&display=swap"
    rel="stylesheet"
  />
{% endblock fonts %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'portfolio/css/resume.css' %}" />
{% endblock style %}

{% block content %}
 <div class="screen-only">
  {% include "portfolio/includes/navbar.html" with selected="cv" %}
</div>

<div class="resume">
  <!-- HEADER -->
  <header class="header">
    <div class="fixed-width-container header__content">
      <h1 class="header__title">Travis Luke</h1>
      <div class="header__subtitle">Web Developer</div>
    </div>
  </header>

  <div class="page">
    <div class="fixed-width-container column-layout">
      <div class="sidebar">
        <section class="contact">
          <h2>Contact</h2>
          <div>
            <span class="lnr lnr-envelope"></span>
            <a href="mailto: tluke12345@gmail.com">tluke12345@gmail.com</a>
          </div>
          <div>
            <span class="lnr lnr-phone-handset"></span>
            <a href="tel:080-1824-6270">080-1724-6270</a>
          </div>
          <div>
            <span class="lnr lnr-map-marker"></span>
            <a href="https://goo.gl/maps/h81HcLeXLyCCH8Mf8"> Tokyo, JAPAN </a>
          </div>
          <div>
            <span class="lnr lnr-screen"></span>
            <a href="https://www.travis-luke.com/portfolio">
              www.travis-luke.com/portfolio
            </a>
          </div>
          <div>
            <span class="lnr lnr-link"></span>
            <a href="www.linkedin.com/in/travis-luke-453401220">
              www.linkedin.com/in/travis-luke-453401220
            </a>
          </div>
        </section>
        <section class="skills">
          <h2>Skills</h2>

          <div class="group">
            <h3>Tools</h3>
            <div class="rated-item">
              <span>Django</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Git</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>3rd Party API's</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>PostgreSQL</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Heroku</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Docker</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Photoshop / Illustrator</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>React / Vue</span>
              <span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
          </div>

          <div class="group">
            <h3>Programming Languages</h3>
            <div class="rated-item">
              <span>Python</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>HTML / CSS</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Sass</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Javascript</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Swift / Objective-C</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>C</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
          </div>

          {% comment %} <div class="group">
            <h3>Operating Systems</h3>
            <div class="rated-item">
              <span>Windows</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>OS X</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
            <div class="rated-item">
              <span>Linux (Arch)</span>
              <span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
                <span class="lnr lnr-star"></span>
              </span>
            </div>
          </div> {% endcomment %}
        </section>
        <section class="education">
          <h2>Education</h2>
          <div>
            <div class="school">Hiroshima University</div>
            <div class="dates">2009 - 2011</div>
            <div>Mechanical Engineering Research Student</div>
          </div>

          <div>
            <div class="school">College of Southern Nevada</div>
            <div class="dates">2009 - 2011</div>
            <div>Computer Science</div>
          </div>

          <div>
            <div class="school">University Of Nevada, Reno</div>
            <div class="dates">2005 - 2009</div>
            <div>BS Mechanical Engineering</div>
            <div><i>Magna cum laude</i></div>
          </div>
        </section>
        <section class="languages">
          <h2>Languages</h2>
          <div class="rated-item">
            <span>English</span>
            <span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
            </span>
          </div>
          <div class="rated-item">
            <span>Japanese (N2)</span>
            <span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
              <span class="lnr lnr-star"></span>
            </span>
          </div>
        </section>
        <section>
          <h2>VISA</h2>
          <div>Permanent Resident</div>
      </div>
      <main class="main">
        <section class="summary">
          <h2>Summary</h2>
          <p>
            English teacher and Website developer looking to focus career on
            programming. Over 2 years web programming experience spent
            designing, implementing, maintaining Django based online reservation
            system. 10+ years as a programming enthusiast, and a lifetime of
            using and exploring computers. Reliable, hard-working, and easy to
            get along with. Loves challenging problems and puzzles.
          </p>
        </section>
        <section class="experience">
          <h2>Experience</h2>

          <!-- Travis English Lessons -->
          <div class="job">
            <div class="job__dates">
              <div>2019 - 06</div>
              <span class="lnr lnr-chevron-down"></span>
              <div>Present</div>
            </div>
            <div class="job__content">
              <div class="job__header">
                <div>
                  <span class="job__title"
                    >English Teacher / Web Developer</span
                  >
                  <span class="job__location"> Fukuoka, Japan </span>
                </div>
                <div>
                  <span class="job__company">Travis English Lessons</span>
                  <span class="job__position">Proprietor</span>
                </div>
              </div>
              <p>
                Manage and teach conversational English lessons, formal classes,
                and online sessions. Management of teachers, students, and
                schedules proved to be tedious and error-prone. This prompted
                the creation of an online reservation and scheduling system.
                Though challenging, the process of building the web app reawoke
                my desire for programming and became the most satisfying part of
                the job.
              </p>
              <ul class="job__points">
                <li>
                  Facilitate English lessons, classes, and online sessions
                </li>
                <li>
                  Coordinate with venues, manage schedules for multiple
                  teachers, and take reservations from customers in English and
                  Japanese.
                </li>
                <li>
                  Design, build, and maintain website and reservation portal
                </li>
              </ul>
              <p>
                <strong>Key achievement: </strong>
                Manage a business while simultaneously building an automated
                reservation and scheduling system, reducing errors and
                increasing productivity.
              </p>
            </div>
          </div>

          <!-- Global Cafe -->
          <div class="job">
            <div class="job__dates">
              <div>2015 - 02</div>
              <span class="lnr lnr-chevron-down"></span>
              <div>2019 - 05</div>
            </div>
            <div class="job__content">
              <div class="job__header">
                <div>
                  <span class="job__title">English Teacher</span>
                  <span class="job__location"> Fukuoka, Japan </span>
                </div>
                <div>
                  <span class="job__company">Global Cafe</span>
                  <span class="job__position">Employee</span>
                </div>
              </div>
              <p>
                Teaching English in a casual setting. This position forced me to
                overcome my shyness. Being the center of attention, holding
                meetings, and being comfortable speaking in front of groups were
                some major achievements. This position requires high level
                conversational and people skills.
              </p>
              <ul class="job__points">
                <li>
                  Facilitate daily casual ‘cafe style’ English conversation
                  sessions
                </li>
                <li>Hold formal English classes multiple times a week</li>
                <li>
                  Other services: translations, practice English presentations,
                  English ‘native’ check, English level testing
                </li>
              </ul>
              <p>
                <strong>Key achievement: </strong>
                Becoming a key member of the cafe, helping to build a successful
                business and instructing hundreds of students, of all ages and
                English levels, to find fun and excitement in a new language.
              </p>
            </div>
          </div>

          <!-- Refaction Apps -->
          <div class="job">
            <div class="job__dates">
              <div>2010 - 04</div>
              <span class="lnr lnr-chevron-down"></span>
              <div>2013 - 03</div>
            </div>
            <div class="job__content">
              <div class="job__header">
                <div>
                  <span class="job__title">iOS Programmer</span>
                  <span class="job__location">
                    Hiroshima / Kagoshima, Japan
                  </span>
                </div>
                <div>
                  <span class="job__company">Refaction Apps</span>
                  <span class="job__position">Proprietor</span>
                </div>
              </div>
              <p>
                Refraction Apps was established to pursue my programming
                passion. Ultimately closed as the business was not profitable.
                Amazing opportunity to develop my programming skills and, more
                importantly, experience the challenges of programming outside
                academia. Problem-solving skills and self-reliance were
                necessary to overcome countless unforeseen challenges.
              </p>
              <ul class="job__points">
                <li>Design, build, publish, and update iOS applications</li>
                <li>Create images, icons, and other required assets</li>
                <li>
                  Maintain Application website and handle customer support
                </li>
              </ul>
              <p>
                <strong>Key achievement: </strong>
                Free health application ‘Weight Recorder’ with two major
                versions and over 600,000 downloads.
              </p>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>
{% endblock content %}