{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
<div class="body-column portfolio">

  <!-- NAVBAR -->
  {% include 'portfolio/includes/navbar.html' with selected='projects' %}

  <div class="responsive-columns">

    <!-- SIDBAR -->
    <div class="sidebar sidebar-width">
      <div class="sidebar__image-container">
        <img
          class="sidebar__image"
          src="{% static 'portfolio/img/travis-photo3.jpg' %}"
          alt="Profile picture"
        />
      </div>
      <div class="sidebar__description">
        <p>
{% blocktrans %}
<b>I build web applications.</b> From concept to final design, I create web
apps that simplify complex and tedious tasks.
{% endblocktrans %}
        </p>
        <p>
{% blocktrans %}
By automating and simplifying problems, I create applications to reduce
the burden of tedious and error prone work, saving my customers time and
reducing their mental load.
{% endblocktrans %}
        </p>
      </div>
    </div>

    <!-- MAIN -->
    <main class="main">
      <div id="projects" class="fixed-width-container gaps-lg">

        <!-- TESTIMONIAL -->
        {% comment %}
        <div class="testimonial desktop-only padding-bottom-lg">
          <q class="testimonial__quote">
            In a short period of time, Joe has transformed our team into user
            advocates, a transformation that has given us a unique competitive
            advantage.
          </q>

          <span class="testimonial__name"><b>Matthew Bray, PH.D</b></span>
          <span class="testimonial__title">
            IT Director, CT Small Business, Wolters Kumwer
          </span>
        </div>
        {% endcomment %}

        <!-- PROJECT 1 -->
        <div class="project-item">

          <div class="project-item__image-container">
            <img 
              class="project-item__image"
              src="{% static 'portfolio/img/project_1.png' %}"
              alt="sample reservation project html code" 
            />
          </div>          

          <div class="project-item__details">
            <h2 class="project-item__title h2 margin-bottom-gap">
{% blocktrans %}
Reservation Web Application
{% endblocktrans %}
            </h2>
            <table class="table w-100 margin-bottom-gap">
              <tr>
                <th class="em">{% trans "who" %}</th>
                <td>
{% blocktrans %}
Global Cafe English Conversation School
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "what" %}</th>
                <td>
{% blocktrans %}
Concept, Design, Implementation, Deployment, Maintenance
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "result" %}</th>
                <td>
{% blocktrans %}
90% decrease of administrative busiwork
{% endblocktrans %}
                </td>
              </tr>
            </table>
            <a
              class="btn margin-bottom-gap"
              alt="reservation web app details"
              href="{% url 'portfolio.project' 1 %}"
            >
              {% trans "Full Details" %} &rarr;
            </a>
            <a
              href="https://gitlab.com/tluke12345/travis-luke-site"
              class="btn margin-bottom-gap"
              target="_blank"
            >
              Source Code (gitlab) &rarr;
            </a>
          </div>
        </div>

        <!-- PROJECT 2 -->
        <div class="project-item">

          <div class="project-item__image-container">
            <img 
              class="project-item__image"
              src="{% static 'portfolio/img/project_2.png' %}"
              alt="bug and feature tracker project in use" 
            />
          </div>

          <div class="project-item__details">
            <h2 class="project-item__title h2 margin-bottom-gap">
{% blocktrans %}
Bug and Feature Tracker
{% endblocktrans %}
            </h2>
            <table class="table w-100 margin-bottom-gap">
              <tr>
                <th class="em">{% trans "who" %}</th>
                <td>
{% blocktrans %}
Global Cafe English Conversation School
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "what" %}</th>
                <td>
{% blocktrans %}
Concept, Design, Implementation, Deployment, Maintenance
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "result" %}</th>
                <td>
{% blocktrans %}
More features and less bugs, improved customer experience, and ease of
maintenance 
{% endblocktrans %}
                </td>
              </tr>
            </table>
            <a
              class="btn"
              alt="bug and feature tracker app details"
              href="{% url 'portfolio.project' 2 %}"
            >
              {% trans "Full Details" %} &rarr;
            </a>
            <a
              href="https://gitlab.com/tluke12345/travis-luke-site/-/tree/master/apps/issuetracker"
              class="btn margin-bottom-gap"
              target="_blank"
            >
              Source Code (gitlab) &rarr;
            </a>
          </div>
        </div>

        <!-- PROJECT 3 -->
        <div class="project-item">
          <div class="project-item__image-container">
            <img
              class="project-item__image"
              src="{% static 'portfolio/img/project_3.png' %}"
              alt="keyboard shortcut project page" 
            />
          </div>
          <div class="project-item__details">
            <h2 class="project-item__title h2 margin-bottom-gap">
{% blocktrans %}
Keyboard Shortcut Reference
{% endblocktrans %}
            </h2>
            <table class="table w-100 margin-bottom-gap">
              <tr>
                <th class="em">{% trans "who" %}</th>
                <td>
{% blocktrans %}
Personal Use
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "what" %}</th>
                <td>
{% blocktrans %}
Concept, Design, Implementation
{% endblocktrans %}
                </td>
              </tr>
              <tr>
                <th class="em">{% trans "result" %}</th>
                <td>
{% blocktrans %}
Organized shortcuts improve my efficiency and facilitate me in getting
more work done.
{% endblocktrans %}
                </td>
              </tr>
            </table>
            <a
              class="btn"
              alt="keyboard shortcut app details"
              href="{% url 'portfolio.project' 3 %}"
            >
              {% trans "Full Details" %} &rarr;
            </a>
            <a
              href="https://gitlab.com/tluke12345/travis-luke-site/-/tree/master/apps/keyboard"
              class="btn margin-bottom-gap"
              target="_blank"
            >
              Source Code (gitlab) &rarr;
            </a>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
{% endblock content %}