{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    
  <div class="body-column portfolio">
    <!-- NAVBAR -->
    {% include 'portfolio/includes/navbar.html'%}

    <!-- MAIN -->
    <main class="bg-200">
      <div class="fixed-width-container">

        <nav>
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>

        <article class="padding-top-lg gaps-lg">

          {# HEADER #} 
          <header class="flex column">
            <h1 class="h1">Shortcut Reference</h1>
            <p class="h1-sub">
              Interactive keyboard shortcut reference
            </p>
            <nav>
              <a
                href="https://gitlab.com/tluke12345/travis-luke-site/-/tree/master/apps/keyboard"
                class="btn margin-bottom-gap"
                target="_blank"
              >
                Source Code (gitlab) &rarr;
              </a>
            </nav>
          </header>
          
          
          {# Demo #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Project Link</h2>
            <nav>
              <a
                href="https://www.travis-luke.com/keyboard"
                class="btn margin-bottom-gap"
                target="_blank"
              >
                Shortcut reference &rarr;
              </a>
            </nav>

          </section>
              
              
          {# FEATURES #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Features</h2>

            <ul class="flex wrap list-style-none">
              <li class="feature">
                <div class="em margin-bottom-gap">Static Site</div>
                <p>
                  Vanilla HTML, CSS, and Javascript
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Programmatically Generated</div>
                <p>
                  HTML Keyboard generated in Javascript
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Expandable</div>
                <p>
                  Keyboard and Keybindings defined by Javascript Objects. Easily
                  updatable and expandable.
                </p>
              </li>
            </ul>
          </section>


          {# Technologies #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Technologies</h2>

            <div class="flex wrap">
              <div class="feature">
                <h3 class="h3">Front End</h3>
                <ul class="list-style-none">
                  <li><span class="tag">HTML</span></li>
                  <li><span class="tag">CSS</span></li>
                  <li><span class="tag">Javascript</span></li>
                </ul>
              </div>
          </section>


          {# PROCESS #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Details</h2>

            <div class="margin-bottom-pad">
              <h3 class="h3">The Problem</h3>
              <p>
                I moved to a Linux laptop as my primary development
                environment in 2019. To increase my speed, wherever possible,
                I use keyboard shortcuts and avoid the mouse. window managers
                shortcuts, vim keybindings, vscode shortcuts, browser shortcuts.
                The number of new key bindings became overwhelming.
              </p>
            </div>
            
            <div class="margin-bottom-pad">
              <h3 class="h3">The Process</h3>
              <p>
                The requirements were simple: shortcuts presented visually,
                online and accessible from anywhere, data-driven and updatable.
              </p>
              <p>
                HTML, CSS, Javascript provide enough functionality. First was 
                implementing the programmatically generated keyboard. Sizing,
                spacing, and multiple keyboard layouts were challenging.
              </p>
              <p>
                Next was to create a data structure to represent a keybinding.
                This proved more complicated than expected as, in addition to
                key modifiers such as shift or ctrl, there are also chords, 
                a group of keys called in succession.
              </p>
              <p>
                Next was the logic to maintain the current selection state as well
                as handling the various events.
              </p>
              <p>
                Finally, styles to make the page visually appealing and
                responsive enough to work on mobile devices.
              </p>
            </div>

            <div class="margin-bottom-pad">
              <h3 class="h3">The Results</h3>
              <p>
                My productivity has improved dramatically with centralized
                keybinding documentation. Outside of the browser, my computer
                usage is almost entirely keyboard based.
              </p>
              <p>
                Although fulfilling the initial requirements, there is room for
                improvements. Make usage and coloring more intuitive. Search 
                for key by function. Backend to serve keyboard and key binding 
                data.
              </p>
            </div>


          </section>


          {# GALLERY #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Gallery</h2>
            <div class="gallery">

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/keyboard_page.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/keyboard_page_Small.png' %}"
                  alt="keyboard shortcut reference page"
                />
              </a>
              <figcaption class="gallery__caption">
                Keyboard shortcut reference page
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/keyboard_keys_full.JPG' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/keyboard_keys.JPG' %}"
                  alt="excerpt from the key binding definitions file"
                />
              </a>
              <figcaption class="gallery__caption">
                Excerpt from the key binding definitions file
              </figcaption>
            </figure>

            </div>
          </section>

        </article>

        <nav class="padding-top-lg">
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>
      </div>


    </main>
  </div>
{% endblock content %}