{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    
  <div class="body-column portfolio">
    <!-- NAVBAR -->
    {% include 'portfolio/includes/navbar.html'%}

    <!-- MAIN -->
    <main class="bg-200">
      <div class="fixed-width-container">

        <nav>
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>

        <article class="padding-top-lg gaps-lg">

          {# HEADER #} 
          <header class="flex column">
            <h1 class="h1">Reservation Web Application</h1>
            <p class="h1-sub">
              Event management system and online reservation portal.
            </p>
            <nav>
              <a
                href="https://gitlab.com/tluke12345/travis-luke-site"
                class="btn margin-bottom-gap"
                target="_blank"
              >
                Source Code (gitlab) &rarr;
              </a>
            </nav>
          </header>
          
          
          {# Demo #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Interactive Demo</h2>
            <div class="margin-bottom-gap">
              <p>
                Feel free to try the interactive demo.
              </p>
              <p>
                You are free to add / edit / remove anything as the database
                has been populated with dummy data and will be reset
                periodically.
              </p>
              <p>
                Note: the demo server is hosted on a free account and
                performance is reduced. Some features, such as email and
                Amazon S3 assets, are disabled. 
              </p>
            </div>

            <table class="table margin-bottom-pad">
              <tr>
                <th class="em">Username</th>
                <td>demo</td>
              </tr>
              <tr>
                <th class="em">Password</th>
                <td>demo</td>
              </tr>
            </table>

            <nav>
              <a
                href="https://tluke12345-travis-luke-demo.herokuapp.com"
                class="btn margin-bottom-gap"
                target="_blank"
              >
                Demo Public Website &rarr;
              </a>
              <a
                href="https://tluke12345-travis-luke-demo.herokuapp.com/em/events/calendar/current/"
                class="btn"
                target="_blank"
              >
                Demo Management Dashboard &rarr;
              </a>
            </nav>

          </section>
              
              


          {# FEATURES #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Features</h2>

            <ul class="flex wrap list-style-none">
              <li class="feature">
                <div class="em margin-bottom-gap">Reservation Portal</div>
                <p>
                  Easily make reservations and see the current availability
                  status. Localized in English and Japanese.
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Customer Reservation Page</div>
                <p>
                  Customers can change or cancel reservations using auto -
                  generated reservation page
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Blog</div>
                <p>
                  Create content and connect with your customers
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Management Dashboard</div>
                <p>
                  Teachers and managers can add, edit, or remove events and
                  reservations.
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Authentication</div>
                <p>
                  Access is controlled using Django's state of the art 
                  authentication tools.
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Contact Form Management</div>
                <p>
                  Messages can be accessed, categorized and searched from the 
                  management dashboard.
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Automatic Email</div>
                <p>
                  Confirmation, reminder, and admin emails automatically 
                  generated and sent
                </p>
              </li>
              <li class="feature">

                <div class="em margin-bottom-gap">Searchable History</div>
                <p>
                  Search and filter past events, reservations, and customers
                </p>
              </li>
              <li class="feature">
                <div class="em margin-bottom-gap">Reporting</div>
                <p>
                  Export CSV reports to simplify tracking hours and income
                </p>
              </li>
            </ul>
          </section>


          {# Technologies #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Technologies</h2>

            <div class="flex wrap">
              <div class="feature">
                <h3 class="h3">Front End</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Django Templates</span></li>
                  <li><span class="tag">Javascript</span></li>
                  <li><span class="tag">HTMX (Ajax Library)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Back End</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Django (Python)</span></li>
                  <li><span class="tag">Wagtail (CMS - Blog)</span></li>
                  <li><span class="tag">PostgreSQL (Database)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Services and APIs</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Heroku (Hosting)</span></li>
                  <li><span class="tag">Amazon S3 (Static Files)</span></li>
                  <li><span class="tag">SendInBlue (Mailing Service)</span></li>
                  <li><span class="tag">ImproveMX (Email Forwarding)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Development</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Sass</span></li>
                </ul>
            </div>
          </section>


          {# PROCESS #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Details</h2>

            <div class="margin-bottom-pad">
              <h3 class="h3">The Problem</h3>
              <p>
                My previous job was an English teacher at an English
                conversation cafe. Unfortunately, the cafe closed when the 
                owner moved abroad. A few other teachers and I decided to
                continue teaching at nearby cafes.
              </p>
              <p>
                The coordination of lesson times, locations, and teachers was
                difficult. In addition there were numerous communications with
                customers and cafes conducted in both Japanese and English. I
                was overwhelmed with all of the error-prone busiwork.
              </p>
              <p>
                We tried many ways to improve the situation with various
                degrees of success: LINE business account, google forms, email
                lists.
              </p>
              <p>
                I searched many reservation and event management services, but
                nothing matched our requirements and, in general, added too 
                much complexity.
              </p>
              <p>
                With my interest in programming and web development, I decided
                to invest my time building a custom solution tailored to my
                needs.  
              </p>

            </div>
            <div class="margin-bottom-pad">
              <h3 class="h3">The Process</h3>
              <p>
                The First and most important decision was which platform to use.
                I like Python and, as a newcomer to web development, I wanted a
                popular framework with all the tools built in.
              </p>
              <p>
                I made a list of the minimal functionality I needed:
              </p>
              <ul class="ul">
                <li>Customers can make reservations online</li>
                <li>Automatic emails</li>
                <li>Contact Form</li>
                <li>Simple (customers are not necessarily computer savvy)</li>
              </ul>
              <p>
                After 3 months of hectic studying and researching, I was able to
                deploy the first version of the reservation web application.
              </p>
              <p>
                Since then, there have been many revisions, features, and a
                major update including a move to a new hosting provider.
              </p>

            </div>
            <div class="margin-bottom-pad">
              <h3 class="h3">The Results</h3>
              <p>
                The app has been a major success and reduced busiwork to almost
                none. Posting schedules, messaging to customers and cafes,
                communication with other teachers has been automated away. I can
                focus on the work I am interested in.
              </p>
              <p>
                My customers are more satisfied. There is an easy to understand
                consitent way to check the schedule, make reservations, and
                contact me.
              </p>
            </div>


          </section>


          {# GALLERY #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Gallery</h2>
            <div class="gallery">

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/em_home_ja.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/em_home_ja_Small.png' %}"
                  alt="customer portal"
                />
              </a>
              <figcaption class="gallery__caption">
                Customer reservation portal (localized to Japanese and English)
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/em_blog.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/em_blog_Small.png' %}"
                  alt="Blogs page"
                />
              </a>
              <figcaption class="gallery__caption">
                Blogs page
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/em_manager_calendar.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/em_manager_calendar_Small.png' %}"
                  alt="Management dashboard"
                />
              </a>
              <figcaption class="gallery__caption">
                Management Dashboard
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/em_manager_event.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/em_manager_event_Small.png' %}"
                  alt="managing event page"
                />
              </a>
              <figcaption class="gallery__caption">
                Managing event
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/em_manager_blog_edit.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/em_manager_blog_edit_Small.png' %}"
                  alt="editing blog page"
                />
              </a>
              <figcaption class="gallery__caption">
                Edit blog
              </figcaption>
            </figure>

            </div>
          </section>

        </article>

        <nav class="padding-top-lg">
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>
      </div>


    </main>
  </div>

{% endblock content %}