{% extends 'portfolio/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    
  <div class="body-column portfolio">
    <!-- NAVBAR -->
    {% include 'portfolio/includes/navbar.html'%}

    <!-- MAIN -->
    <main class="bg-200">
      <div class="fixed-width-container">

        <nav>
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>

        <article class="padding-top-lg gaps-lg">

          {# HEADER #} 
          <header class="flex column">
            <h1 class="h1">Issue Tracker</h1>
            <p class="h1-sub">
              Feature and bug tracking system
            </p>
            <nav>
              <a
                href="https://gitlab.com/tluke12345/travis-luke-site/-/tree/master/apps/issuetracker"
                class="btn margin-bottom-gap"
                target="_blank"
              >
                Source Code (gitlab) &rarr;
              </a>
            </nav>
          </header>
          
          
          {# Demo #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Interactive Demo</h2>
            <div class="margin-bottom-gap">
              <p>
                Feel free to try the interactive demo.
              </p>
              <p>
                You are free to add / edit / remove anything as the database
                has been populated with dummy data and will be reset
                periodically.
              </p>
              <p>
                Note: the demo server is hosted on a free account and
                performance is reduced. Some features, such as email and
                Amazon S3 assets, are disabled. 
              </p>
            </div>

            <table class="table margin-bottom-pad">
              <tr>
                <th class="em">Username</th>
                <td>demo</td>
              </tr>
              <tr>
                <th class="em">Password</th>
                <td>demo</td>
              </tr>
            </table>

            <nav>
              <a
                href="https://tluke12345-travis-luke-demo.herokuapp.com/tracker/projects"
                class="btn"
                target="_blank"
              >
                Demo Issue Tracker &rarr;
              </a>
            </nav>

          </section>
              
              


          {# FEATURES #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Features</h2>

            <ul class="flex wrap list-style-none">
              <li class="feature">
                <div class="em margin-bottom-gap">Organization</div>
                <p>
                  Track Issues by project, priority, or by tag
                </p>
                <div class="em margin-bottom-gap">Issue History</div>
                <p>
                  Auditable issues with complete history
                </p>
                <div class="em margin-bottom-gap">Search</div>
                <p>
                  Search and filter issues
                </p>
              </li>
            </ul>
          </section>


          {# Technologies #}
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Technologies</h2>

            <div class="flex wrap">
              <div class="feature">
                <h3 class="h3">Front End</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Django Templates</span></li>
                  <li><span class="tag">Javascript</span></li>
                  <li><span class="tag">HTMX (Ajax Library)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Back End</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Django (Python)</span></li>
                  <li><span class="tag">PostgreSQL (Database)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Services and APIs</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Heroku (Hosting)</span></li>
                </ul>
              </div>

              <div class="feature">
                <h3 class="h3">Development</h3>
                <ul class="list-style-none">
                  <li><span class="tag">Sass</span></li>
                </ul>
            </div>
          </section>


          {# PROCESS #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Details</h2>

            <div class="margin-bottom-pad">
              <h3 class="h3">The Problem</h3>
              <p>
                There are many times I want to make notes about projects I am
                working on. Perhaps there is a small bug when rendering on the
                iPhone. Other times I have an idea about a new feature I want to
                implement. It may be a simple list of things to complete.
              </p>
              <p>
                I stored these notes in various files across many devices. I
                needed a centralized location, preferably online, where I could
                view, add, and update these notes. 
              </p>
            </div>
            <div class="margin-bottom-pad">
              <h3 class="h3">The Process</h3>
              <p>
                I decided to add it to my existing website. The backend would
                use Django as I could implement it very quickly. 
              </p>
              <p>
                To push myself and try new techniques, I used the HTMX
                javascript library to handle AJAX website updates. I have
                started using some of these techniques in my other projects.
              </p>
            </div>
            <div class="margin-bottom-pad">
              <h3 class="h3">The Results</h3>
              <p>
                I now have a centralized location to maintain bugs, notes, and
                ideas. This has lessened the mental burden and allowed me to
                focus during development. I fix bugs, implement features, and
                discard unused ideas more efficiently.
              </p>
            </div>


          </section>



          {# GALLERY #} 
          <section>
            <h2 class="h2 border-bottom margin-bottom-pad">Gallery</h2>
            <div class="gallery">

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/tracker_home.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/tracker_home_Small.png' %}"
                  alt="Issue tracker home page"
                />
              </a>
              <figcaption class="gallery__caption">
                Issue tracker home page
              </figcaption>
            </figure>
            
            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/tracker_project.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/tracker_project_Small.png' %}"
                  alt="Projects Page"
                />
              </a>
              <figcaption class="gallery__caption">
                Project pages lists all active issue for that project
              </figcaption>
            </figure>

            <figure class="gallery__item">
              <a href="{% static 'portfolio/img/tracker_edit.png' %}" >
                <img 
                  class="gallery__image"
                  src="{% static 'portfolio/img/tracker_edit_Small.png' %}"
                  alt="Edit issue page"
                />
              </a>
              <figcaption class="gallery__caption">
                Editing Issue
              </figcaption>
            </figure>

            </div>
          </section>

        </article>

        <nav class="padding-top-lg">
          <a href="{% url 'portfolio' %}" class="btn">
            &larr; {% trans "Back" %}
          </a>
        </nav>
      </div>


    </main>
  </div>

{% endblock content %}