{% extends 'base.html' %}
{% load static %}


{% block icons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/eventManager/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/eventManager/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/eventManager/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/eventManager/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'img/eventManager/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#333333">
{% endblock icons %}

{# THEME #}
{##############################################################################}
{% block theme %}
  dark event_manager
{% endblock theme %}


{# NAVBAR #}
{##############################################################################}
{% block navbar %}
<div class="topbar__padding"></div>
<div class="topbar">


  <div class="titlebar">
    <div class="titlebar__left">
      {% block navbar__left %}
      {% endblock navbar__left %}
    </div>
    <div class="titlebar__center">
      <button class="btn btn--invisible" onclick="location.reload(); blur();">
        {% block navbar__title %}
        {% endblock navbar__title %}
      </button>
    </div>
    <div class="titlebar__right">
      {% block navbar__right %}
      <button class="bar__btn" onclick="Modal.show('app_menu'); blur();">
        {% include 'svg/menu' %}
      </button>
      {% endblock navbar__right %}
    </div>
  </div>


</div>

{# DJANGO Session Messages #}
{% if messages %}
  <div class="content-row u-margin-bottom-lg">
    {% include 'includes/django-messages.html' %}
  </div>
{% endif %}

{% endblock navbar %}


{# FOOTERBAR #}
{##############################################################################}
{% block footer %}
<div class="bottombar__padding"></div>
<div class="bottombar">
  <div class="flexbar">
      {% block footerbar__content %}
        <button class="bar__btn" onclick="Modal.show('options_modal')">
          {% include 'svg/3dots' %}
        </button>
        <span class="bar__space"></span>
      
      {% endblock footerbar__content %}
  </div>
</div>
{% endblock footer %}


{# MODAL #}
{##############################################################################}
{% block modal__content %}

{# OPTIONS MODAL #}
<div id="options_modal" data-title="Options">
  {% block options__content %}{% endblock options__content %}
</div>

{# APP MENU  #}
<div id="app_menu" data-title="Event Manager">
  {% block app_menu %}
  <div class="button_card">
    <a class="btn" href="{% url 'em.messages.index' %}">Messages</a> 
    <a class="btn" href="{% url 'em.emails.index' %}">Emails</a> 
    <a class="btn" href="{% url 'em.locations.index' %}">Locations</a>
    <a class="btn" href="{% url 'em.customers.index' %}">Customers</a>
  </div>

  <div class="button_card">
    <a class="btn btn--gray" href="{% url 'em.events.new' %}">Add Events</a>
    <a class="btn btn--gray" href="{% url 'em.namedDays.new' %}">Add Holidays</a>
    <a class="btn btn--gray" href="{% url 'em.reports.index' %}">Reports</a>
  </div>
  {% endblock app_menu %}
</div>

{% endblock modal__content %}



{# HTMX #}
{##############################################################################}
{% block js %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.4.1" integrity="sha384-1P2DfVFAJH2XsYTakfc6eNhTVtyio74YNA1tc6waJ0bO+IfaexSWXc2x62TgBcXe" crossorigin="anonymous"></script>
  <script src="{% static 'js/django_htmx.js' %}"></script>
  <script>
    document.body.addEventListener("htmx:configRequest", (event) => {
      event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
    });
  </script>
{% endblock js %}