{% extends 'eventManager/base.html' %}
{% load static %}

{% block navbar__left %}
  <a href="{% url 'em.events.calendar' %}" class="bar__btn">
    {% include 'svg/chevron-left' %}
  </a>
{% endblock navbar__left %}
{% block navbar__title %}
  Customers
{% endblock navbar__title %}

{% block content %}
  <div id="spinner" class="htmx-indicator">{% include 'svg/spinner' %}</div>
  
  {# SEARCH #}
  <div class="content-row">

    <div class="search-field">
      <input id="search_field_input"
             class="search-field__input" 
             type="text" 
             name="query"
             placeholder="Search..." 
             autocomplete="off"
             hx-get="{% url 'em.customers.search' %}" 
             hx-trigger="keyup changed delay:500ms" 
             hx-target="#page" 
             hx-indicator="#spinner"
             hx-swap="innerHTML">
      <button class="search-field__clear" onclick="clearSearch()">
        {% include 'svg/cross' %}
      </button>
    </div>

  </div>
  
  {# PAGE #}
  <div class="content-row" id="page">
    {% include 'eventManager/includes/customers_page.html' %}
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/accordian.js' %}"></script>
  <script src="{% static 'js/search_field.js' %}"></script>
{% endblock js %}