{% extends 'eventManager/base.html' %}

{% block navbar__left %}
<a href="{% url 'em.emails.index' %}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Email Details{% endblock navbar__title %}

{% block content %}
<div class="content-row">
  {# Status #}
  <div class="overflow_wrapper card">
    <table class="table table--borders">
      <tr>
        <th>Status</th>
        <td>
          {% if email_receipt.status_code == 201 %}
          <span class="status status--green">{{ email_receipt.status_code }}</span>
          {% else %}
          <span class="status status--red">{{ email_receipt.status_code }}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Email Type</th>
        <td>{{ email_receipt.email_type }}</td>
      </tr>
    </table>
  </div>

  {# Basic Info #}
  <div class="overflow_wrapper card">
    <table class="table table--borders">
      <tr>
        <th>Timestamp</th>
        <td>{{ email_receipt.timestamp|date:"Y/m/d H:i" }}</td>
      </tr>
      <tr>
        <th>Sender</th>
        <td>{{ email_receipt.sender }}</td>
      </tr>
      <tr>
        <th>Recipient</th>
        <td>{{ email_receipt.recipient }}</td>
      </tr>
    </table>
  </div>

  {# Details #}
  <div class="card">
    <div class="card--header">Details</div>
    <p>{{ email_receipt.details|linebreaksbr }}</p>
  </div>

  {# Related #}
  <div class="section-header">Related</div>
  <div class="overflow_wrapper card">
    <table class="table table--borders">
      <tr>
        <th>Related Type</th>
        <td>{{ email_receipt.related_type }}</td>
      </tr>
      <tr>
        <th>Related ID</th>
        <td>{{ email_receipt.related_id|default:"" }}</td>
      </tr>
    </table>

    {# Applicable Links #}
    {% with email_receipt.reservation as reservation %}
    {% if reservation %}
      <a href="{{ reservation.get_absolute_url }}" class="btn u-margin-top-md">
        View Reservation
      </a>
    {% endif %}
    {% endwith %}

    {% with email_receipt.message as message %}
    {% if message %}
      <a href="{{ message.get_absolute_url }}" class="btn u-margin-top-md">
        View Message
      </a>
    {% endif %}
    {% endwith %}

  </div>

</div>
{% endblock content %}

{% block footerbar__content %}
  <span class="bar__space"></span>
  <button class="bar__btn btn--red" 
          hx-delete=""
          hx-confirm="Delete?">
    {% include 'svg/trash' with class="icon--red" %}
  </button>
{% endblock footerbar__content %}