{% extends 'eventManager/base.html' %}
{% load static %}
{% load calendar %}

{% block navbar__title %}Email Previews{% endblock navbar__title %}
{% block navbar__right %}{% endblock navbar__right %}

{% block content %}
<div class="content-row">

  <div class="section-header">HTML Emails</div>
  <div class="button_card">
    {% for name, template in html_emails %}
      <a href="{% url 'em.emails.preview.html' template %}" class="btn">
        {{ name }}
      </a> 
    {% endfor %}
  </div>

  {% for name, template in text_emails %}
  <div class="section-header">{{ name }}</div>
  <div class="email_preview">
    {{ template|linebreaksbr }}
  </div>
  {% endfor %}

</div>
{% endblock content %}

{% block footer %}{% endblock footer %}