{% extends 'eventManager/base.html' %}

{% block navbar__left %}
<a href="{% url 'em.events.calendar' %}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Emails{% endblock navbar__title %}

{% block content %}
<div class="content-row">

  {# EMAIL RECEIPT ITEMS #}
  {% for email in email_receipts %}
  <div class="card">
    {% include 'eventManager/includes/email_item.html' %}
    <a href="{% url 'em.emails.item' email.pk %}" class="btn btn--overlay"></a>
  </div>
  {% endfor %}

  {# PAGINATION #}
  {% if email_receipts.has_other_pages %}
  {% include 'includes/paginator.html' with paginated_set=email_receipts %}
  {% endif %}

</div>
{% endblock content %}

{% block footerbar__content %}
  {% comment %} {{ block.super }} {% endcomment %}
  <span class="bar__space"></span>
  <button class="bar__btn" onclick="Modal.show('filter_modal')">
    {% include 'svg/filter' %}
  </button>
{% endblock footerbar__content %}

{% block modal__content %}
{{ block.super }}

{# FILTER MODAL #}
<form  id="filter_modal" 
       data-title="Filter/Order"
       class="form form--large_inputs"
       method="get">
  {# GET -> skip csrf #}
  {% include 'forms/render_form.html' with form=filter.form skip_csrf=True %}
  <div>
    <input class="btn" type="submit" value="Filter">
    <a class="btn btn--gray" href="{% url 'em.emails.index' %}">Clear All</a>
  </div>
</form>

{% endblock modal__content %}