{% extends 'eventManager/base.html' %}

{% block navbar__left %}
<a href="{{ event.get_calendar_url }}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Event{% endblock navbar__title %}

{% block content %}
<div class="content-row">
  
{# customers #}
  <div class="section-header">Customers</div>

  {% for reservation in event.reservations.all %}
  <div class="card">
    {% include 'eventManager/includes/reservation_item.html' %}
    <a class="btn btn--overlay" href="{% url 'em.reservations.item' reservation.pk %}"></a>
  </div>
  {% endfor %}
  
  <div>
    <a href="{% url 'em.reservations.new' %}?event={{ event.pk }}" class="btn">
      Add Customer
    </a>
  </div>

  {# details #}
  <div class="section-header">Details</div>
  {% include 'eventManager/includes/event_details.html' %}

</div>
{% endblock content %}

{% block footerbar__content %}

  {# EDIT #}
  <a class="bar__btn" href="{% url 'em.events.edit' event.pk %}">
    {% include 'svg/pencil' %}
  </a>
  <span class="bar__space"></span>
  
  {# PUBLIC #}
  {% if event.is_public %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Set Event PRIVATE?"
            hx-vals='{"action": "set_private"}'>
      {% include 'svg/users' with class="icon--green"%}
    </button>
  {% else %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Set Event PUBLIC?"
            hx-vals='{"action": "set_public"}'>
      {% include 'svg/users' with class="icon--red"%}
    </button>
  {% endif %}
  <span class="bar__space"></span>

  {# ACTIVE #}
  {% if event.is_active %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Set Event INACTIVE?"
            hx-vals='{"action": "set_inactive"}'>
      {% include 'svg/checkmark-circle' with class="icon--green"%}
    </button>
  {% else %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Set Event ACTIVE?"
            hx-vals='{"action": "set_active"}'>
      {% include 'svg/cross-circle' with class="icon--red"%}
    </button>
  {% endif %}
  <span class="bar__space"></span>
  
  {# Delete #}
  <button class="bar__btn" 
          hx-delete=""
          hx-confirm="Delete?">
    {% include 'svg/trash' with class="icon--red" %}
  </button>
{% endblock footerbar__content %}