{% extends 'eventManager/base.html' %}
{% load static %}
{% load calendar %}

{% block navbar__left %}
  <a class="bar__btn" href="{% url 'em.events.calendar' %}">
    {% include 'svg/cross' %}
  </a>
{% endblock navbar__left %}

{% block navbar__title %}Add Events{% endblock navbar__title %}

{% block navbar__right %}
  <button class="bar__btn" type="submit" form="events_new_month_form">Add</button>
{% endblock navbar__right %}

{% block content %}
<div class="content-row">
  {# Day Select Calendar #}
  <div class="u-border-radius">
    {% calendar_dark year month day calendar_items calendar_options %}
  </div>

  {# Form #}
  <form method="post" id="events_new_month_form" class="form form--large_inputs">
    {% include 'forms/render_form.html' %}
    <div>
      <button class="btn" type="submit">Add</button>
    </div>
  </form>
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/add_event.js' %}"></script>
{% endblock js %}