{% extends 'eventManager/base.html' %}
{% load static %}
{% load calendar %}

{% block navbar__left %}
  <a class="bar__btn" href="{% url 'm.index' %}">
    {% include 'svg/home' %}
  </a>
{% endblock navbar__left %}
{% block navbar__title %}Calendar{% endblock navbar__title %}

{% block content %}
  <div class="calendar-container">
  {% calendar_dark year month day calendar_items calendar_options %}
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
  {{ block.super }}
  <script>
    const handleEventClickEvent = function(event_id) {
      const url = window.location.origin + '/em/events/' + event_id
      window.location = url
    }
  </script>
{% endblock js %}