{% extends 'eventManager/base.html' %}

{% block navbar__left %}
<a class="bar__btn" href="{% url 'em.events.item' event.pk %}">
  {% include 'svg/cross' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Edit Event{% endblock navbar__title %}
{% block navbar__right %}
<button class="bar__btn" type="submit" form="form">Save</button>
{% endblock navbar__right %}

{% block content %}
<div class="content-row">
  <form method="post" id="form" class="form form--large_inputs">
    {% include 'forms/render_form.html' %}
    <div>
      <button class="btn" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}