{% extends 'eventManager/base.html' %}
{% load static %}

{% block navbar__left %}
<a href="{% url 'em.events.calendar' %}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Locations{% endblock navbar__title %}

{% block content %}
  <div id="spinner" class="htmx-indicator">{% include 'svg/spinner' %}</div>
  
  {# SEARCH #}
  <div class="content-row">

    <div class="search-field">
      <input id="search_field_input"
             class="search-field__input" 
             type="text" 
             name="search"
             placeholder="Search..." 
             autocomplete="off"
             hx-post="{% url 'em.locations.search' %}" 
             hx-trigger="keyup changed delay:500ms" 
             hx-target="#page" 
             hx-indicator="#spinner"
             hx-swap="innerHTML">
      <button class="search-field__clear" onclick="clearSearch()">
        {% include 'svg/cross' %}
      </button>
    </div>

  </div>
  
  {# PAGE #}
  <div class="content-row" id="page">
    {% include 'eventManager/includes/locations_page.html' %}
  </div>
{% endblock content %}

{% block footerbar__content %}
  <span class="bar__space"></span>
  <button class="bar__btn"
          hx-get="{% url 'em.locations.new' %}"
          hx-target="#page"
          hx-swap="afterbegin">
    {% include 'svg/plus' %}
  </button>
{% endblock footerbar__content %}


{% block css %}
  {{ block.super }}
  <style>
    .htmx-swapping {
      opacity: 0;
      transition: all 1s ease-out;
    }
  </style>
{% endblock css %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/search_field.js' %}"></script>
{% endblock js %}