{% extends 'eventManager/base.html' %}


{% block navbar__left %}
<a href="{% url 'em.messages.index' %}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Message Details{% endblock navbar__title %}

{% block content %}
<div class="content-row">
  
  <div class="overflow_wrapper card">
    <table class="table table--borders">
      <tr>
        <th>Timestamp</th>
        <td>{{ message.timestamp|date:"Y/m/d H:i" }}</td>
      </tr>
      <tr>
        <th>Sender</th>
        <td>{{ message.sender }}</td>
      </tr>
    </table>
  </div>

  {# Message #}
  <div class="section-header">Message</div>
  <div class="card">
    <p>{{ message.content|linebreaksbr }}</p>
  </div>


  {# Related #}
  <div class="section-header">Related</div>
  <div class="overflow_wrapper card">
    <table class="table table--borders">
      <tr>
        <th>Related Type</th>
        <td>{{ message.sender_type }}</td>
      </tr>
      <tr>
        <th>Related ID</th>
        <td>{{ message.sender_id|default:"" }}</td>
      </tr>
    </table>

    {# Applicable Links #}
    {% with message.reservation as reservation %}
    {% if reservation %}
      <a href="{{ reservation.get_absolute_url }}" class="btn u-margin-top-md">
        View Reservation
      </a>
    {% endif %}
    {% endwith %}
  </div>

</div>
{% endblock content %}

{% block footerbar__content %}
  <button class="bar__btn"
          hx-post=""
          hx-confirm="Ignore?"
          hx-vals='{"action": "ignore"}'>
    {% include 'svg/poop' %}
  </button>
  <span class="bar__space"></span>
  <button class="bar__btn"
          hx-delete=""
          hx-confirm="Delete?">
    {% include 'svg/trash' with class="icon--red" %}
  </button>
{% endblock footerbar__content %}