{% extends 'eventManager/base.html' %}

{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}
{% block navbar__title %}Reports{% endblock navbar__title %}

{% block content %}
<div class="content-row">

  <form method="post" class="form form--large_inputs">
    {% include 'forms/render_form.html' %}
    <div>
      <button class="btn" name="action" value="generate_csv" type="submit">Generate</button>
    </div>
  </form>

</div>
{% endblock content %}

{% block footer %}{% endblock footer %}