{% extends 'eventManager/base.html' %}

{% block navbar__left %}
<a href="{% url 'em.events.item' reservation.event.pk %}" class="bar__btn">
  {% include 'svg/chevron-left' %}
</a>
{% endblock navbar__left %}
{% block navbar__title %}Reservation{% endblock navbar__title %}

{% block content %}
<div class="content-row">

  {# CANCELED #}
  {% if reservation.canceled_at %}
  <div class="card card--red">
    <div class="card--header">
      Canceled
    </div>
    <span style="font-size: 1.3rem; opacity: .6;">{{ reservation.canceled_at|date:"Y/m/d H:i" }}</span>
    <p>{{ reservation.canceled_msg }}</p>
  </div>
  {% endif %}
  
  {# RESERVATION INFO #}
  {% include 'eventManager/includes/reservation_details.html' with reservation=reservation %}
  
  {# Emails #}
  <div class="section-header">Emails</div>
  {% for email in emails %}
    <div class="card">
      {% include 'eventManager/includes/email_item.html' %}
      <a href="{% url 'em.emails.item' email.pk %}?referer={{ request.path }}" class="btn btn--overlay"></a>
    </div>
  {% empty %}
    <div class="card">
      <p style="font-size: 1.3rem; opacity: .6;">None</p>
    </div>
  {% endfor %}

</div>
{% endblock content %}

{% block footerbar__content %}
  
  {# EDIT #}
  <a class="bar__btn" href="{% url 'em.reservations.edit' reservation.pk %}">
    {% include 'svg/pencil' %}
  </a>
  <span class="bar__space"></span>

  {# OPTIONS #}
  {{ block.super }}

  {# ACTIVE #}
  {% if reservation.canceled_at %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Uncancel?"
            hx-vals='{"action": "uncancel"}'>
      {% include 'svg/cross-circle' with class="icon--red"%}
    </button>
  {% else %}
    <button class="bar__btn"
            hx-post=""
            hx-confirm="Cancel?"
            hx-vals='{"action": "cancel"}'>
      {% include 'svg/checkmark-circle' with class="icon--green"%}
    </button>
  {% endif %}
  <span class="bar__space"></span>
  
  {# Delete #}
  <button class="bar__btn" 
          hx-delete=""
          hx-confirm="Delete?">
    {% include 'svg/trash' with class="icon--red" %}
  </button>
{% endblock footerbar__content %}

{% block options__content %}


  {# ACTIONS #}
  <div class="button_card">

    {# Send Reminder #}
    <button class="btn"
            hx-post=""
            hx-confirm="Send Reminder?"
            hx-vals='{"action": "send_reminder"}'>
      Send Reminder
    </button>

    {# Copy Token #}
    <button class="btn" onclick="copyToClipboard('{{ reservation.token }}')">
      Copy Token
    </button>
  </div>

  {# LINKS #}
  <div class="button_card">
    <a class="btn btn--gray" href="{{ reservation.url }}">Customer Page</a>
    <a class="btn btn--gray" href="{{ reservation.cancel_url }}">Cancel Page</a>
    <a class="btn btn--gray" href="{{ reservation.reschedule_url }}">Reschedule Page</a>
  </div>

{% endblock options__content %}