{% extends 'eventManager/base.html' %}

{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}
{% block navbar__title %}Add Reservation{% endblock navbar__title %}
{% block navbar__right %}
  <button class="bar__btn" type="submit" form="form">Add</button>
{% endblock navbar__right %}


{% block content %}
<div class="content-row">
  <form method="post" id="form" class="form form--large_inputs">
    {% include 'forms/render_form.html' %}
    <div>
      <button class="btn" type="submit">Add</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}