{% extends 'hourtracker/base.html' %}

{% block content %}
<div class="container">
  <div class="titlebar">
  
    {# Left button #}
    <div class="titlebar__left">
      <a class="bar__btn" href="{% url 'm.index' %}">
        {% include 'svg/chevron-left' %}
      </a>
    </div>
  
    {# Title #}
    <span class="titlebar__center">
      <button class="bar__btn" onclick="location.reload(); blur();">
        Hours
      </button>
    </span>
  
    <div class="titlebar__right">
      <button class="bar__btn" data-micromodal-trigger="menu">
        {% include 'svg/menu' %}
      </button>
  
    </div>
  </div>

  
  <section class="categories">
    {% for category in all_categories %}
      <button
      class="category {% if category.active %}active{% endif %}"
      hx-get="{% url 'hours.categories.item' category.name %}"
      hx-select=".category-detail"
      hx-swap="innerHTML"
      hx-target=".category-detail"
      onclick="setActive(this); blur();"
      >
        <span class="category__name">{{ category.name }}</span>
        <span class="category__balance">{{ category.balance }}</span>
      </button>
    
    {% empty %}
      <h2>No Categories Created. Use admin to create.</h2>
    {% endfor %}
  </section>


  {% if active_category %}
  <section class="category-detail">
    <a href="{% url 'hours.entries.new' active_category.name %}">Add Entry</a>
    <table>
      <thead>
        <tr>
          <th>Week</th>
          <th>Hours</th>
          <th>Quota</th>
          <th>Delta</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td>{{entry.datetime|date:"Y/m/d"}}</td>
          <td>{{entry.hours}}</td>
          <td>{{entry.quota}}</td>
          <td>{{entry.delta}}</td>
          <td>{{entry.balance}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}
  
  <!-- SMALL -->
  
  
  
  <div class="modal medium" id="menu" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
          
        <header>
          <h2 class="modal__title" id="modal-title">Menu</h2>
          <button class="modal__close" data-micromodal-close></button>
        </header>
        <main>
          <a href="#">Add</a>
          <a href="#">Edit</a>
        </main>
      
      </div>
    </div>
  </div>
</div>

{% endblock content %}