{% load static %}

<!DOCTYPE html>
<html>

  {##########################################################################}
  {# HEAD #}
  {##########################################################################}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/hourtracker/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/hourtracker/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/hourtracker/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/hourtracker/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/hourtracker/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#333333">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@100;300;400;600&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static 'css/hourtracker/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tlmodal.css' %}" />
    
    <title>{% block title %}Hours Tracker{% endblock title %}</title>

  </head>

  <body>
    {##########################################################################}
    {# CONTENT #}
    {##########################################################################}
    {% block content %}{% endblock content %}
    
    {##########################################################################}
    {# JS #}
    {##########################################################################}
    <script src="https://unpkg.com/htmx.org@1.4.1" integrity="sha384-1P2DfVFAJH2XsYTakfc6eNhTVtyio74YNA1tc6waJ0bO+IfaexSWXc2x62TgBcXe" crossorigin="anonymous"></script>
    {% comment %} <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="{% static 'js/hours/script.js' %}"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      MicroModal.init({
        disableScroll: true,
        awaitOpenAnimation: true,
        awaitCloseAnimation: true,
        disableFocus: true,
      });
      
    </script>

  </body>
</html>