{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}

{##############################################################################}
{# HEAD #}
{##############################################################################}
{% block head %}

  <title>{% block title %}Travis 英会話{% endblock title %}</title>
  <meta name="description" content="Travis Luke's english lessons, blog, and other interests">

  {# OGP #}
  <meta property="og:url" content="https://www.travis-luke.com">
  <meta property="og:title" content="Travis Luke's Site">
  {% comment %} <meta property="og:site_property" content=""> {% endcomment %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:locale:alternate" content="ja_JP" />
  {% comment %} <meta property="og:images" content=""> {% endcomment %}
  <meta property="og:image" content="{% static 'img/website/travis-family.jpg' %}" />
  <meta property="og:description" content="Travis Luke's english lessons, blog, and other interests">
  
  {# Twitter #}
  <meta name="twitter:card" contents="summary">
  {% comment %} {# unneeded unless you want somthing twitter specific #}
  <meta name="twitter:title" contents="Travis Luke's Site">
  <meta name="twitter:description" contents="">
  <meta name="twitter:image" contents="">
  {% endcomment %}
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/english/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/english/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/english/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/english/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/english/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#94704a">
  <meta name="theme-color" content="#eee6dd">
{% endblock head %}



{##############################################################################}
{# CSS #}
{##############################################################################}
{% block fonts %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Serif+JP:wght@400;700;900&display=swap" rel="stylesheet" />
{% endblock fonts %}

{##############################################################################}
{# THEME #}
{##############################################################################}
{% block theme %}
  english
{% endblock %}

{##############################################################################}
{# NAVBAR #}
{##############################################################################}
{% block navbar %}
  <nav class="flexbar flexbar--wrap">

    <a href="{% url 'website.root' %}" class="bar__btn bar__brand">
      travis
    </a>    
    
    <span class="bar__space"></span>
    
    
    <div class="flexbar__row">
      {# Make Reservation #}
      <a href="{% url 'english_calendar' %}" class="bar__btn" aria-label="Reservation">
        <span>{% trans "Reservations" %}</span>
      </a>

      {# Blog #}
      <a href="{% slugurl 'blog' %}" class="bar__btn" aria-label="Blogs">
        <span>{% trans "Blog" %}</span>
      </a>

      {# About/FAQ #}
      <a href="{% url 'website.faq' %}" class="bar__btn" aria-label="Frequently Asked Questions">
        <span>{% trans "FAQ" %}</span>
      </a>
    
      {# Contact #}
      <a href="{% url 'english_contact' %}" class="bar__btn" aria-label="Contact Me">
        <span>{% trans "Contact" %}</span>
      </a>
    </div>
  </nav>
{% endblock navbar %}

{##############################################################################}
{# FOOTER #}
{##############################################################################}
{% block footer %}
  <footer class="footer">
    <div class="footer__contents">
      <div class="footer__col">
        <div class="footer__col-header">{% trans "Links" %}</div>
        <nav class="footer__col-nav">
          <a href="{% url 'english_calendar' %}">{% trans "Reservations" %}</a>
          <a href="{% url 'website.faq' %}">{% trans "FAQ" %}</a>
          <a href="{% url 'english_contact' %}">{% trans "Contact" %}</a>
        </nav>
      </div>
      <div class="footer__col">
        <div class="footer__col-header">{% trans "Social" %}</div>
        <a href="https://line.me/R/ti/p/@362zphkh" class="line-button {{ LANGUAGE_CODE }}">
          <i></i>
          <span>{% trans "Add Friend" %}</span>
        </a>
      </div>
      <div class="footer__col">
        <div class="footer__col-header">{% trans "Language" %}</div>
        {% include 'includes/language_links.html' %}
      </div>
    </div>
    <div class="footer__copyright">
      <a href="{% url 'em.events.calendar' %}" class="footer__copyright-link">
        © Travis Luke 2021
      </a>
    </div>
  </footer>
{% endblock footer %}

{##############################################################################}
{# JS #}
{##############################################################################}
{% block js %}
  {{ block.super }}
{% endblock js %}