{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}
{% load calendar %}

{% block content %}


  <div class="content-row intro">
    {# Intro header #}
    <div class="">

      <h1 class="intro__title">{% trans "Travis English Lessons" %}</h1>
      <div class="intro__subtitle">{% trans "Conversational English without the stress" %}</div>
{% comment %} 
      <div class="intro__desc">
{% blocktrans %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur consectetur tempore mollitia illo, aperiam molestiae temporibus alias vero quis amet fuga deleniti quam saepe nam est voluptate repellendus magnam exercitationem?
{% endblocktrans %}
      </div> {% endcomment %}

    </div>
  </div>


  <div class="calendar-container">
    {% calendar year month day calendar_items calendar_options %}
  </div>
{% endblock content %}

{% block modal__content %}
{% for day, events in events_by_day.items %}

{# Day Modal #}
<div id="modal_{{ day }}" data-title="{{ year }}年 {{ month }}月 {{ day }}日" data-path="{{ day }}">

  {# Event #}
  {% for event in events %}
  <div class="event-card">

    {# Details Section (left) #}
    <table class="table">
      {% include 'website/includes/event_details.html' %}
    </table>

    {# Reservation Button (right) #}
    <div>
      {% if event.allow_public_reservation %}
        <a href="{% url 'english_reservation_add' %}?event={{ event.pk }}" class="btn">
          {{ event.reservation_button_message }}
        </a>
      {% else %}
        <div class="btn disabled">
          {{ event.reservation_button_message }}
        </div>
      {% endif %}
    </div>

  </div>
  {% endfor %}

</div>
{% endfor %}
{% endblock modal__content %}

{% block js %}
  {{ block.super }}
  <script>
    const handleDayClickEvent = function(day) {
      Modal.show('modal_' + day)
    }
    {% if day %}
      day = parseInt({{ day }})
      Modal.initWithModal('modal_' + day)
    {% endif %}
  </script>
{% endblock js %}