{% extends 'website/base.html' %}
{% load i18n %}


{% block content %}
<main class="content-row">
  <h1>{% trans "Contact Me" %}</h1>

  <form method="post" id="form" class="form">
    {% include 'forms/render_form.html' with form=form %}

    {# Spam field #}
    <label for="id_human" class="u-sr-only">{% trans "Please don't type here" %}</label>
    <input type="text" name="human" id="id_human" class="u-sr-only">

    {# BUTTONS #}
    <div>
      <button class="btn btn--green btn--solid"
              name="send_button"
              form='form'>
        {% trans "Send message" %}
      </button>

      <button type="button"
              class="btn"
              onclick="history.back()">
        {% trans "Back" %}
      </button>
    </div>
  </form>
  
</main>
{% endblock content %}

{% block footer %}{% endblock footer %}