{% extends 'website/base.html' %}
{% load i18n %}

{% block content %}
<div class="content-row">
  <div class="section-header">{% trans "Your message has been sent" %}</div>

  {# message #}
  <div class="u-margin-bottom-lg">

  {# Message if reservation #}
  {% if reservation %}

{% blocktrans %}
<p>Thank you for contacting me.</p>
<p>If you do not get a response in a few days, please confirm your email address and check your spam filter.</p>
<p>Please check your reservation information page for updates</p>
{% endblocktrans %}

  {# Normal Message #}
  {% else %}
  
{% blocktrans %}
<p>Thank you for contacting me.</p>
<p>If you do not get a response in a few days, please confirm your email address and check your spam filter.</p>
<p>In the case that email does not work, please tell me your preferred contact method in the message body.</p>
{% endblocktrans %}

  {% endif %}
  </div> 

  {# button #}
  <div>
    {% if reservation %}
    <a href="{{ reservation.url }}" class="btn">{% trans "Return to my reservation" %}</a>
    {% else %}
    <a href="{% url 'english_calendar' %}" class="btn">{% trans "Back" %}</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
