{% extends 'website/base.html' %}
{% load i18n %}


{% block content %}

<div class="landing">

  <section class="intro">
    <h1>English</h1>
    <p>Picture</p>
    <p>copy</p>
    <a href="#reservation">Make Reservation</a>
  </section>

  <section class="points">
    <div class="point">
      <p>point 1</p>
    </div>
    <div class="point">
      <p>point 2</p>
    </div>
    <div class="point">
      <p>point 3</p>
    </div>
  </section>

  <section class="howto">
    <p>Describe how easy it is to use me for english</p>
  </section>

  <section class="kit">
    <p>'kit' with picture, call to action, and catch</p>
    <a href="#reservation">Make Reservation</a>
  </section>

  <section class="voices">
    <div class="voice">
      <p>customer comment 1</p>
    </div>
    <div class="voice">
      <p>customer comment 2</p>
    </div>
  </section>
  
  <section id="reservation">
    {# USE HTMX to load fragment from 'calendar' #}
    {# prev and next buttons use HTMX to load 'calendar/<year>/<month>' #}
    <div>Notifications</div>
    <div>Reservation Calendar</div>
  </section>
  
</div>

{% endblock content %}