{% extends 'website/base.html' %}
{% load i18n %}

{% block content %}
<div class="faq">

  <h1>{% trans "Frequently Asked Questions" %}</h1>

  <section>
    <ol>
      <li><a class="btn btn--text" href="#lesson">{% trans "Type of Lessons" %}</a></li>
      <li><a class="btn btn--text" href="#payment">{% trans "Payment" %}</a></li>
      <li><a class="btn btn--text" href="#location">{% trans "Locations" %}</a></li>
      <li><a class="btn btn--text" href="#software">{% trans "Video Conferencing Software" %}</a></li>
    </ol>
  </section>



  {# Lesson Types #}
  <section id="lesson">
    <h2>{% trans "Type of Lessons" %}</h2>

{% blocktrans %}
<h3>Online Lesson</h3>
<p>Talk online using video conferencing software such as zoom or skype.</p>
<p>2000/1hr</p>
{% endblocktrans %}
    
{% blocktrans %}
<h3>Cafe Lesson</h3>
<p>Casual english confersation in any level of English held at cafe.</p>
<p>Customer must pay for their own food/drinks</p>
<p>2500/1hr</p>
{% endblocktrans %}
    
{% blocktrans %}
<h3>Group Lesson</h3>
<p>English confersation with 2 or more friends. Usually takes place at cafe but, rental spaces or other locations are possible as well</p>
<p>2000/1hr per person</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Other Lesson</h3>
<p>Interview practice, presentation practice, help reading english papers or articles, help translating into English, or other needs? Please contact me an we can work on it together</p>
<p>Price depends on the type of lesson and required preparation. 2500+/1hr</p>
{% endblocktrans %}
  </section>

  <section id="payment">
    <h2>{% trans "Payment" %}</h2> 
  
{% blocktrans %}
<h3>LinePay</h3>
<p>This option is the easiest if you have LINE wallet.</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Bank Transfer</h3>
<p>Transfer directly from your bank. Please make payment within 3 days after the lesson.</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Cash</h3>
<p>Limited to in person lessons only.</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Other ways to pay</h3>
<p>Amazon gift card</p>
{% endblocktrans %}
  </section>
  
  {# Locations #}
  <section id="location">
    <h2>{% trans "Locations" %}</h2> 
  
{% blocktrans %}
<h3>Shinjuku Area</h3>
<p>Cafes in this area will usually be ok</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Other Areas</h3>
<p>I can meet with you in other areas in the Tokyo area however, I reserve the right to refuse a requested location if it is too far or inconvinient.</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Other Location Options</h3>
<p>I am flexible and am willing to give lessons in non-traditional locations. Lessons at your home or a park with your children is no problem.</p>
{% endblocktrans %}
  </section>

  {# Software #}
  <section id="software">
    <h2>{% trans "Video Conferencing Software" %}</h2> 

{% blocktrans %}
<p>Online lessons require software for video conferencing. It is recomended that you use a laptop or personal computer. Smartphones are possible, but are usually unconfortable and encounter many issues.</p>
{% endblocktrans %}
  
{% blocktrans %}
<h3>Google Hangouts</h3>
<p>Easiest if you use or have a google or gmail account. Uses your interet browser so no additional software is required</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Zoom</h3>
<p>You must install the Zoom application</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Skype</h3>
<p>You must install the Skype application</p>
{% endblocktrans %}

{% blocktrans %}
<h3>Other Software</h3>
<p>It may be possible to use other software such as LINE. Please let me know your situation.</p>
{% endblocktrans %}
  </section>

  <section class="faq__links">
    <p>{% trans "Still have questions? Feel free to contact me anytime" %}</p>
    <a class="btn u-margin-top-md" href="{% url 'english_contact' %}">{% trans "Send me a message" %}</a>
  </section>
    
</div>
{% endblock content %}