{% extends 'website/base.html' %}
{% load i18n %}


{% block content %}

<div class="about">

  <section class="intro">
    <h1>Travis English and Web</h1>
    <p>Profile Picture</p>
  </section>

  <section class="history">
    <p>Interesting and catchy thing to make me more personable</p>
    <p>Pictures of me</p>
  </section>

  <section class="english">
    <p>English Experience and qualifications</p>
    <p>Picture of me teaching</p>
    <a href="{% url 'website.english' %}">English Services</a>
  </section>

  <section class="web">
    <p>Web Experience and qualifications</p>
    <p>Picture of my web work</p>
    <a href="{% url 'website.web' %}">Web Development Services</a>
  </section>

  <a href="{% url 'portfolio' %}">My Portfolio</a>
  
</div>

{% endblock content %}