{% extends 'website/base.html' %}
{% load i18n %}

{% block content %}
<div class="content-row">
  {# NOTE: Past are not rendered with this template #}

  {# ALERTS #}
  {% if not event.is_active or reservation.canceled_at or reservation.problem_message %}
  <section class="section-separator">

    {# Event is Canceled #}
    {% if not event.is_active %}
    <div class="alert alert--red">
      <div class="section-header">{% trans "Canceled" %}</div>
      <p>{% trans "This lesson is canceled" %}</p>
    </div>

    {# Reservation is Canceled #}  
    {% elif reservation.canceled_at %}
    <div class="alert alert--red">
      <div class="section-header">{% trans "Canceled" %}</div>
      <p>{% trans "This reservation is canceled" %}</p>
    </div>

    {# Problem Message #}  
    {% elif reservation.problem_message %}
    <div class="alert alert--red">
      <div class="section-header">{% trans "There is a problem with your reservation" %}</div>
      <p>{{ reservation.problem_message }}</p>
    </div>

    {% endif %}

  </section>
  {% endif %}

  {# GREETING #}
  {% if event.is_active and not reservation.canceled_at %}
  <section class="section-separator">
    <div class="section-header">{% trans "Thank you for your reservation" %}</div>

{% blocktrans %}
<p>I'm looking forward to our lesson.</P>
<p>This page has details about your upcoming lesson. Please take a look at the FAQ page, or contact me, if you have any questions.</p>
{% endblocktrans %}

  </section>
  {% endif %}

  {# RESERVATION DETAILS #}
  <section class="section-separator">
    <div class="section-header">{% trans "Lesson" %}</div>

    <div class="overflow_wrapper">
      <table class="table table--borders u-margin-bottom-md">
          {% include 'website/includes/event_details.html' with event=event %}
          {% include 'website/includes/reservation_details.html' with reservation=reservation %}
      </table>
    </div>

  </section>


  {# RESERVATION ACTIONS #}
  {% if event.is_active and not reservation.canceled_at %}

  {# reschedule #}
  <section class="section-separator">
    <div class="section-header">{% trans "reschedule Reservation" %}</div>

    <p class="u-margin-bottom-md">
      {% trans "You can change the time or date of the lesson with the link below" %}
    </p>

    <a href="{{ reschedule_url }}" class="btn btn--solid btn--orange u-margin-bottom-md">
      {% trans "Reschedule" %}
    </a>

  </section>

  {# cancel #}
  <section class="section-separator">
    <div class="section-header">{% trans "Cancel Reservation" %}</div>

    <a href="{{ cancel_url }}" class="btn btn--red btn--solid u-margin-bottom-md">
      {% trans "Cancel" %}
    </a>

  </section>
  {% endif %}

</div>
{% endblock content %}