{% extends 'website/base.html' %}
{% load i18n %}

{% block navbar %}
<div class="titlebar">
  <div class="titlebar__left">
    <button class="bar__btn" onclick="history.back()">
      {% include 'svg/cross' %}
    </button>
  </div>
  <span class="titlebar__center">{% trans "Make Reservation" %}</span>
</div>
{% endblock navbar %}

{% block content %}
<div class="content-row">

  {# Event info #}
  <section>
    <div class="section-header">{% trans "Lesson" %}</div>
    <table class="table table--borders">
      {% include 'website/includes/event_details.html' %}
    </table>
  </section>

  {# reservation form #}
  <section>
    <form method="post" id="form" class="form u-margin-top-lg">
      {% include 'forms/render_form.html' %}
      <div class="u-margin-top-lg">
        <button class="btn btn--solid btn--green"
                name="send_button"
                type="submit">
          {% trans "Send" %}
        </button>
        <button class="btn"
                type="button"
                onclick="history.back()">
          {% trans "Back" %}
        </button>
      </div>
    </form>
  </section>

</div>
{% endblock content %}

{% block footer %}{% endblock footer %}