{% extends 'website/base.html' %}
{% load i18n %}

{% block content %}

{# Event Details #}
<div class="content-row">

  <div class="section-header">{% trans "Lesson has finished" %}</div>
{% blocktrans %}
<p>Thank you for joining the lesson. I am looking forward to hearing from you again.</p>
{% endblocktrans %}
  <div>
    <a href="{% url 'english_calendar' %}" class="btn u-margin-top-lg">
      {% trans "Back" %}
    </a>
  </div>
  
</div>
{% endblock content %}