{% extends 'website/base.html' %}
{% load i18n %}

{% block navbar %}
<div class="titlebar">
  <div class="titlebar__left">
    <button class="bar__btn" onclick="history.back()">
      {% include 'svg/cross' %}
    </button>
  </div>
  <span class="titlebar__center">{% trans "Cancel Reservation" %}</span>
</div>
{% endblock navbar %}

{% block content %}
<div class="content-row">

  {# CANCEL FORM #}
  <form method="post" id="form" class="form">
    {% include 'forms/render_form.html' with form=form %}
    <div>
      <button class="btn btn--solid btn--red"
              name="cancel_button"
              form="form">
        {% trans "Cancel Reservation" %}
      </button>
      <button type="button"
              class="btn"
              onclick="history.back()">
        {% trans "Back" %}
     </button>
    </div>
  </form>
  
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}