{% extends 'website/base.html' %}
{% load i18n %}


{% block content %}

<div class="landing">

  <section class="intro">
    <h1>Web</h1>
    <p>Picture</p>
    <p>copy</p>
    <a href="#portfolio">Portfolio</a>
    <a href="#services">Services</a>
  </section>

  <section class="points">
    <div class="point">
      <p>point 1</p>
    </div>
    <div class="point">
      <p>point 2</p>
    </div>
    <div class="point">
      <p>point 3</p>
    </div>
  </section>

  <section class="howto">
    <p>Describe how easy it is to use me for web</p>
  </section>

  <section id="portfolio" class="portfolio">
    <a href="#">Project 1</a>
    <a href="#">Project 2</a>
    <a href="#">Project 3</a>
    <a href="#">Project 4</a>
  </section>

  <section id="services" class="services">
    <div class="service">
      <h2>Service Name</h2>
      <p>service description</p>
      <a href="#">Request Quote</a>
    </div>
    <div class="service">
      <h2>Service Name</h2>
      <p>service description</p>
      <a href="#">Request Quote</a>
    </div>
    <div class="service">
      <h2>Service Name</h2>
      <p>service description</p>
      <a href="#">Request Quote</a>
    </div>
  </section>
  
</div>

{% endblock content %}