@charset "UTF-8";
:root {
  /* COLORS <hue>, <saturation>%, <lightness>% */
  --color-white: hsl(0, 0%, 98%);
  --color-red: hsl(0, 50%, 54%);
  --color-background-red: hsla(355, 70%, 94%, 0.39);
  --color-green: hsl(111, 50%, 54%);
  --color-background-green: hsla(120, 100%, 93%, 0.39);
  --color-orange: hsl(39, 50%, 54%);
  --color-background-orange: hsla(39, 70%, 93%, 0.39);
  --color-blue: hsl(197, 50%, 54%);
  --color-background-blue: hsla(197, 70%, 93%, 0.39);
  --accent-hue: 30;
  --accent-saturation: 34%;
  --accent: hsl(var(--accent-hue), var(--accent-saturation), 44%);
  --color: hsl(0, 0%, 13%);
  --color-background: var(--color-white);
  --color-layer: hsla(0, 0%, 13%, 10%);
  /* NAVBAR */
  --bar-background: hsl(var(--accent-hue), var(--accent-saturation), 90%);
  --bar-hover: hsl(var(--accent-hue), var(--accent-saturation), 80%);
  --bar-height: 6rem;
  /* STYLES */
  --font-family-header: "Open Sans", "Noto Sans JP", sans-serif;
  --font-family-body: "Merriweather", "Noto Serif JP", serif;
  --default-font-size: 1.6rem;
  --shadow: 0 0 10px #0004;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --border: 1px solid #ccc;
  --border-radius: 1rem;
  --gap: 3rem;
  --content-width: 800px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

body {
  color: var(--color);
  background: var(--color-background);
}

::selection,
::-moz-selection {
  background: hsl(var(--accent-hue, 194), 70%, 40%);
  color: var(--color-white);
}

body {
  font-family: var(--font-family-body);
}

p {
  font-size: var(--default-font-size);
  line-height: 1.7;
}

p + p {
  padding-top: 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--color);
}

main > h1 {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--padding-large);
  margin-top: calc(5 * var(--padding-large));
}

/* HEADER STYLES */
.section-header {
  font-family: var(--font-family-header);
  display: block;
  font-size: 1.8rem;
}

.u-padding-none {
  padding: 0 !important;
}

.u-padding-top-none {
  padding-top: 0 !important;
}

.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

.u-padding-left-none {
  padding-left: 0 !important;
}

.u-padding-right-none {
  padding-right: 0 !important;
}

.u-padding-sm {
  padding: 1rem !important;
}

.u-padding-top-sm {
  padding-top: 1rem !important;
}

.u-padding-bottom-sm {
  padding-bottom: 1rem !important;
}

.u-padding-left-sm {
  padding-left: 1rem !important;
}

.u-padding-right-sm {
  padding-right: 1rem !important;
}

.u-padding-md {
  padding: 3rem !important;
}

.u-padding-top-md {
  padding-top: 3rem !important;
}

.u-padding-bottom-md {
  padding-bottom: 3rem !important;
}

.u-padding-left-md {
  padding-left: 3rem !important;
}

.u-padding-right-md {
  padding-right: 3rem !important;
}

.u-padding-lg {
  padding: 6rem !important;
}

.u-padding-top-lg {
  padding-top: 6rem !important;
}

.u-padding-bottom-lg {
  padding-bottom: 6rem !important;
}

.u-padding-left-lg {
  padding-left: 6rem !important;
}

.u-padding-right-lg {
  padding-right: 6rem !important;
}

.u-margin-none {
  margin: 0 !important;
}

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-left-none {
  margin-left: 0 !important;
}

.u-margin-right-none {
  margin-right: 0 !important;
}

.u-margin-sm {
  margin: 1rem !important;
}

.u-margin-top-sm {
  margin-top: 1rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1rem !important;
}

.u-margin-left-sm {
  margin-left: 1rem !important;
}

.u-margin-right-sm {
  margin-right: 1rem !important;
}

.u-margin-md {
  margin: 3rem !important;
}

.u-margin-top-md {
  margin-top: 3rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 3rem !important;
}

.u-margin-left-md {
  margin-left: 3rem !important;
}

.u-margin-right-md {
  margin-right: 3rem !important;
}

.u-margin-lg {
  margin: 6rem !important;
}

.u-margin-top-lg {
  margin-top: 6rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem !important;
}

.u-margin-left-lg {
  margin-left: 6rem !important;
}

.u-margin-right-lg {
  margin-right: 6rem !important;
}

.u-border {
  border: var(--border);
}

.u-border-bottom {
  border-bottom: var(--border);
}

.u-border-radius {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.u-push-right {
  margin-left: auto !important;
}

.u-z-index-100 {
  position: relative;
  z-index: 100 !important;
}

.u-content-width {
  width: 100%;
  max-width: var(--content-width);
}

.u-margin-centered {
  margin-left: auto;
  margin-right: auto;
}

.u-max-content {
  width: max-content;
}

.sr-only {
  display: none !important;
}

.u-font-family-monospace {
  font-family: monospace !important;
}

.u-color-green {
  color: var(--color-green) !important;
}

.u-color-red {
  color: var(--color-red) !important;
}

.u-layer {
  background: var(--color-layer) !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.alert {
  position: relative;
  border: 1px solid var(--color);
  outline-color: var(--color);
  border-radius: var(--border-radius);
  padding: 3rem 9rem 3rem 3rem;
  margin: 3rem;
  font-size: 1.6rem;
  font-family: var(--font-family-body);
}
.alert__header {
  font-size: 2.6rem;
  font-family: var(--font-family-header);
}
.alert__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6rem;
  border: 0;
  border-radius: 0;
  background: no-repeat;
  color: currentColor;
  cursor: pointer;
}
.alert--green, .alert--success {
  border-color: var(--color-green);
  background-color: var(--color-background-green);
  color: var(--color-green);
}
.alert--orange, .alert--warning {
  border-color: var(--color-orange);
  background-color: var(--color-background-orange);
  color: var(--color-orange);
}
.alert--red, .alert--error {
  border-color: var(--color-red);
  background-color: var(--color-background-red);
  color: var(--color-red);
}
.alert--blue, .alert--debug, .alert--info {
  border-color: var(--color-blue);
  background-color: var(--color-background-blue);
  color: var(--color-blue);
}

.titlebar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bar-background);
  min-height: var(--bar-height);
}
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .titlebar {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}
.titlebar__center {
  font-size: 2rem;
  font-family: var(--font-family-header);
  z-index: 99;
}
.titlebar__left, .titlebar__right {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.titlebar__left > *, .titlebar__right > * {
  height: 100%;
}
.titlebar__left {
  left: 0;
}
.titlebar__right {
  right: 0;
}

.flexbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  white-space: nowrap;
  background-color: var(--bar-background);
  min-height: var(--bar-height);
}
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .flexbar {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}
.flexbar--wrap {
  flex-wrap: wrap;
}
.flexbar a.bar__brand {
  font-size: 3rem;
  color: #775636;
  font-family: var(--font-family-header);
  text-transform: lowercase;
  font-weight: 900;
}
.flexbar__row {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .flexbar__row {
    width: 100%;
    border-top: var(--border);
  }
  .flexbar__row > .bar__btn {
    flex: 1;
  }
  .flexbar__row > .bar__btn:not(:last-child) {
    border-right: var(--border);
  }
}

.bar__btn, .bar__btn:link, .bar__btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-family-body);
  line-height: var(--bar-height);
  padding: 0 2rem;
  background: transparent;
  color: var(--color);
  white-space: nowrap;
  font-weight: bold;
}
.bar__btn:hover {
  background: var(--bar-hover);
}
.bar__btn .icon {
  width: 2rem;
  height: 2rem;
}

.bar__space {
  flex: 1;
}

:root {
  --btn-border: var(--border, 1px solid #ccc);
  --btn-font-size: var(--default-font-size, 1.6rem);
  --btn-font-family: var(--font-family-header, sans-serif);
  --btn-hue: var(--accent-hue, 110);
  --btn-color: hsl(var(--btn-hue), 50%, 54%);
  --btn-color-10: hsla(var(--btn-hue), 50%, 54%, 0.2);
  --btn-color-80: hsla(var(--btn-hue), 50%, 54%, 0.8);
}

.btn, .btn:link, .btn:visited,
.form .btn,
.form .btn:link,
.form .btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 1rem;
  font-size: var(--btn-font-size);
  font-family: var(--btn-font-family);
  text-align: center;
  cursor: pointer;
  border: var(--btn-border);
  line-height: 1.5;
  font-weight: bold;
}
.btn.disabled,
.form .btn.disabled {
  color: gray !important;
  border-color: gray !important;
  cursor: auto;
}
.btn.disabled:hover,
.form .btn.disabled:hover {
  background: transparent !important;
}
.btn.hidden,
.form .btn.hidden {
  display: none;
}
.btn, .btn:link, .btn:visited,
.form .btn,
.form .btn:link,
.form .btn:visited {
  color: var(--btn-color);
  background: transparent;
  border-color: var(--btn-color);
}
.btn:hover, .btn:focus,
.form .btn:hover,
.form .btn:focus {
  background: var(--btn-color-10);
}
.btn--solid, .btn--solid:visited, .btn--solid:link,
.form .btn--solid,
.form .btn--solid:visited,
.form .btn--solid:link {
  color: #fff;
  background: var(--btn-color);
  border-color: #fff;
}
.btn--solid:hover, .btn--solid:focus,
.form .btn--solid:hover,
.form .btn--solid:focus {
  background: var(--btn-color-80);
}
.btn--solid.disabled,
.form .btn--solid.disabled {
  background: #cccccc !important;
  color: #4d4d4d !important;
  border-color: transparent !important;
  cursor: auto;
}
.btn--solid.disabled:hover, .btn--solid.disabled:focus,
.form .btn--solid.disabled:hover,
.form .btn--solid.disabled:focus {
  background: #cccccc !important;
}
.btn--text, .btn--text:visited, .btn--text:link,
.form .btn--text,
.form .btn--text:visited,
.form .btn--text:link {
  border: None;
  border-radius: 0;
}
.btn--tag, .btn--tag:visited, .btn--tag:link,
.form .btn--tag,
.form .btn--tag:visited,
.form .btn--tag:link {
  color: #666;
  background: #eee;
  border-color: #ddd;
  border-radius: 0;
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.btn--tag:hover, .btn--tag:focus,
.form .btn--tag:hover,
.form .btn--tag:focus {
  background: #ddd;
  border-color: #ccc;
}
.btn--overlay, .btn--overlay:visited, .btn--overlay:link,
.form .btn--overlay,
.form .btn--overlay:visited,
.form .btn--overlay:link {
  /* Parent must be position: relative */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: transparent;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn--overlay:hover, .btn--overlay:focus,
.form .btn--overlay:hover,
.form .btn--overlay:focus {
  background: var(--btn-color-10);
}
.btn--invisible, .btn--invisible:visited, .btn--invisible:link,
.form .btn--invisible,
.form .btn--invisible:visited,
.form .btn--invisible:link {
  color: inherit;
  background: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
.btn--invisible:hover, .btn--invisible:focus,
.form .btn--invisible:hover,
.form .btn--invisible:focus {
  background: var(--btn-color-10);
}
.btn--gray,
.form .btn--gray {
  --btn-color: hsl(354, 0%, 54%);
  --btn-color-10: hsla(354, 0%, 54%, 0.1);
  --btn-color-80: hsla(354, 0%, 54%, 0.8);
}
.btn--darkgray,
.form .btn--darkgray {
  --btn-color: hsl(354, 0%, 24%);
  --btn-color-10: hsla(354, 0%, 24%, 0.1);
  --btn-color-80: hsla(354, 0%, 24%, 0.8);
}
.btn--red,
.form .btn--red {
  --btn-color: hsl(354, 50%, 54%);
  --btn-color-10: hsla(354, 50%, 54%, 0.1);
  --btn-color-80: hsla(354, 50%, 54%, 0.8);
}
.btn--orange,
.form .btn--orange {
  --btn-color: hsl(31, 50%, 54%);
  --btn-color-10: hsla(31, 50%, 54%, 0.1);
  --btn-color-80: hsla(31, 50%, 54%, 0.8);
}
.btn--yellow,
.form .btn--yellow {
  --btn-color: hsl(51, 50%, 54%);
  --btn-color-10: hsla(51, 50%, 54%, 0.1);
  --btn-color-80: hsla(51, 50%, 54%, 0.8);
}
.btn--green,
.form .btn--green {
  --btn-color: hsl(111, 50%, 54%);
  --btn-color-10: hsla(111, 50%, 54%, 0.1);
  --btn-color-80: hsla(111, 50%, 54%, 0.8);
}
.btn--blue,
.form .btn--blue {
  --btn-color: hsl(236, 50%, 54%);
  --btn-color-10: hsla(236, 50%, 54%, 0.1);
  --btn-color-80: hsla(236, 50%, 54%, 0.8);
}

.calendar {
  --cal-font-body: var(--font-family-body);
  --cal-font-header: var(--font-family-header);
  --cal-header_height: 6rem;
  --cal-day-min-height: 6rem;
  --cal-event-font-size: 1.1rem;
  --cal-event-padding: 0.3rem;
  --cal-event-thick-border: 5px solid;
  --event-color-gray: hsl(0, 0%, 77%);
  --event-color-green: #82d581;
  --event-color-yellow: #c8d581;
  --event-color-orange: #e2a573;
  --event-color-red: #dd7878;
  --event-color-cyan: #81d4d5;
  --event-color-blue: #81acd5;
  --event-color-purple: #b681d5;
  --event-color-pink: #d581d1;
  --cal-hue: var(--accent-hue, 194);
  --cal-saturation: var(--accent-saturation, 10%);
  --cal-color: hsl(var(--cal-hue), var(--cal-saturation), 25%);
  --cal-background: hsl(var(--cal-hue), var(--cal-saturation), 99%);
  --cal-background--100: hsl(var(--cal-hue), var(--cal-saturation), 93%);
  --cal-background--200: hsl(var(--cal-hue), var(--cal-saturation), 88%);
  --cal-background--red: hsl(0, var(--cal-saturation), 93%);
  --cal-border: 1px solid hsl(var(--cal-hue), var(--cal-saturation), 70%);
  --cal-header-background: hsl(var(--cal-hue), var(--cal-saturation), 60%);
  --cal-header-color: var(--color);
}
.calendar--dark {
  --cal-saturation: 5%;
  --cal-background: hsl(var(--cal-hue), var(--cal-saturation), 15%);
  --cal-background--100: hsl(var(--cal-hue), var(--cal-saturation), 5%);
  --cal-background--200: hsl(var(--cal-hue), var(--cal-saturation), 10%);
  --event-color-gray: hsl(0, 0%, 52%);
  --cal-color: hsl(var(--cal-hue), var(--cal-saturation), 95%);
  --cal-border: 1px solid hsl(var(--cal-hue), var(--cal-saturation), 24%);
  --cal-header-background: hsl(var(--cal-hue), var(--cal-saturation), 10%);
  --cal-header-color: var(--color);
}

.calendar {
  width: 100%;
  color: var(--cal-color);
  font-family: var(--cal-font-body);
}
.calendar__header {
  display: flex;
  color: var(--cal-header-color);
  background: var(--cal-header-background);
  min-height: var(--cal-header-height);
}
.calendar__prev, .calendar__next {
  border-radius: 0;
  border: none;
  background: transparent;
  line-height: var(--cal-header_height);
  font-size: 3rem;
  width: var(--cal-header_height);
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.calendar__prev.disabled, .calendar__next.disabled {
  visibility: hidden;
}
.calendar__prev:not(.disabled):hover, .calendar__next:not(.disabled):hover {
  background: #ffffff1f;
  color: inherit;
  text-decoration: none;
}
.calendar__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  font-family: var(--cal-font-header);
}
.calendar__subtitle {
  font-size: 1.5rem;
  opacity: 0.6;
}
.calendar__weekdays {
  font-size: 1.4rem;
  font-family: var(--cal-font-header);
  display: flex;
  flex-wrap: wrap;
  background: var(--cal-background);
  border-bottom: var(--cal-border);
  text-align: center;
  font-weight: 300;
  padding: 0.3rem 0;
  text-transform: uppercase;
}
.calendar__weekdays > * {
  width: calc(100% / 7);
}
.calendar__days {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  background: repeating-linear-gradient(45deg, var(--cal-background--100), var(--cal-background--100) 10px, var(--cal-background--200) 10px, var(--cal-background--200) 20px);
}
.calendar__day {
  position: relative;
  border: none;
  height: 100%;
  text-align: left;
  background: var(--cal-background);
  min-height: var(--cal-day-min-height);
}
.calendar__day--inactive {
  background: none;
}
.calendar__day--past {
  background: var(--cal-background--100);
  font-weight: 100;
}
.calendar__day--disabled {
  background: var(--cal-background--100);
}
.calendar__day:not(:nth-child(7n+7)) {
  border-right: var(--cal-border);
}
.calendar__day:not(:nth-last-child(-n+7)) {
  border-bottom: var(--cal-border);
}
.calendar__day_header {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 0.5rem;
  font-family: var(--cal-font-header);
}
.calendar__day_header--disabled {
  opacity: 0.5;
}
.calendar__day_name {
  display: block;
  font-family: var(--font-family-header);
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--accent);
  opacity: 0.7;
}
.calendar__event {
  position: relative;
  margin: 2px;
  border-radius: 0.2rem;
  overflow: hidden;
  font-size: 1rem;
  color: hsl(var(--cal-hue), 50%, 5%);
  background: var(--event-color-gray);
}
.calendar__event--big {
  font-size: 1.2rem;
}
.calendar__event--faded {
  opacity: 0.7;
}
.calendar__event span {
  display: block;
  text-align: center;
  font-size: var(--event-font-size);
  line-height: var(--event-font-size);
  padding: var(--event-padding);
}
.calendar__event .verbose {
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .calendar__event .verbose {
    display: none;
  }
}
.calendar__event .compact {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .calendar__event .compact {
    display: block;
  }
}
.calendar__overlay_button {
  /* button that stretches to cover its parent */
  /* NOTE: parent must be position: relative; */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
.calendar__overlay_button:hover {
  background: hsla(var(--cal-hue), 50%, 50%, 0.3);
}

.card {
  background: var(--color-layer);
  border-radius: var(--gap);
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
}
.card--header {
  display: block;
  font-family: var(--font-family-header);
  font-size: var(--default-font-size);
  font-weight: bold;
  opacity: 0.7;
  border-bottom: var(--border);
  padding: 1.5rem;
  margin: -1.5rem;
  margin-bottom: 1.5rem;
  background: #ffffff04;
}
.card--red {
  background: var(--color-background-red);
}
.card--red .card--header {
  color: var(--color-red);
}
.card--green {
  background: var(--color-background-green);
}
.card--green .card--header {
  color: var(--color-green);
}

#copied_alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 100px;
  margin: -50px 0 0 -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0008;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.2s ease;
  transform: scale(1.5);
  opacity: 0;
}
#copied_alert.show {
  transform: scale(1);
  opacity: 1;
}

.icon {
  fill: currentColor;
}

.icon--red {
  fill: var(--color-red);
}

.icon--green {
  fill: var(--color-green);
}

.icon--orange {
  fill: var(--color-orange);
}

.language-links input {
  display: none;
}
.language-links label {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-left: -0.5rem;
  color: currentColor;
  cursor: pointer;
  text-decoration: underline;
}
.language-links label:hover {
  background-color: var(--bar-hover);
}

.list_item {
  position: relative;
  display: grid;
  grid-template-areas: "left right" "content content";
  font-family: var(--font-family-header);
  font-size: var(--default-font-size);
}
.list_item__left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list_item__right {
  grid-area: right;
  margin-left: auto;
}
.list_item__right.row {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}
.list_item__right.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.list_item__right.max-content {
  width: max-content;
}
.list_item__content {
  grid-area: content;
  font-family: var(--font-family-body);
  font-size: 1.4rem;
  opacity: 0.7;
  margin-top: 1rem;
}
.list_item .secondary {
  font-size: 1.2rem;
  text-transform: lowercase;
  opacity: 0.7;
}

/* MESSAGE SYSTEM STYLES */
.messages {
  font-size: var(--default-font-size);
  list-style: none;
}

.message {
  padding: 3rem;
}

.message.success {
  background-color: var(--color-background-green);
}

.message.error {
  background-color: var(--color-background-red);
}

.modal__wrapper {
  /* Variables */
  --modal-width: 50rem;
  --modal-height: 50rem;
  --modal-wrapper-background: hsla(0, 0%, 0%, 70%);
  /* animation */
  visibility: hidden;
  will-change: opacity;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  /* structure */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1072;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  /* style */
  background: var(--modal-wrapper-background);
  padding: 3rem;
}
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .modal__wrapper {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

@media only screen and (max-width: 40em) {
  .modal__wrapper {
    padding: 0;
  }
}
.modal__wrapper.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  /* animation */
  will-change: transform;
  pointer-events: none;
  transform: translateY(40px);
  transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  /* structure */
  position: relative;
  margin: auto;
  max-width: var(--modal-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-clip: padding-box;
  outline: 0;
  background: var(--color-background);
  color: var(--color);
}

.visible .modal {
  pointer-events: auto;
  transform: translateY(0);
}

.modal__title {
  padding-left: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.modal__content > * {
  display: none;
  font-size: 1.6rem;
}

.modal__content .visible {
  display: flex;
  flex-direction: column;
}

.modal_blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.overflow_wrapper {
  width: 100%;
  overflow: auto;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: var(--default-font-size);
}

.paginator .paginator__item {
  width: initial;
  min-width: 4rem;
  min-height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: var(--border);
  background: var(--bar-background);
}
.paginator .paginator__item.active {
  cursor: default;
  background: var(--bar-hover);
}
.paginator .paginator__item.disabled {
  cursor: default;
  border: none;
  opacity: 0.3;
}
.paginator .paginator__item:not(:last-of-type) {
  margin-right: 1rem;
}
.paginator .paginator__item:not(.disabled):not(.active):hover {
  background: var(--bar-hover);
}
.paginator .paginator__link, .paginator .paginator__link:visited, .paginator .paginator__link:link {
  display: block;
  color: var(--color);
  text-decoration: none;
}

.search-field {
  width: 100%;
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: var(--border);
  border-radius: 3px;
}
.search-field__input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 2;
  border: none;
  background: var(--color-background);
  color: var(--color);
  font-family: var(--font-family-header);
}
.search-field__clear, .search-field__clear:link, .search-field__clear:visited {
  background: transparent;
  color: var(--accent);
  border: none;
  border-left: var(--border);
  width: 60px;
  cursor: pointer;
}
.search-field__clear:hover, .search-field__clear:focus {
  background: var(--color-layer);
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.status {
  font-size: 1.4rem;
  font-weight: bold;
  background: #8f8f8f;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-family: var(--font-family-header);
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  opacity: 0.8;
}

.status--big {
  font-size: 2rem;
  padding: 2rem;
}

.status--green {
  background: #329533;
  color: #fff;
}

.status--red {
  background: var(--color-red);
  color: #fff;
}

.status--orange {
  background: #955e32;
  color: #fff;
}

.status--yellow {
  background: #958b32;
  color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: var(--default-font-size);
}
.table th {
  font-size: 1.3rem;
  padding: 0.8rem;
  font-family: var(--font-family-header);
}
.table td {
  padding: 0.8rem;
}
.table td.td--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table--small th, .table--small td {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.table--separators tr:not(:last-child) th, .table--separators tr:not(:last-child) td {
  border-bottom: var(--border);
}
.table--borders {
  border: var(--border);
}
.table--borders thead {
  border-bottom: var(--border);
}
.table--borders th:not(:last-child), .table--borders td:not(:last-child) {
  border-right: var(--border);
}
.table--borders tr:not(:last-child) th, .table--borders tr:not(:last-child) td {
  border-bottom: var(--border);
}

.form {
  width: 100%;
}
.form > *:not(:last-child) {
  margin-bottom: var(--gap);
}
.form__section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__section:not(:last-child) {
  margin-bottom: var(--gap);
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.form__group--invalid input, .form__group--invalid textarea, .form__group--invalid select {
  border-color: var(--color-red);
}
.form__group--valid input, .form__group--valid textarea, .form__group--valid select {
  border-color: var(--color-green);
}
.form__label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 0.5rem;
}
.form__label > *:not(:last-child) {
  margin-right: 0.5rem;
}
.form__label label {
  flex-shrink: 0;
  font-size: var(--default-font-size);
  font-family: var(--font-family-header);
}
.form__optional {
  font-size: var(--default-font-size);
  opacity: 0.6;
}
.form__error {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--color-red);
  width: 100%;
  margin-top: 1rem;
}
.form__help_text {
  width: 100%;
  font-size: 1.4rem;
  opacity: 0.8;
  margin-top: 1rem;
}
.form__input {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.form__input > *:not(:last-child) {
  margin-right: var(--gap);
}
.form__input input, .form__input textarea, .form__input select {
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 2;
  background: var(--color-background);
  color: var(--color);
  border: var(--border);
  border-radius: 3px;
  font-family: var(--font-family-body);
  font-size: var(--default-font-size);
}
.form__input textarea {
  line-height: 1.5;
}
.form__input input[type=checkbox] {
  width: auto;
  order: 1;
  margin-right: 0.5rem;
}
@supports (-webkit-touch-callout: none) {
  .form__input select, .form__input textarea, .form__input input {
    font-size: 16px;
  }
  .form__input input:not([type=checkbox]):not([type=range]), .form__input textarea, .form__input select {
    min-width: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form--large_inputs .form__group {
  padding: 0;
  background-color: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.form--large_inputs .form__label {
  width: 100%;
  height: 2.7rem;
  padding: 1.5rem 0 0 1rem;
  margin-bottom: -2.7rem;
}
.form--large_inputs .form__label label {
  font-size: 1.2rem;
  opacity: 0.8;
  text-transform: uppercase;
  line-height: 1.2rem;
}
.form--large_inputs .form__label .form__optional {
  font-size: 1rem;
}
.form--large_inputs .form__input > * {
  width: 100%;
  min-height: 90px;
  padding: 3.7rem 1rem 1rem 1rem;
  background: transparent;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  outline: none;
}
.form--large_inputs .form__input > *:not(:last-child) {
  border-right: var(--border);
}
.form--large_inputs .form__input > *:focus {
  background: var(--color-background);
  border-color: #4d90fe;
  border-radius: var(--border-radius);
}
.form--large_inputs .form__input input::placeholder {
  opacity: 0.3;
  color: var(--color);
}
.form--large_inputs .form__input select {
  height: 90px;
}
.form--large_inputs .form__input input[type=checkbox], .form--large_inputs .form__input input[type=range] {
  padding: 0;
  margin: 4.2rem 1.5rem 1.5rem 1.5rem;
  min-height: 0;
}
.form--large_inputs .large input, .form--large_inputs .large textarea {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: var(--font-family-header);
}
.form--large_inputs .form__help_text,
.form--large_inputs .form__error {
  margin: 0;
  padding: 1.5rem 0 1.5rem 1rem;
  opacity: 0.7;
  background: var(--color-layer);
}
.form--large_inputs .form__error {
  background: var(--color-background-red);
  border: 1px solid;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.form--large_inputs .form__error:last-of-type {
  margin-bottom: 0.5rem;
}

.form--large_inputs.form--sections .form__section {
  background-color: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.form--large_inputs.form--sections .form__group {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
}
.form--large_inputs.form--sections .form__group:not(:last-child) {
  border-bottom: var(--border);
}

.widget__tag_select,
.widget__tag_select_multiple {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.widget__tag_select > *,
.widget__tag_select_multiple > * {
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.widget__tag_select input,
.widget__tag_select_multiple input {
  display: none;
}
.widget__tag_select label,
.widget__tag_select_multiple label {
  display: inline-block;
  font-family: var(--font-family-header);
  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  border: var(--border);
  cursor: pointer;
}
.widget__tag_select input:checked + label,
.widget__tag_select_multiple input:checked + label {
  border-color: var(--accent);
}

.flex {
  display: flex;
  width: 100%;
}
.flex > * {
  max-width: var(--content-width);
  margin: 0 auto;
}
.flex.column {
  flex-direction: column;
  align-items: center;
}
.flex.wrap {
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}
.flex.gaps {
  padding-left: var(--gap);
  padding-top: var(--gap);
}
.flex.gaps > * {
  margin: 0;
  margin-right: var(--gap);
  margin-bottom: var(--gap);
}
.flex.align-stretch {
  align-items: stretch;
}

.footer {
  background: var(--bar-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4rem;
}
.footer__col {
  padding-bottom: 4rem;
}
.footer__col-header {
  padding-bottom: 1rem;
  font-size: var(--default-font-size);
  font-weight: bold;
  font-family: var(--font-family-header);
  opacity: 0.7;
}
.footer__col-nav {
  display: flex;
  flex-direction: column;
}
.footer__col-nav a, .footer__col-nav a:link, .footer__col-nav a:visited {
  padding: 0.5rem;
  color: var(--color);
  font-size: 1.6rem;
  margin-left: -0.5rem;
}
.footer__col-nav a:hover, .footer__col-nav a:focus {
  background-color: var(--bar-hover);
}
.footer__copyright {
  background: #333333;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer__copyright-link, .footer__copyright-link:link, .footer__copyright-link:visited {
  padding: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-header);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  cursor: default;
}
.footer__copyright-link:hover, .footer__copyright-link:link:hover, .footer__copyright-link:visited:hover {
  color: #fff;
}

/* PUSH FOOTER TO THE BOTTOM */
html {
  height: -webkit-fill-available;
}

.page_container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.page_content {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
}

.content-row {
  display: flex;
  flex-direction: column;
}
.content-row:not(.no-gap) {
  padding: var(--gap);
}
.content-row > * {
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.content-row > *:not(:last-child) {
  margin-bottom: var(--gap);
}

:root {
  --padding-small: 1.5rem;
  --padding-large: 3rem;
  --width-blog-item: 500px;
  --fixed-width: 100rem;
  --padding: 3rem;
}

.blog ul {
  list-style: none;
}
.blog li {
  padding: 0;
  margin: 0;
  width: 100%;
}
.blog .tags {
  display: flex;
  flex-wrap: wrap;
}
.blog .section {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
  display: flex;
  flex-direction: column;
}
.blog .section:not(:last-child) {
  margin-bottom: var(--padding-large);
}
.blog .container-fixed-width {
  max-width: calc(var(--fixed-width) + 2 * var(--padding));
  margin: 0 auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding) 0;
}
.blog__list > *:not(:last-child) {
  margin-bottom: 11rem;
}
.blog_item {
  width: 100%;
  max-width: var(--width-blog-item);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  color: #1c1c1c;
}
.blog_item__image {
  width: 100%;
  height: auto;
  max-height: 300px;
  display: flex;
  justify-content: center;
}
.blog_item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-small);
  background: linear-gradient(rgba(238, 230, 221, 0.333), rgba(238, 230, 221, 0.667));
}
.blog_item .blog__btn {
  margin-top: calc(2 * var(--padding-small));
}
.blog_post {
  padding: var(--padding-large) 0;
  max-width: var(--content-width);
  margin: -5rem auto var(--gap) auto;
  box-shadow: 0 0 10px #0001;
  background: #fff;
  border-radius: 0.5rem;
}
.blog_post__banner {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  max-height: 500px;
  background-size: cover;
  background-position: top center;
}
.blog .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-large) 0 0 var(--padding-large);
  max-width: calc(2 * var(--width-blog-item) + 3 * var(--padding-large));
}
.blog .gallery__item {
  max-width: var(--width-blog-item);
  margin-bottom: var(--padding-large);
  margin-right: var(--padding-large);
}
.blog .gallery__item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.blog .gallery__caption {
  font-size: var(--default-font-size);
}
.blog__btn, .blog__btn:visited, .blog__btn:link {
  font-family: var(--font-family-header);
  display: inline-block;
  width: max-content;
  padding: 0.7rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px #0003;
  background: none;
  border: 1px solid var(--accent);
  color: var(--accent);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}
.blog__btn:hover, .blog__btn:focus {
  background: var(--accent);
  color: white;
  transform: translateY(-2px);
  box-shadow: 4px 2px 5px #0003;
}

.blog_hero {
  padding: 20rem var(--padding-large) 20rem var(--padding-large);
}
.blog_hero__title {
  width: 100%;
  font-family: var(--font-family-body);
  font-weight: 900;
  font-size: 6rem;
}
.blog__date {
  opacity: 0.7;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-family-header);
  margin-bottom: var(--padding-small);
}
.blog__title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: var(--font-family-header);
  margin-bottom: 0.5rem;
}
.blog__intro {
  font-size: 1.5rem;
}

.richtext p {
  font-size: 1.8rem;
}
.richtext h1, .richtext h2, .richtext h3, .richtext h4 {
  display: block;
  font-family: var(--font-family-header);
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.richtext h1 {
  margin-top: 8rem;
  font-size: 3.5rem;
}
.richtext h2 {
  margin-top: 3rem;
  font-size: 2rem;
}
.richtext h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.richtext .subheader {
  display: block;
  font-family: var(--font-family-header);
  font-size: 2rem;
  opacity: 0.6;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.faq {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}
.faq > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 5rem;
}
.faq > section:not(:last-of-type)::after {
  content: "・・・";
  display: block;
  text-align: center;
  padding: 10rem 0;
  font-weight: bold;
  letter-spacing: 3rem;
}
.faq > section:last-of-type {
  padding-bottom: 10rem;
}
.faq h1, .faq h2, .faq h3 {
  font-family: var(--font-family-header);
  font-weight: bold;
  color: var(--color);
}
.faq h1 {
  padding: 3rem 3rem;
  font-size: 4.5rem;
  font-weight: 300;
}
.faq h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: -2rem;
  margin-bottom: 2rem;
}
.faq h3 {
  padding-top: 4rem;
  font-size: 2rem;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}
.faq p {
  font-family: var(--font-family-body);
  font-size: var(--default-font-size);
  padding: 0.3rem 0;
}
.faq ol {
  font-size: var(--default-font-size);
}
.faq .faq__links {
  display: block;
}

.issuetracker .issue-item {
  --issue-item-padding: 1.2rem;
  font-size: var(--default-font-size);
  background: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.issuetracker .issue-item__cell {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid transparent;
}
.issuetracker .issue-item__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.issuetracker .issue-item__accessories {
  z-index: 11;
  display: flex;
  align-items: center;
}
.issuetracker .issue-item__accessory_btn {
  border: none;
  border-radius: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.issuetracker .issue-item__expand_btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.issuetracker .issue-item__expand_btn:hover {
  background: rgba(121, 121, 121, 0.2);
}
.issuetracker .issue-item__title {
  flex: 1;
  padding: var(--issue-item-padding);
}
.issuetracker .issue-item__subtitle {
  padding: var(--issue-item-padding);
  font-size: 1.3rem;
  opacity: 0.7;
}
.issuetracker .issue-item__expanded {
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
}
.issuetracker .issue-item__expanded.expanded {
  border-top: var(--border);
  max-height: 1000px;
}
.issuetracker .issue-item__description {
  opacity: 0.7;
  font-size: 1.4rem;
  padding: var(--issue-item-padding);
}
.issuetracker .issue-item__tags {
  border-bottom: var(--border);
  display: flex;
  flex-wrap: wrap;
}
.issuetracker .issue-item__tag {
  display: block;
  padding: 0.25rem 1.5rem;
  background: var(--color-layer);
  border-radius: var(--border-radius);
  margin: 1rem;
  width: max-content;
}
.issuetracker .issue-item__actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.issuetracker .issue-item__actions form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.issuetracker .issue-item__actions .btn {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 1.5rem;
}
.issuetracker .issue-item__actions .btn:not(:last-child) {
  border-right: var(--border);
}

#issue-form #id_name_group .form__label {
  display: none;
}
#issue-form #id_name_group .form__input > * {
  padding-top: 1.5rem;
}
#issue-form #id_description_group .form__label {
  display: none;
}
#issue-form #id_description_group .form__input > * {
  padding-top: 1.5rem;
}

.issue-project {
  display: flex;
  justify-content: space-between;
  font-size: var(--default-font-size);
  align-items: center;
}
.issue-project__title {
  font-size: 2rem;
  font-family: var(--font-family-header);
}
.issue-project__value {
  text-align: right;
  cursor: pointer;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: var(--border);
}
.issue-project__value:hover {
  background: var(--color-layer);
}
.issue-project__select {
  font-size: 1.8rem;
  padding: 0.5rem;
}

.topbar,
.bottombar {
  background-color: var(--bar-background);
}
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .topbar,
.bottombar {
    background-color: #29292960;
  }
}
.topbar > *,
.bottombar > * {
  background-color: var(--bar-background-content);
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .topbar > *,
.bottombar > * {
    background-color: inherit;
  }
}

.event_manager .topbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 10px #0008;
}
.event_manager .topbar__padding {
  height: var(--bar-height);
}

.event_manager .bottombar {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 10px #0008;
}
.event_manager .bottombar__padding {
  height: var(--bar-height);
}
@supports (-webkit-touch-callout: none) {
  .event_manager .bottombar__padding {
    height: calc(10px + var(--bar-height));
  }
  .event_manager .bottombar > * {
    min-height: calc(10px + var(--bar-height));
    padding-bottom: 10px;
  }
}

.event_manager {
  --gap: 1rem;
}

.event_manager .modal__content {
  padding: var(--gap);
}

.event_manager .section {
  padding-top: 0;
}
.event_manager .section:not(:last-child) {
  padding-bottom: 5rem;
}

.event_manager .section-header {
  margin-top: 4rem;
  font-weight: bold;
  opacity: 0.8;
}

.event_manager .button_card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-layer);
  border-radius: 1rem;
  overflow: hidden;
}
.event_manager .button_card:not(:last-of-type) {
  margin-bottom: var(--gap);
}
.event_manager .button_card > * {
  width: 100%;
}
.event_manager .button_card .btn {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 1.5rem;
}
.event_manager .button_card .btn:not(:last-child) {
  border-bottom: var(--border);
}

.event_manager .item-container {
  border: 1px solid var(--accent);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: var(--color-layer);
}

.event_manager .event_add_selected {
  background: var(--accent);
}

.event_manager .email_preview {
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 1rem;
  background: white;
  font-size: initial;
  color: initial;
  font-family: initial;
}

.event_manager .status-bar {
  font-size: var(--default-font-size);
}
.event_manager .status-bar .red {
  color: var(--color-red);
}
.event_manager .status-bar .green {
  color: var(--color-green);
}
.event_manager .status-bar .orange {
  color: var(--color-orange);
}

.hidden {
  display: none;
}

.customer {
  font-size: var(--default-font-size);
  background: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.customer__cell {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid var(--color-layer);
}
.customer__email {
  padding: 1rem;
  font-family: var(--font-family-header);
  font-weight: 500;
}
.customer__accessory_btn {
  z-index: 11;
  border: none;
  border-radius: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer__expand_btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.customer__expand_btn:hover {
  background: rgba(121, 121, 121, 0.2);
}
.customer__details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}
.customer__details.expanded {
  border-top: var(--border);
  max-height: 1000px;
}
.customer__names {
  display: flex;
  padding: 1rem;
}
.customer__name:not(:last-of-type) {
  margin-right: 1rem;
}
.customer__reservations {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0 1rem;
}
.customer__reservation {
  text-decoration: none;
  color: currentColor;
  background: var(--color-layer);
  border-radius: var(--border-radius);
  border: 1px solid #fff4;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.english .section-header {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.english .section-separator:not(:last-of-type)::after {
  content: "・・・";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap);
  width: 100%;
  height: 12rem;
  font-weight: bold;
  letter-spacing: 3rem;
}

.event-card {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.event-card:not(:last-child) {
  border-bottom: var(--border);
}
.event-card > .table {
  width: auto;
}

.calendar-container {
  width: 100%;
  border: var(--border);
  margin: 3rem auto;
  max-width: var(--content-width);
}
@media only screen and (max-width: 56.25em) {
  .calendar-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.intro {
  padding-top: 4rem !important;
  padding-bottom: 8rem !important;
  background-image: linear-gradient(45deg, #caa174c4, #e1bf97bf);
}
.intro__title {
  font-family: var(--font-family-header);
  font-size: 6rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.intro__subtitle {
  font-family: var(--font-family-header);
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0.5;
}
.intro__desc {
  font-family: var(--font-family-body);
  font-size: var(--default-font-size);
  margin-top: 2rem;
}

.dark {
  --color-background-red: hsla(354.3, 70%, 70%, 0.08);
  --color-background-green: hsla(120, 70%, 80%, 0.1);
  --color-background-orange: hsla(39, 70%, 83%, 0.1);
  --color-background-blue: hsla(197, 70%, 83%, 0.1);
  --border: 1px solid hsl(0, 0%, 20%);
  --color: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 5%);
  --color-layer: hsla(0, 0%, 80%, 10%);
  --bar-height: 6rem;
  --bar-background: hsla(0, 0%, 13%, 0.88);
  --bar-background-content: hsla(0, 0%, 14%, 0.5);
  --bar-hover: hsl(var(--accent-hue), var(--accent-saturation), 25%);
}

.dark .modal__wrapper {
  --modal-wrapper-background: hsla(0, 0%, 0%, 50%);
}

.dark .form {
  --color-background: hsla(0, 0%, 10%);
}

.line-button, .line-button:link, .line-button:visited {
  border-radius: 3px;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 6px;
  background-color: #06c755;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: system-ui, -apple-system, "Helvetica Neue", Meiryo, HiraKakuProN-W3, "Apple SD Gothic Neo", "Arial Unicode MS", Arial, sans-serif;
}
.line-button.ja, .line-button:link.ja, .line-button:visited.ja {
  font-family: Meiryo, HiraKakuProN-W3, "Arial Unicode MS", Arial, sans-serif, "Apple SD Gothic Neo";
}
.line-button:hover {
  background-color: #02a52f;
}
.line-button i {
  height: 13px;
  width: 13px;
  margin-right: 4px;
  background: url(../img/vendor/line_v3@3x.png) 0 center no-repeat;
  background-size: 13px;
}

/*# sourceMappingURL=style.css.map */
