.modal__overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1072;
  overflow-y: auto;
}

.modal__container {
  background-clip: padding-box;
  overflow-y: auto;
}

/* -------------------------------------------------------------------------- */
/* ANIMATION - simple slide up
/* -------------------------------------------------------------------------- */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal .modal__overlay {
  will-change: transform;
}

.modal .modal__container {
  will-change: transform;
}

/* -------------------------------------------------------------------------- */
/* DEFAULT STYLES - feel free to override */
/* -------------------------------------------------------------------------- */

/* OVERLAY */
.modal__overlay {
  background: hsla(0, 0%, 0%, 70%);
  padding: 3rem;
}

/* CONTAINER */
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.7rem;
  box-shadow: 0 5px 20px #0005;
  background: #fff;
}
.small .modal__container {
  width: 20rem;
}
.small .modal__overlay {
  align-items: center;
}
.medium .modal__container {
  width: 40rem;
  min-height: 20rem;
}
.medium .modal__container {
  width: 100%;
  max-width: 40rem;
  min-height: 20rem;
}

/* CONTENTS */
.modal__container header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #fff, #fafafa);
  border-bottom: 1px solid #eee;
}
.modal__container main {
  padding: 1rem;
}
.modal__container footer {
  padding: 1rem;
}

/* COMPONENTS */
.modal__title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  padding: 1rem;
}
.modal__close {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
.modal__close:hover {
  background: #eee;
}
.modal__close::before {
  content: "\2715";
}

/* BACKGROUND BLUR */
@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .modal__overlay {
    background: hsla(0, 0%, 0%, 50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

/* MOBILE */
/* 40em => modal__container.max-width */
@media only screen and (max-width: 40em) {
  .modal__overlay {
    padding: 0;
  }
  .modal:not(.small) .modal__container {
    border-radius: 0;
  }
}
