{% if not skip_csrf %}
  {% csrf_token %}
{% endif %}

{{ form.media }}
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert--red" role="alert">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% endif %}

{# TEST CODE #}
{% comment %}
<div class="alert alert--red" role="alert">
  HERE is big problem
</div>
{% endcomment %}