{% load i18n %}

{# Group #}
{# possible classes: #}
{# form__group--required, form__group--invalid, form__group--valid #}
<div id="{{ field.auto_id }}_group"
     class="form__group
       {{ class|default:"" }}
       {% if form.is_bound and field.errors %}form_group--invalid{% endif %}
       {% if form.is_bound and not field.errors %}form_group--valid{% endif %}">

  {# LABEL #}
  <div class="form__label">
    {{ field.label_tag }}
    {% if not field.field.required %}
      <span class="form__optional">{% trans "(Optional)" %}</span>
    {% endif %}
  </div>

  {# field input #}  
  <div class="form__input">
    {{ field }}
  </div>
  
  {# Help Text #}
  {% if field.help_text %}
    <div class="form__help_text">{{ field.help_text }}</div>
  {% endif %}

  {# Errors #}
  {% for error in field.errors %}
    <div class="form__error">{{ error }}</div>
  {% endfor %}


  {# TEST #}
  {% comment %}
  <div class="form__help_text">Here is some help for you</div>
  <div class="form__error">Error 1</div>
  {% endcomment %}

</div>