.alert {
  position: relative;
  border: 1px solid var(--color);
  outline-color: var(--color);
  border-radius: var(--border-radius);
  padding: 3rem 9rem 3rem 3rem;
  margin: 3rem;

  font-size: 1.6rem;
  font-family: var(--font-family-body);

  &__header {
    font-size: 2.6rem;
    font-family: var(--font-family-header);
  }
  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6rem;
    border: 0;
    border-radius: 0;
    background: no-repeat;
    color: currentColor;
    cursor: pointer;
  }

  &--green,
  &--success {
    border-color: var(--color-green);
    background-color: var(--color-background-green);
    color: var(--color-green);
  }
  &--orange,
  &--warning {
    border-color: var(--color-orange);
    background-color: var(--color-background-orange);
    color: var(--color-orange);
  }
  &--red,
  &--error {
    border-color: var(--color-red);
    background-color: var(--color-background-red);
    color: var(--color-red);
  }
  &--blue,
  &--debug,
  &--info {
    border-color: var(--color-blue);
    background-color: var(--color-background-blue);
    color: var(--color-blue);
  }
}
