.titlebar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bar-background);
  min-height: var(--bar-height);

  @supports (backdrop-filter: blur(20px)) or
    (-webkit-backdrop-filter: blur(20px)) {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  &__center {
    font-size: 2rem;
    font-family: var(--font-family-header);
    z-index: 99;
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    & > * {
      height: 100%;
    }
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}

.flexbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  white-space: nowrap;
  background-color: var(--bar-background);
  min-height: var(--bar-height);

  @supports (backdrop-filter: blur(20px)) or
    (-webkit-backdrop-filter: blur(20px)) {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  &--wrap {
    flex-wrap: wrap;
  }

  & a.bar__brand {
    font-size: 3rem;
    color: #775636;
    font-family: var(--font-family-header);
    text-transform: lowercase;
    font-weight: 900;
  }

  // Wraps and set 100% width on small screens
  &__row {
    display: flex;
    @include respond(medium) {
      width: 100%;
      border-top: var(--border);
      & > .bar__btn {
        flex: 1;
        &:not(:last-child) {
          border-right: var(--border);
        }
      }
    }
  }
}

.bar__btn {
  &,
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border-radius: 0;
    border: none;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    font-size: 1.4rem;
    font-family: var(--font-family-body);
    line-height: var(--bar-height);
    padding: 0 2rem;
    background: transparent;
    // color: var(--accent);
    color: var(--color);
    white-space: nowrap;
    font-weight: bold;
  }

  &:hover {
    background: var(--bar-hover);
  }
  & .icon {
    width: 2rem;
    height: 2rem;
  }
}

.bar__space {
  flex: 1;
}
