:root {
  // Styles
  --btn-border: var(--border, 1px solid #ccc);
  --btn-font-size: var(--default-font-size, 1.6rem);
  --btn-font-family: var(--font-family-header, sans-serif);

  --btn-hue: var(--accent-hue, 110);
  --btn-color: hsl(var(--btn-hue), 50%, 54%);
  --btn-color-10: hsla(var(--btn-hue), 50%, 54%, 0.2);
  --btn-color-80: hsla(var(--btn-hue), 50%, 54%, 0.8);
}

.btn,
.form .btn {
  // Button Structure
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: var(--btn-font-size);
    font-family: var(--btn-font-family);
    text-align: center;
    cursor: pointer;
    border: var(--btn-border);
    line-height: 1.5;
    font-weight: bold;
  }
  &.disabled {
    color: hsl(0, 0%, 50%) !important;
    border-color: hsl(0, 0%, 50%) !important;
    cursor: auto;
    &:hover {
      background: transparent !important;
    }
  }
  &.hidden {
    display: none;
  }

  // OUTLINE BUTTONS (Default)
  &,
  &:link,
  &:visited {
    color: var(--btn-color);
    background: transparent;
    border-color: var(--btn-color);
  }
  &:hover,
  &:focus {
    background: var(--btn-color-10);
  }

  // SOLID BUTTONS
  &--solid {
    &,
    &:visited,
    &:link {
      color: #fff;
      background: var(--btn-color);
      border-color: #fff;
    }
    &:hover,
    &:focus {
      background: var(--btn-color-80);
    }
    &.disabled {
      background: hsl(0, 0%, 80%) !important;
      color: hsl(0, 0%, 30%) !important;
      border-color: transparent !important;
      cursor: auto;
      &:hover,
      &:focus {
        background: hsl(0, 0%, 80%) !important;
      }
    }
  }

  // TEXT BUTTON
  &--text {
    &,
    &:visited,
    &:link {
      border: None;
      border-radius: 0;
    }
  }
  &--tag {
    &,
    &:visited,
    &:link {
      color: #666;
      background: #eee;
      border-color: #ddd;
      border-radius: 0;
      padding: 1rem 2rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
    &:hover,
    &:focus {
      background: #ddd;
      border-color: #ccc;
    }
  }

  // OVERLAY BUTTON (transparent button covering parent element)
  &--overlay {
    &,
    &:visited,
    &:link {
      /* Parent must be position: relative */
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      color: transparent;
      background: transparent;
      border: none;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      background: var(--btn-color-10);
    }
  }

  // INVISIBLE BUTTON (No styling, slight focus/hover state)
  &--invisible {
    &,
    &:visited,
    &:link {
      color: inherit;
      background: transparent;
      border: none;
      font-size: inherit;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      background: var(--btn-color-10);
    }
  }

  // THEMES
  &--gray {
    --btn-color: hsl(354, 0%, 54%);
    --btn-color-10: hsla(354, 0%, 54%, 0.1);
    --btn-color-80: hsla(354, 0%, 54%, 0.8);
  }
  &--darkgray {
    --btn-color: hsl(354, 0%, 24%);
    --btn-color-10: hsla(354, 0%, 24%, 0.1);
    --btn-color-80: hsla(354, 0%, 24%, 0.8);
  }
  &--red {
    --btn-color: hsl(354, 50%, 54%);
    --btn-color-10: hsla(354, 50%, 54%, 0.1);
    --btn-color-80: hsla(354, 50%, 54%, 0.8);
  }
  &--orange {
    --btn-color: hsl(31, 50%, 54%);
    --btn-color-10: hsla(31, 50%, 54%, 0.1);
    --btn-color-80: hsla(31, 50%, 54%, 0.8);
  }
  &--yellow {
    --btn-color: hsl(51, 50%, 54%);
    --btn-color-10: hsla(51, 50%, 54%, 0.1);
    --btn-color-80: hsla(51, 50%, 54%, 0.8);
  }
  &--green {
    --btn-color: hsl(111, 50%, 54%);
    --btn-color-10: hsla(111, 50%, 54%, 0.1);
    --btn-color-80: hsla(111, 50%, 54%, 0.8);
  }
  &--blue {
    --btn-color: hsl(236, 50%, 54%);
    --btn-color-10: hsla(236, 50%, 54%, 0.1);
    --btn-color-80: hsla(236, 50%, 54%, 0.8);
  }
}

.btn-reset {
}
