$event-colors: (
  "green": hsl(119, 50%, 67%),
  "yellow": hsl(69, 50%, 67%),
  "orange": hsl(27, 66%, 67%),
  "red": hsl(0, 60%, 67%),
  "cyan": hsl(181, 50%, 67%),
  "blue": hsl(209, 50%, 67%),
  "purple": hsl(278, 50%, 67%),
  "pink": hsl(303, 50%, 67%),
);

.calendar {
  --cal-font-body: var(--font-family-body);
  --cal-font-header: var(--font-family-header);
  --cal-header_height: 6rem;
  --cal-day-min-height: 6rem;
  --cal-event-font-size: 1.1rem;
  --cal-event-padding: 0.3rem;
  --cal-event-thick-border: 5px solid;

  // Create event color variables
  --event-color-gray: hsl(0, 0%, 77%);
  @each $name, $color in $event-colors {
    --event-color-#{$name}: #{$color};
  }

  // Calendar accent Hue
  // (use calendar--monochrome do disable)
  --cal-hue: var(--accent-hue, 194);
  --cal-saturation: var(--accent-saturation, 10%);
  --cal-color: hsl(var(--cal-hue), var(--cal-saturation), 25%);
  --cal-background: hsl(var(--cal-hue), var(--cal-saturation), 99%);
  --cal-background--100: hsl(var(--cal-hue), var(--cal-saturation), 93%);
  --cal-background--200: hsl(var(--cal-hue), var(--cal-saturation), 88%);
  --cal-background--red: hsl(0, var(--cal-saturation), 93%);
  --cal-border: 1px solid hsl(var(--cal-hue), var(--cal-saturation), 70%);
  --cal-header-background: hsl(var(--cal-hue), var(--cal-saturation), 60%);
  // --cal-header-color: (var(--cal-hue), var(--cal-saturation), 50%);
  --cal-header-color: var(--color);

  &--dark {
    --cal-saturation: 5%;
    --cal-background: hsl(var(--cal-hue), var(--cal-saturation), 15%);
    --cal-background--100: hsl(var(--cal-hue), var(--cal-saturation), 5%);
    --cal-background--200: hsl(var(--cal-hue), var(--cal-saturation), 10%);
    --event-color-gray: hsl(0, 0%, 52%);
    --cal-color: hsl(var(--cal-hue), var(--cal-saturation), 95%);
    --cal-border: 1px solid hsl(var(--cal-hue), var(--cal-saturation), 24%);
    --cal-header-background: hsl(var(--cal-hue), var(--cal-saturation), 10%);
    --cal-header-color: var(--color);
  }
}

.calendar {
  width: 100%;
  color: var(--cal-color);
  font-family: var(--cal-font-body);

  // CALENDAR HEADER -------------------------------------------------------- */
  &__header {
    display: flex;
    color: var(--cal-header-color);
    background: var(--cal-header-background);
    min-height: var(--cal-header-height);
  }
  &__prev,
  &__next {
    border-radius: 0;
    border: none;
    background: transparent;
    line-height: var(--cal-header_height);
    font-size: 3rem;
    width: var(--cal-header_height);
    text-align: center;
    color: inherit;
    text-decoration: none;
    &.disabled {
      visibility: hidden;
      // cursor: inherit;
      // color: #ffffff1f;
    }
    &:not(.disabled):hover {
      background: #ffffff1f;
      color: inherit;
      text-decoration: none;
    }
  }
  &__title {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-family: var(--cal-font-header);
  }
  &__subtitle {
    font-size: 1.5rem;
    opacity: 0.6;
  }

  // WEEKDAY HEADER --------------------------------------------------------- */
  &__weekdays {
    font-size: 1.4rem;
    font-family: var(--cal-font-header);
    display: flex;
    flex-wrap: wrap;
    background: var(--cal-background);
    border-bottom: var(--cal-border);
    text-align: center;
    font-weight: 300;
    padding: 0.3rem 0;
    text-transform: uppercase;
    & > * {
      width: calc(100% / 7);
    }
  }

  // DAYS CONTAINER --------------------------------------------------------- */
  &__days {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    background: repeating-linear-gradient(
      45deg,
      var(--cal-background--100),
      var(--cal-background--100) 10px,
      var(--cal-background--200) 10px,
      var(--cal-background--200) 20px
    );
  }

  // DAYS ------------------------------------------------------------------- */
  &__day {
    position: relative;
    border: none;
    height: 100%;
    text-align: left;
    background: var(--cal-background);
    min-height: var(--cal-day-min-height);
    &--inactive {
      background: none;
    }
    &--past {
      background: var(--cal-background--100);
      font-weight: 100;
    }
    &--today {
      // border: none !important;
      // outline: var(--cal-border);
      // outline-width: 2px;
      // z-index: 100;
    }
    &--disabled {
      background: var(--cal-background--100);
    }

    // right border on every day except multiples of 7
    &:not(:nth-child(7n + 7)) {
      border-right: var(--cal-border);
    }

    // bottom border on every day except last 7
    &:not(:nth-last-child(-n + 7)) {
      border-bottom: var(--cal-border);
    }
  }
  &__day_header {
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 0.5rem;
    font-family: var(--cal-font-header);
    &--disabled {
      // color: var(--color-red);
      opacity: 0.5;
    }
  }
  &__day_name {
    display: block;
    font-family: var(--font-family-header);
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--accent);
    opacity: 0.7;
  }

  // EVENTS ----------------------------------------------------------------- */
  &__event {
    position: relative;
    margin: 2px;
    border-radius: 0.2rem;
    overflow: hidden;
    font-size: 1rem;
    color: hsl(var(--cal-hue), 50%, 5%);
    background: var(--event-color-gray);

    &--big {
      font-size: 1.2rem;
    }
    &--faded {
      opacity: 0.7;
    }

    // @each $name, $color in $event-colors {
    //   &--#{$name} {
    //     background: $color;
    //   }
    //   &--left-border-#{$name} {
    //     border-left: 5px solid $color;
    //   }
    // }

    & span {
      display: block;
      text-align: center;
      font-size: var(--event-font-size);
      line-height: var(--event-font-size);
      padding: var(--event-padding);
    }
    & .verbose {
      display: block;
      @include respond(small) {
        display: none;
      }
    }
    & .compact {
      display: none;
      @include respond(small) {
        display: block;
      }
    }
  }

  // CALENDAR UTILS --------------------------------------------------------- */
  &__overlay_button {
    /* button that stretches to cover its parent */
    /* NOTE: parent must be position: relative; */
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      background: hsla(var(--cal-hue), 50%, 50%, 0.3);
    }
  }
}
