.card {
  background: var(--color-layer);
  border-radius: var(--gap);
  overflow: hidden;
  position: relative;
  padding: 1.5rem;

  &--header {
    display: block;
    font-family: var(--font-family-header);
    font-size: var(--default-font-size);
    font-weight: bold;
    opacity: 0.7;
    border-bottom: var(--border);
    padding: 1.5rem;
    margin: -1.5rem;
    margin-bottom: 1.5rem;
    background: #ffffff04;
  }
  &--red {
    background: var(--color-background-red);
    & .card--header {
      color: var(--color-red);
    }
  }
  &--green {
    background: var(--color-background-green);
    & .card--header {
      color: var(--color-green);
    }
  }
}
