#copied_alert {
  // Center of Screen
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 100px;
  margin: -50px 0 0 -60px;

  // Center Text
  display: flex;
  justify-content: center;
  align-items: center;

  // Style
  background: #0008;
  border-radius: 0.5rem;
  font-size: 2rem;

  // Animation
  transition: all 0.2s ease;
  transform: scale(1.5);
  opacity: 0;
  &.show {
    transform: scale(1);
    opacity: 1;
  }
}
