// .form {
//   width: 100%;
//   --color-background: var(--color-background);

//   & > *:not(:last-child) {
//     margin-bottom: 4rem;
//   }

//   // SECTIONS
//   // if you render fields manually (one-by-one) you can put them into sections
//   // TODO: this is now a 'card' section... style should not be set here
//   //----------------------------------------------------------------------------
//   &__section {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-color: var(--color-layer);
//     border-radius: var(--border-radius);
//   }

//   // GROUP
//   //----------------------------------------------------------------------------
//   &__group {
//     display: flex;
//     flex-direction: column;
//     align-items: baseline;

//     &--invalid {
//       & input,
//       & textarea,
//       & select {
//         border-color: var(--color-red);
//       }
//     }
//     &--valid {
//       & input,
//       & textarea,
//       & select {
//         border-color: var(--color-green);
//       }
//     }
//   }

//   // LABEL
//   //----------------------------------------------------------------------------
//   &__label {
//     width: 100%;
//     display: flex;
//     align-items: baseline;
//     & > *:not(:last-child) {
//       margin-right: var(--gap);
//     }
//     & label {
//       font-size: 1.5rem;
//       padding-right: 1rem;
//       font-family: var(--font-family-header);
//     }
//   }

//   // OTHER MESSAGING
//   //----------------------------------------------------------------------------
//   &__optional {
//     font-size: 1.4rem;
//     opacity: 0.6;
//   }
//   &__error {
//     font-weight: bold;
//     font-size: 1.4rem;
//     color: var(--color-red);
//     width: 100%;
//   }
//   &__help_text {
//     width: 100%;
//     font-size: 1.4rem;
//     opacity: 0.8;
//     padding-top: 0.5rem;
//     padding-bottom: 1.5rem;
//     &.error {
//       color: var(--color-red);
//     }
//     &.success {
//       color: var(--color-green);
//     }
//   }

//   // INPUT
//   //----------------------------------------------------------------------------
//   &__input {
//     width: 100%;
//     display: flex;
//     align-items: baseline;
//     & > *:not(:last-child) {
//       margin-right: var(--gap);
//     }
//     & input,
//     & textarea,
//     & select {
//       max-width: 100%;
//       padding: 0.5rem 1rem;
//       margin: 0.3rem 0;
//       font-size: 16px;
//       line-height: 1.5;
//       background: var(--color-background);
//       color: var(--color);
//       border: var(--border);
//       border-radius: 3px;
//       font-family: var(--font-family-body);
//     }
//     & input[type="checkbox"] {
//       width: auto;
//       order: 1;
//       margin-right: 0.5rem;
//     }
//     // IOS
//     @supports (-webkit-touch-callout: none) {
//       & select,
//       & textarea,
//       & input {
//         min-width: 50%;
//         // width: 100%;
//         // min-height: 2rem;
//       }
//       & input:not([type="checkbox"]):not([type="range"]),
//       & select {
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         appearance: none;
//       }
//     }
//   }
// }
