.language-links {
  & input {
    display: none;
  }
  & label {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: -0.5rem;
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      background-color: var(--bar-hover);
    }
  }
}
