.list_item {
  position: relative;
  display: grid;
  grid-template-areas:
    "left right"
    "content content";

  font-family: var(--font-family-header);
  font-size: var(--default-font-size);

  &__left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__right {
    grid-area: right;
    margin-left: auto;

    &.row {
      display: flex;
      align-items: center;
      justify-content: end;
      flex-wrap: wrap;
    }
    &.column {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &.max-content {
      width: max-content;
    }
  }
  &__content {
    grid-area: content;
    font-family: var(--font-family-body);
    font-size: 1.4rem;
    opacity: 0.7;
    margin-top: 1rem;
  }
  & .secondary {
    font-size: 1.2rem;
    text-transform: lowercase;
    opacity: 0.7;
  }
}
