/* MESSAGE SYSTEM STYLES */
.messages {
  font-size: var(--default-font-size);
  list-style: none;
}
.message {
  padding: 3rem;
}
.message.success {
  background-color: var(--color-background-green);
}
.message.error {
  background-color: var(--color-background-red);
}
