.modal__wrapper {
  /* Variables */
  --modal-width: 50rem;
  --modal-height: 50rem;
  --modal-wrapper-background: hsla(0, 0%, 0%, 70%);

  /* animation */
  visibility: hidden;
  will-change: opacity;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  /* structure */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1072;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  /* style */
  background: var(--modal-wrapper-background);
  padding: 3rem;

  @supports (backdrop-filter: blur(20px)) or
    (-webkit-backdrop-filter: blur(20px)) {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}
@media only screen and (max-width: 40em) {
  .modal__wrapper {
    padding: 0;
  }
}

.modal__wrapper.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  /* animation */
  will-change: transform;
  pointer-events: none;
  transform: translateY(40px);
  transition: all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  /* structure */
  position: relative;
  margin: auto;
  max-width: var(--modal-width);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-clip: padding-box;
  outline: 0;

  background: var(--color-background);
  color: var(--color);
  // border: var(--border);
}

.visible .modal {
  pointer-events: auto;
  transform: translateY(0);
}

.modal__title {
  padding-left: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.modal__content > * {
  display: none;
  font-size: 1.6rem;
}
.modal__content .visible {
  display: flex;
  flex-direction: column;
}

.modal_blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
