.paginator {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: var(--default-font-size);
}
.paginator .paginator {
  &__item {
    width: initial;
    min-width: 4rem;
    min-height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: var(--border);
    background: var(--bar-background);

    &.active {
      cursor: default;
      background: var(--bar-hover);
    }
    &.disabled {
      cursor: default;
      border: none;
      opacity: 0.3;
    }
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    &:not(.disabled):not(.active):hover {
      background: var(--bar-hover);
    }
  }
  &__link {
    &,
    &:visited,
    &:link {
      display: block;
      color: var(--color);
      text-decoration: none;
    }
  }
}
