.search-field {
  width: 100%;
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: var(--border);
  border-radius: 3px;

  &__input {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 16px;
    line-height: 2;
    border: none;
    background: var(--color-background);
    color: var(--color);
    font-family: var(--font-family-header);
  }
  &__clear {
    &,
    &:link,
    &:visited {
      background: transparent;
      color: var(--accent);
      border: none;
      border-left: var(--border);
      width: 60px;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      background: var(--color-layer);
    }
  }
}
