.status {
  font-size: 1.4rem;
  font-weight: bold;
  background: hsl(121, 0%, 56%);
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-family: var(--font-family-header);
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  opacity: 0.8;
}
.status--big {
  font-size: 2rem;
  padding: 2rem;
}
.status--green {
  background: hsl(121, 50%, 39%);
  color: #fff;
}
.status--red {
  background: var(--color-red);
  color: #fff;
}
.status--orange {
  background: hsl(27, 50%, 39%);
  color: #fff;
}
.status--yellow {
  background: hsl(54, 50%, 39%);
  color: #fff;
}
