.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: var(--default-font-size);

  & th {
    font-size: 1.3rem;
    padding: 0.8rem;
    font-family: var(--font-family-header);
  }
  & td {
    padding: 0.8rem;
    &.td--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--small {
    & th,
    & td {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }

  &--separators {
    & tr:not(:last-child) th,
    & tr:not(:last-child) td {
      border-bottom: var(--border);
    }
  }

  &--borders {
    border: var(--border);
    & thead {
      border-bottom: var(--border);
    }
    & th:not(:last-child),
    & td:not(:last-child) {
      border-right: var(--border);
    }
    & tr:not(:last-child) th,
    & tr:not(:last-child) td {
      border-bottom: var(--border);
    }
  }
}
