{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

<div class="blog_item">

  {# Image #}
  {% if post.banner_image %}
  <div class="blog_item__image">
    {% image post.banner_image fill-650x300 %}
  </div>
  {% endif %}

  <div class="blog_item__content">
    <div class="blog__title">{{ post.title }}</div>
    <div class="blog__date">{{ post.date }}</div>
    <div class="blog__intro">{{ post.intro }}</div>
    <a href="{% pageurl post %}" class="blog__btn">
      {% trans "Read More" %} &rarr;
    </a>
  </div>

</div>