{% comment %}
messages -> [
  {
    'tags': '<one of: dubug, info, error, success, warning>',
    'message': '<message text>'
  }
]
{% endcomment %}
{% for m in messages %}
<div class="alert {% if m.tags %} alert--{{ m.tags }} {% endif %}" >
  {{ m.message }}
  <button class="alert__btn" onclick="console.log(this.parentNode.remove())">
    {% include 'svg/cross' %}
  </button>
</div>
{% endfor %}