{# Add the following to urls: #}
{# path('i18n/', include('django.conf.urls.i18n')), #}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<form class="language-links" action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input id="languageRedirect" name="next" type="hidden" value="">
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
    {% if language.code != LANGUAGE_CODE %}
    <input 
      type="radio"
      id="id_{{ language.code }}"
      name="language"
      value="{{ language.code }}"
      onchange="setRedirectAndSubmit(this);"
    >
    <label for="id_{{ language.code }}">{{ language.name_local }}</label>
    {% endif %}
  {% endfor %}
</form>
<script>
const setRedirectAndSubmit = function(el) {
  let url = window.location.href.replace('/{{ LANGUAGE_CODE }}/', '/');
  document.getElementById('languageRedirect').value = url
  el.form.submit();
}
</script>