{# Add the following to urls: #}
{# path('i18n/', include('django.conf.urls.i18n')), #}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input id="languageRedirect" name="next" type="hidden" value="">

  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}

  {% for language in languages %}
    {% if language.code != LANGUAGE_CODE %}
    <input 
      type="submit"
      class="btn"
      id="id_{{ language.code }}"
      name="language"
      value="{{ language.code }}"
    >
    {% endif %}
  {% endfor %}
</form>