{# Add the following to urls: #}
{# path('i18n/', include('django.conf.urls.i18n')), #}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<form class="{{ form_class|default:"language-form" }}" action="{% url 'set_language' %}" method="post">
  {% csrf_token %}

  {# Tells the Django to redirect to this same page #}
  <input id="languageRedirect" name="next" type="hidden" value="">

  {# Select Element #}
  <label for="language" class="sr-only">{% trans "Language" %}</label>
  <select name="language" id="language" onchange="this.form.submit()" class="{{ select_class }}">
  
    {# Get language state #} 
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

    {# Add option for each avaiable language #}
    {% for language in languages %}
      <option
        value="{{ language.code }}"
        {% if language.code == LANGUAGE_CODE %}selected{% endif %}
      >
        {{ language.name_local }}
      </option>
    {% endfor %}
  
  </select>

</form>
<style>
/* https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
</style>