{% if paginated_set.has_other_pages %}
  <ul class="paginator">
  {% for i in paginated_set.paginator.page_range %}
    {% if paginated_set.number == i %}
    <li class="paginator__item active">
      <span>{{ i }} <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li class="paginator__item">
      <a class="paginator__link" href="?page={{ i }}&amp;{{ query_str }}">{{ i }}</a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}