* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: 75%; // 1rem = 12px
  // @include respond(largest) {
  //   font-size: 68.75%; // 1rem = 10px
  // }
  // @include respond(medium) {
  //   font-size: 62.5%; // 1rem = 9px
  // }
  font-size: 62.5%; // 1rem = 9px
  @include respond(medium) {
    font-size: 56.25%; // 1rem = 8px
  }
}

body {
  color: var(--color);
  background: var(--color-background);
}

::selection,
::-moz-selection {
  background: hsl(var(--accent-hue, 194), 70%, 40%);
  color: var(--color-white);
}
