body {
  font-family: var(--font-family-body);
}
p {
  font-size: var(--default-font-size);
  line-height: 1.7;
}
p + p {
  padding-top: 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  color: var(--color);
}

main > h1 {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--padding-large);
  margin-top: calc(5 * var(--padding-large));
}

/* HEADER STYLES */
.section-header {
  font-family: var(--font-family-header);
  display: block;
  font-size: 1.8rem;
}
