$util-sizes: (
  "none": 0,
  "sm": 1rem,
  "md": 3rem,
  "lg": 6rem,
);
$util-sides: "top", "bottom", "left", "right";

// PADDING
@each $size, $value in $util-sizes {
  .u-padding-#{$size} {
    padding: $value !important;
  }
  @each $side in $util-sides {
    .u-padding-#{$side}-#{$size} {
      padding-#{$side}: $value !important;
    }
  }
}

// MARGINS
@each $size, $value in $util-sizes {
  .u-margin-#{$size} {
    margin: $value !important;
  }
  @each $side in $util-sides {
    .u-margin-#{$side}-#{$size} {
      margin-#{$side}: $value !important;
    }
  }
}

// BORDERS
.u-border {
  border: var(--border);
}
.u-border-bottom {
  border-bottom: var(--border);
}
.u-border-radius {
  border-radius: var(--border-radius);
  overflow: hidden;
}

// LAYOUT/SIZE
.u-push-right {
  margin-left: auto !important;
}
.u-z-index-100 {
  position: relative;
  z-index: 100 !important;
}
.u-content-width {
  width: 100%;
  max-width: var(--content-width);
}
.u-margin-centered {
  margin-left: auto;
  margin-right: auto;
}
.u-max-content {
  width: max-content;
}

// ACCESSABILITY
.sr-only {
  display: none !important;
}

// STYLES
.u-font-family-monospace {
  font-family: monospace !important;
}

// COLORS
.u-color-green {
  color: var(--color-green) !important;
}
.u-color-red {
  color: var(--color-red) !important;
}
.u-layer {
  background: var(--color-layer) !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
