{% extends 'base.html' %}
{% load static %}
{% comment %} 

Navbar:
- remove by overriding block: navbar
- navbar__left:  defaults to 'back chevron' -> history.back()
- navbar__title: default empty
- navbar__right: defaults to 'app_menu'

Footerbar:
- remove by overriding block: footer
- footerbar__content: default includes 'options' button
  remove default content by not including block.super

Modals:
- modal__content: default includes 'options_modal' and 'app_menu'
  remove default content by not including block.super

Options modal
- options__content: default empty

- app_menu: default includes app-wide menu
  add page-specific options by extending with block.super

{% endcomment %}


{% block icons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'issuetracker/img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'issuetracker/img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'issuetracker/img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'issuetracker/img/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'issuetracker/img/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#333333">
{% endblock icons %}


{# THEME #}
{##############################################################################}
{% block theme %}dark event_manager issuetracker{% endblock %}

{# NAVBAR #}
{##############################################################################}
{% block navbar %}
<div class="topbar__padding"></div>
<div class="topbar fixed content-width">

  <div class="titlebar">

    <div class="titlebar__left">
    {% block navbar__left %}{% endblock navbar__left %}
    </div>
  
    <span class="titlebar__center">
      <button class="btn btn--invisible" onclick="location.reload(); blur();">
        {% block navbar__title %}{% endblock navbar__title %}
      </button>
    </span>
  
    <div class="titlebar__right">
    {% block navbar__right %}{% endblock navbar__right %}
    </div>
  </div>

</div>

{# DJANGO Session Messages #}
{% if messages %}
  <div class="content-row">
    {% include 'includes/django-messages.html' %}
  </div>
{% endif %}

{% endblock navbar %}

{# FOOTERBAR #}
{##############################################################################}
{% block footer %}
<div class="bottombar__padding"></div>
<div class="bottombar">
  <div class="flexbar">
      {% block footerbar__content %}
        <button class="bar__btn" onclick="Modal.show('options_modal')">
          {% include 'svg/3dots' %}
        </button>
        <span class="bar__space"></span>
      
      {% endblock footerbar__content %}
  </div>
</div>
{% endblock footer %}

{# MODAL #}
{##############################################################################}
{% block modal__content %}

{# OPTIONS MODAL #}
<div id="options_modal" data-title="Options">
  {% block options__content %}{% endblock options__content %}
</div>

{# APP MENU  #}
{% comment %} 
<div id="app_menu" data-title="Issuetracker">
  {% block app_menu %}
  <div class="button_card">
  </div>
  {% endblock app_menu %}
</div>
{% endcomment %}

{% endblock modal__content %}



{# HTMX #}
{##############################################################################}
{% block js %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.4.1" integrity="sha384-1P2DfVFAJH2XsYTakfc6eNhTVtyio74YNA1tc6waJ0bO+IfaexSWXc2x62TgBcXe" crossorigin="anonymous"></script>
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
{% endblock js %}