{% extends 'issuetracker/base.html' %}
{% load static %}
  
{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}
{% block navbar__title %}History{% endblock navbar__title %}
{% block navbar__right %}{% endblock navbar__right %}

{% block content %} 
<div class="content-row">
  <div class="card">
    <div class="list_item">
      <div class="list_item__left">Created</div>
      <div class="list_item__right">{{ issue.created_at|date:'Y/m/d H:i' }}</div>
    </div>
  </div>
  {% for update in issue.updates.all %}
  <div class="card">
    <div class="list_item">
      <div class="list_item__left">{{ update.name }}</div>
      <div class="list_item__right">
        {{ update.created_at|date:'Y/m/d H:i' }}
      </div>
      <div class="list_item__content">{{ update.notes }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}