{% extends 'issuetracker/base.html' %}
{% load static %}
  
{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}

{% block navbar__title %}New Issue{% endblock navbar__title %}

{% block navbar__right %}
  <button class="bar__btn" type="submit" form="issue-form" name="save">
    Save
  </button>
{% endblock navbar__right %}


{% block content %}

<form method="post" id="issue-form" class="form no-bg form--large_inputs form--sections">
  <div class="content-row">
    {% include 'forms/render_pre.html' %}

    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.name class="large" %}
      {% include 'forms/render_field.html' with field=form.description %}
      {% include 'forms/render_field.html' with field=form.priority %}
    </div>

    {# Project #}
    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.project %}
    </div>

    {# Tags #}
    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.tags %}
      <div class="u-margin-sm">
        <button type="button" class="btn" onclick="Modal.show('new_tag_modal'); blur();">
          New Tag
        </button>
      </div>
    </div>
  </div>

</form>
{% endblock content %}

{% block footer %}{% endblock footer %}


{% block modal__content %}
{{ block.super }}

{# New Tag Modal #}
<form id="new_tag_modal" 
      data-title="New Tag" 
      class="form card"
      action="" 
      autocomplete="off">
  {% include 'forms/render_form.html' with form=tag_form %}
  <div>
    <button type="button" id="add_btn" class="btn hidden" onclick="addTag(); blur();">
      Add
    </button>
  </div>
</form>

{% endblock modal__content %}

{% block js %}
  {{ block.super }}
  <script>
    const newTagURL = hostURI() + '{% url "issue_tags.new.json" %}'
  </script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'issuetracker/js/issues_edit.js' %}"></script>
{% endblock js %}