{% extends 'issuetracker/base.html' %}
{% load static %}
{% load url_add_query %}
  
{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}

{% block navbar__title %}
  Edit Issue
{% endblock navbar__title %}

{% block navbar__right %}
  <button class="bar__btn" type="submit" form="issue-form" name="save">
    Save
  </button>
{% endblock navbar__right %}


{% block content %}

<form method="post" id="issue-form" class="form form--large_inputs form--sections">
  <div class="content-row">
    {% include 'forms/render_pre.html' %}

    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.name class="large" %}
      {% include 'forms/render_field.html' with field=form.description %}
      {% include 'forms/render_field.html' with field=form.priority %}
    </div>

    {# Project #}
    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.project %}
    </div>

    {# Tags #}
    <div class="form__section">
      {% include 'forms/render_field.html' with field=form.tags %}
      <div class="u-margin-sm">
        <button type="button" class="btn" onclick="Modal.show('new_tag_modal'); blur();">
          New Tag
        </button>
      </div>
    </div>
  </div>

</form>
{% endblock content %}

{% block footer %}
  {{ block.super }}
{% endblock footer %}

{% block footerbar__content %}
  {{ block.super }}

  <a class="bar__btn" href="{% url 'issues.history' issue.pk %}">
    {% include 'svg/history' %}
  </a>
  <div class="bar__space"></div>

  <button class="bar__btn"
          hx-delete={% url 'issues.item' issue.pk %}
          hx-confirm="Are You Sure?">
    {% include 'svg/trash' with class="icon--red" %}
  </button>
{% endblock footerbar__content %}



{% block options__content %}
<div class="button_card">

  {# ACTIVE #}
  {% if not issue.closed_at %}
  <button class="btn" type="submit" form="form" name="action" value="save_complete">
    Save &amp; Complete
  </button>
  <button class="btn" type="submit" form="form" name="action" value="save_reject">
    Save &amp; Reject
  </button>

  {# CLOSED #}
  {% else %}
  <button class="btn" type="submit" form="form" name="action" value="save_reopen">
    Save &amp; Reopen
  </button>

  {% endif %}
</div>
{% endblock options__content %}


{% block modal__content %}
{{ block.super }}


{# New Tag Modal #}
<form id="new_tag_modal" 
      data-title="New Tag" 
      class="form card"
      action="" 
      autocomplete="off">
  {% include 'forms/render_form.html' with form=tag_form %}
  <div>
    <button type="button" id="add_btn" class="btn hidden" onclick="addTag(); blur();">
      Add
    </button>
  </div>
</form>

{% endblock modal__content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'issuetracker/js/issues_edit.js' %}"></script>
  <script>
    const newTagURL = hostURI() + '{% url "issue_tags.new.json" %}'
    resizeTextarea(document.getElementById('id_description'));
  </script>

{% endblock js %}