{% extends 'issuetracker/base.html' %}
{% load static %}

{% block navbar__left %}
  <a class="bar__btn" href="{% url 'projects.index' %}">
    {% include 'svg/chevron-left' %}
  </a>
{% endblock navbar__left %}

{% block navbar__title %}
  Search Issues
{% endblock navbar__title %}

  
{% block content %}
  <div id="spinner" class="htmx-indicator">{% include 'svg/spinner' %}</div>
  
  {# SEARCH #}
  <div class="content-row">
    
    <div class="search-field">
      <input id="search_field_input"
             class="search-field__input" 
             type="text" 
             name="query"
             id="query"
             placeholder="Search..." 
             autocomplete="off"
             hx-get="{% url 'issues.search' %}" 
             hx-include="#filter_modal"
             hx-trigger="keyup changed delay:500ms" 
             hx-target="#page" 
             hx-indicator="#spinner"
             hx-swap="innerHTML">
      <button class="search-field__clear" onclick="clearSearch()">
        {% include 'svg/cross' %}
      </button>
    </div>
  </div>
  
  {# PAGE #}
  <div class="content-row" id="page">
    {% include 'issuetracker/includes/issues_page.html' %}
  </div>
{% endblock content %}

{% block footerbar__content %}
  {% comment %} {{ block.super }} {% endcomment %}
  <span class="bar__space"></span>
  <button class="bar__btn" onclick="Modal.show('filter_modal')">
    {% include 'svg/filter' %}
  </button>
{% endblock footerbar__content %}

{% block modal__content %}
{{ block.super }}

{# FILTER MODAL #}
<form id="filter_modal" 
      data-title="Filter/Order" 
      class="form form--large_inputs" 
      hx-get="{% url 'issues.search' %}" 
      hx-include="#query"
      hx-target="#page" 
      hx-indicator=".htmx-indicator"
      hx-swap="innerHTML">
    {% include 'forms/render_form.html' with form=filter.form skip_csrf=True %}
    <div>
      <button class="btn" type="submit" onclick="Modal.hide()">Submit</button>
      <a class="btn btn--gray" href="{{ request.path }}">Clear Filters</a>
    </div>
</form>

{% endblock modal__content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/accordian.js' %}"></script>
  <script src="{% static 'js/search_field.js' %}"></script>
{% endblock js %}