{% extends 'issuetracker/base.html' %}

{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}

{% block navbar__title %}Edit Project{% endblock navbar__title %}

{% block navbar__right %}
  <button class="bar__btn" type="submit" form="form" name="save">
    Save
  </button>
{% endblock navbar__right %}


{% block content %}
<div class="content-row">
  {# Form #}
  <form method="post" id="form" class="form card">
    {% include 'forms/render_form.html' with form=form %}
    <button class="btn" type="submit" form="form">Save</button>
  </form>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}