{% extends 'issuetracker/base.html' %}
{% load static %}


{% block navbar__left %}
  <a class="bar__btn" href="{% url 'projects.index' %}">
    {% include 'svg/chevron-left' %}
  </a>
{% endblock navbar__left %}

{% block navbar__title %}
  {{ project.name }}
{% endblock navbar__title %}

{% block content %}
<div class="content-row">
  
  {# Issues #}
  {% for issue in issues %}
    {% include 'issuetracker/includes/issue_item.html' %}
  {% endfor %}
  
  {# Paginator #}
  {% include 'includes/paginator.html' with paginated_set=issues %}
</div>
{% endblock content %}


{% block footerbar__content %}
  {{ block.super }}
  <span class="bar__space"></span>
  <a href="{% url 'issues.new' %}?project={{ project.name }}" class="bar__btn">
    {% include 'svg/plus' %}
  </a>
{% endblock footerbar__content %}


{# Options #}
{% block options__content %}

<div class="button_card">
  <a class="btn" href="{% url 'projects.archive' project.pk %}">
    Archive
  </a>
</div>

<div class="button_card">
  <a href="{% url 'projects.edit' project.pk %}" class="btn">
    Rename Project
  </a>
  <button class="btn btn--red"
          hx-delete=""
          hx-confirm="Delete?">
    Delete
  </button>
</div>
{% endblock options__content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/accordian.js' %}"></script>
{% endblock js %}