{% extends 'issuetracker/base.html' %}
{% load static %}

{% block navbar__left %}
  <a class="bar__btn" href="{% url 'm.index' %}">
    {% include 'svg/home' %}
  </a>
{% endblock navbar__left %}

{% block navbar__title %}
  Projects
{% endblock navbar__title %}

  
{% block content %}
<div class="content-row">

  {% for item in items %}
  <div class="card" id="item_{{ item.pk }}">
    {% include 'issuetracker/includes/project_item.html' %}
    <a href="{% url 'projects.item' item.pk %}" class="btn btn--overlay"></a>
  </div>
  {% endfor %}

  {# PAGINATION #}
  {% if items.has_other_pages %}
    {% include 'includes/paginator.html' with paginated_set=items %}
  {% endif %}


</div>
{% endblock content %}

{% block footerbar__content %}
{% comment %} {{ block.super }} {% endcomment %}

<a class="bar__btn" href="{% url 'issues.search' %}">
  {% include 'svg/magnifier' %}
</a>
<span class="bar__space"></span>

<button class="bar__btn" onclick="Modal.show('new_project_modal'); blur();">
  {% include 'svg/plus' %}
</button>
{% endblock footerbar__content %}

{% block modal__content %}
  {{ block.super }}

  {# NEW PROJECT #}
  <form id="new_project_modal"
        class="card form"
        action=""
        autocomplete="off"
        data-title="New Project">
    <div class="form__group">
      <div class="form__label">
        <label for="name">Name</label>
      </div>
      <div class="form__input">
        <input id="name" type="text" style="width: 100%;">
      </div>
      <div id="message"></div>
    </div>
    <div>
      <button type="button" id="add_btn" class="btn hidden" onclick="addProject(); blur();">Add</button>
    </div>
  </form>

{% endblock modal__content %}


{% block js %}
  {{ block.super }}
  <script src="{% static 'issuetracker/js/projects_index.js' %}"></script>
{% endblock js %}