{% extends 'issuetracker/base.html' %}
{% load static %}


{% block navbar__left %}
  <a class="bar__btn" href="{% url 'projects.item' project.pk %}">
    {% include 'svg/cross' %}
  </a>
{% endblock navbar__left %}

{% block navbar__title %}{{ project.name }} Archive{% endblock navbar__title %}
{% block navbar__right %}{% endblock navbar__right %}

{% block content %}
<div class="content-row">
  
  {# issues #}
  {% for issue in issues %}
    {% include 'issuetracker/includes/issue_item.html' %}
  {% endfor %}
  
  {# Paginator #}
  {% include 'includes/paginator.html' with paginated_set=issues %}
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/accordian.js' %}"></script>
{% endblock js %}