{% extends "blog/base.html" %}
{% load wagtailcore_tags %}
{% load i18n %}


{% block content %}

{% if request.GET.tag|length %}
<section class="section blog_hero">
  <h1 class="blog_hero__title">{% trans "Blogs tagged: " %}"{{ request.GET.tag|title }}"</h1>
  <a href="{% slugurl 'blog' %}" class="blog__btn u-margin-top-md">{% trans "All Blogs" %}</a>
</section>
{% endif %}

<section class="section blog__list">
  {% for post in blogpages %}
    {% include 'blog/includes/blog_list_item.html' with post=post.specific %}
  {% empty %}
    {% trans "No Blogs found with that tag" %}
  {% endfor %}
</section>

{% endblock %}