{% extends "blog/base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}

{# BANNER #}
{% if page.banner_image %}
{% image page.banner_image fill-1200x400 as banner_image %}
<div 
  class="blog_post__banner"
  style="background-image: url('{{ banner_image.url }}');"
></div>
{% endif %}

{# BLOG POST #}
<article class="blog_post">

  {# TITLE / META #}
  <header class="section">
    <div class="blog__title">{{ page.title }}</div>
    <p class="blog__date">{{ page.date }}</p>
  </header>

  {# MAIN CONTENT #}
  <section class="section richtext">
    <p class="blog__intro">{{ page.intro }}</p>
    {{ page.body|richtext }}
  </section>  

  {# IMAGE GALLERY #}
  {% if page.gallery_images.all.count %}
  <section class="section gallery">
    {% for item in page.gallery_images.all %}
    <figure class="gallery__item">
      {% image item.image width-1028 as full_image %}
      <a href="{{ full_image.url }}">
        {% image item.image height-480 class="gallery__image" %}
      </a>
      <figcaption class="gallery__caption">{{ item.caption }}</figcaption>
    </figure>
    {% endfor %}
  </section>
  {% endif %}
  
  {# TAGS #}
  {% if page.tags.all.count %}
  <section class="section">
    <div class="tags">
      {% for tag in page.tags.all %}
        <a class="btn btn--tag" href="{% slugurl 'tag' %}?tag={{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </section>
  {% endif %}
    
  {# BACK BUTTON #}
  <section class="section">
    <a class="blog__btn" href="{{ page.get_parent.url }}">
      {% trans "Back to all blogs" %}
    </a>
  </section>

</article>

{% endblock %}