{% extends "blog/base.html" %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block content %}
<main>
  <section class="container-fixed-width">

    <h1 class="u-margin-top-lg">{% trans "Blog" %}</h1>

    <ul class="blog__list">
      {% for post in blogpages %}

      <li>
        {% include 'blog/includes/blog_list_item.html' with post=post.specific %}
      </li>
    
      {% empty %}
      <li>
        <span class="blog__no_items">{% trans "No Blogs Yet" %}</span>
      </li>
      {% endfor %}
    </ul>

  </section>
  
  <section class="container-fixed-width u-margin-bottom-lg">
    {% include 'includes/paginator.html' with paginated_set=blogpages %}
  </section>
</main>
{% endblock %}