:root {
  --padding-small: 1.5rem;
  --padding-large: 3rem;
  --width-blog-item: 500px;

  --fixed-width: 100rem;
  --padding: 3rem;
}

// UTILITIES
// -----------------------------------------------------------------------------
.blog {
  ul {
    list-style: none;
  }
  li {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  // UTILITIES
  & .tags {
    display: flex;
    flex-wrap: wrap;
  }
  & .section {
    // max-width: calc(var(--content-width) + 2 * var(--padding-small));
    // margin: 0 auto;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);

    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: var(--padding-large);
    }
  }
  & .container-fixed-width {
    max-width: calc(var(--fixed-width) + 2 * var(--padding));
    margin: 0 auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}

// COMPONENTS
// -----------------------------------------------------------------------------
.blog {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding) 0;

    & > *:not(:last-child) {
      margin-bottom: 11rem;
    }
  }
  // ITEM COMPONENT (i.e. a blog summary 'card')
  &_item {
    width: 100%;
    max-width: var(--width-blog-item);
    position: relative;
    display: flex;
    flex-direction: column;

    // Style
    border-radius: 2rem;
    // box-shadow: 0px 0px 3px #0002;
    overflow: hidden;
    color: #1c1c1c;
    // background: #fff;

    &__image {
      width: 100%;
      height: auto;
      max-height: 300px;
      display: flex;
      justify-content: center;
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: var(--padding-small);
      background: linear-gradient(
        hsla(32, 33%, 90%, 0.333),
        hsla(32, 33%, 90%, 0.667)
      );
    }
    & .blog__btn {
      margin-top: calc(2 * var(--padding-small));
    }
  }

  // POST (the actual blog article)
  &_post {
    padding: var(--padding-large) 0;
    max-width: var(--content-width);
    margin: -5rem auto var(--gap) auto;
    box-shadow: 0 0 10px #0001;
    background: #fff;
    border-radius: 0.5rem;

    &__banner {
      overflow: hidden;
      width: 100%;
      height: 50vh;
      max-height: 500px;
      background-size: cover;
      background-position: top center;
    }
  }

  // GALLERY COMPONENT
  & .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-large) 0 0 var(--padding-large);
    max-width: calc(2 * var(--width-blog-item) + 3 * var(--padding-large));

    &__item {
      max-width: var(--width-blog-item);
      margin-bottom: var(--padding-large);
      margin-right: var(--padding-large);

      & img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    &__caption {
      font-size: var(--default-font-size);
    }
  }

  // BUTTON
  &__btn {
    &,
    &:visited,
    &:link {
      font-family: var(--font-family-header);
      display: inline-block;
      width: max-content;
      padding: 0.7rem 3rem;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 2px #0003;

      background: none;
      border: 1px solid var(--accent);
      color: var(--accent);

      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;

      transition: transform 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      background: var(--accent);
      color: white;
      transform: translateY(-2px);
      box-shadow: 4px 2px 5px #0003;
    }
  }
}

// STYLES
// -----------------------------------------------------------------------------
.blog {
  &_hero {
    padding: 20rem var(--padding-large) 20rem var(--padding-large);
    &__title {
      width: 100%;
      font-family: var(--font-family-body);
      font-weight: 900;
      font-size: 6rem;
    }
  }

  &__date {
    opacity: 0.7;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--font-family-header);
    margin-bottom: var(--padding-small);
  }

  &__title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: var(--font-family-header);
    margin-bottom: 0.5rem;
  }

  &__intro {
    font-size: 1.5rem;
  }
}

// RICH TEXT SECTION TYPOGRAPHY
// -----------------------------------------------------------------------------
.richtext {
  & p {
    font-size: 1.8rem;
  }
  & h1,
  & h2,
  & h3,
  & h4 {
    display: block;
    font-family: var(--font-family-header);
    line-height: 1.2;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  & h1 {
    margin-top: 8rem;
    font-size: 3.5rem;
  }
  & h2 {
    margin-top: 3rem;
    font-size: 2rem;
  }
  & h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  & .subheader {
    display: block;
    font-family: var(--font-family-header);
    font-size: 2rem;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
}
