// NAVBAR / FOOTERBAR
// =============================================================================
.topbar,
.bottombar {
  // CONTENT-ROW
  background-color: var(--bar-background);
  @supports (backdrop-filter: blur(20px)) or
    (-webkit-backdrop-filter: blur(20px)) {
    background-color: #29292960;
  }
  & > * {
    background-color: var(--bar-background-content);
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    @supports (backdrop-filter: blur(20px)) or
      (-webkit-backdrop-filter: blur(20px)) {
      background-color: inherit;
    }
  }
}
.event_manager .topbar {
  // FIXED
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 10px #0008;
  &__padding {
    height: var(--bar-height);
  }
}
.event_manager .bottombar {
  // FIXED
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 10px #0008;
  &__padding {
    height: var(--bar-height);
  }

  // Extra bottom padding for iOS devices
  @supports (-webkit-touch-callout: none) {
    &__padding {
      height: calc(10px + var(--bar-height));
    }
    & > * {
      min-height: calc(10px + var(--bar-height));
      padding-bottom: 10px;
    }
  }
}

.event_manager {
  --gap: 1rem;
}
.event_manager .modal__content {
  padding: var(--gap);
}
.event_manager .section {
  padding-top: 0;
  &:not(:last-child) {
    padding-bottom: 5rem;
  }
}
.event_manager .section-header {
  margin-top: 4rem;
  font-weight: bold;
  opacity: 0.8;
}
.event_manager .button_card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: var(--color-layer);
  border-radius: 1rem;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-bottom: var(--gap);
  }
  & > * {
    width: 100%;
  }
  & .btn {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 1.5rem;
  }
  .btn:not(:last-child) {
    border-bottom: var(--border);
  }
}
.event_manager .item-container {
  border: 1px solid var(--accent);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background: var(--color-layer);
}

.event_manager .event_add_selected {
  background: var(--accent);
}

.event_manager .email_preview {
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 1rem;
  background: white;
  font-size: initial;
  color: initial;
  font-family: initial;
}

.event_manager .status-bar {
  font-size: var(--default-font-size);

  & .red {
    color: var(--color-red);
  }
  & .green {
    color: var(--color-green);
  }
  & .orange {
    color: var(--color-orange);
  }
}

.hidden {
  display: none;
}

.customer {
  font-size: var(--default-font-size);
  background: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__cell {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-left: 10px solid var(--color-layer);
  }
  &__email {
    padding: 1rem;
    font-family: var(--font-family-header);
    font-weight: 500;
  }
  &__accessory_btn {
    z-index: 11;
    border: none;
    border-radius: 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__expand_btn {
    & {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 10;
    }
    &:hover {
      background: rgba(121, 121, 121, 0.2);
    }
  }

  &__details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    &.expanded {
      border-top: var(--border);
      max-height: 1000px;
    }
  }
  &__names {
    display: flex;
    padding: 1rem;
  }
  &__name {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
  &__reservations {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 1rem;
  }
  &__reservation {
    text-decoration: none;
    color: currentColor;
    background: var(--color-layer);
    border-radius: var(--border-radius);
    border: 1px solid #fff4;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}
