.faq {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--color-background);

  & > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 5rem;

    &:not(:last-of-type)::after {
      content: "・・・";
      display: block;
      text-align: center;
      padding: 10rem 0;
      font-weight: bold;
      letter-spacing: 3rem;
    }
    &:last-of-type {
      padding-bottom: 10rem;
    }
  }

  & h1,
  & h2,
  & h3 {
    font-family: var(--font-family-header);
    font-weight: bold;
    color: var(--color);
  }

  & h1 {
    padding: 3rem 3rem;
    font-size: 4.5rem;
    font-weight: 300;
  }
  & h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: -2rem;
    margin-bottom: 2rem;
  }
  & h3 {
    padding-top: 4rem;
    font-size: 2rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }
  & p {
    font-family: var(--font-family-body);
    font-size: var(--default-font-size);
    padding: 0.3rem 0;
  }
  & ol {
    font-size: var(--default-font-size);
  }

  & .faq__links {
    display: block;
  }
}
