.issuetracker .issue-item {
  --issue-item-padding: 1.2rem;
  font-size: var(--default-font-size);
  background: var(--color-layer);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__cell {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-left: 10px solid transparent;
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
  }
  &__accessories {
    z-index: 11;
    display: flex;
    align-items: center;
  }
  &__accessory_btn {
    border: none;
    border-radius: 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__expand_btn {
    & {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 10;
    }
    &:hover {
      background: rgba(121, 121, 121, 0.2);
    }
  }
  &__title {
    flex: 1;
    padding: var(--issue-item-padding);
  }
  &__subtitle {
    padding: var(--issue-item-padding);
    font-size: 1.3rem;
    opacity: 0.7;
  }
  &__expanded {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    &.expanded {
      border-top: var(--border);
      max-height: 1000px;
    }
  }
  &__description {
    opacity: 0.7;
    font-size: 1.4rem;
    padding: var(--issue-item-padding);
  }
  &__tags {
    border-bottom: var(--border);
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    display: block;
    padding: 0.25rem 1.5rem;
    background: var(--color-layer);
    border-radius: var(--border-radius);
    margin: 1rem;
    width: max-content;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    & form {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    & .btn {
      width: 100%;
      border: none;
      border-radius: 0;
      padding: 1.5rem;
      &:not(:last-child) {
        border-right: var(--border);
      }
    }
  }
}

#issue-form {
  #id_name_group {
    & .form__label {
      display: none;
    }
    & .form__input > * {
      padding-top: 1.5rem;
    }
  }
  #id_description_group {
    & .form__label {
      display: none;
    }
    & .form__input > * {
      padding-top: 1.5rem;
    }
  }
}
.issue-project {
  display: flex;
  justify-content: space-between;
  font-size: var(--default-font-size);
  align-items: center;

  &__title {
    font-size: 2rem;
    font-family: var(--font-family-header);
  }
  &__value {
    text-align: right;
    cursor: pointer;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    &:hover {
      background: var(--color-layer);
    }
  }
  &__select {
    font-size: 1.8rem;
    padding: 0.5rem;
  }
}
