.english .section-header {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}
.english .section-separator {
  &:not(:last-of-type)::after {
    content: "・・・";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--gap);
    width: 100%;
    height: 12rem;
    font-weight: bold;
    letter-spacing: 3rem;
  }
}

.event-card {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: var(--border);
  }

  & > .table {
    width: auto;
  }
}
.calendar-container {
  width: 100%;
  border: var(--border);
  margin: 3rem auto;
  max-width: var(--content-width);
  @include respond(medium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.intro {
  padding-top: 4rem !important;
  padding-bottom: 8rem !important;
  // background: url(../img/english/bg1.png);
  // background-size: cover;
  background-image: linear-gradient(45deg, #caa174c4, #e1bf97bf);
  &__title {
    font-family: var(--font-family-header);
    font-size: 6rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-family: var(--font-family-header);
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.5;
  }

  &__desc {
    font-family: var(--font-family-body);
    font-size: var(--default-font-size);
    margin-top: 2rem;
  }
}
