* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 600px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/* TITLEBAR */
/* -------------------------------------------------------------------------- */
.titlebar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  min-height: 50px;
}

.titlebar__left {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
}

.titlebar__right {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
}

.titlebar__center {
  font-size: 2rem;
  font-weight: 100;
}

.bar__btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: none;
  border-radius: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 100;
  padding: 0.5rem 1rem;
}

.bar__btn:hover {
  background: #0001;
}

/* -------------------------------------------------------------------------- */
/* Categories */
/* -------------------------------------------------------------------------- */
.categories {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
}

.category {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Button Style Reset */
  background: none;
  border: 1px solid #000;
  font-size: 1rem;
  cursor: pointer;
}
.category:hover {
  background: #0001;
}
.category.active {
  border-color: red;
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/* Hours Table */
/* -------------------------------------------------------------------------- */
.category-detail {
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
}
.category-detail table {
  width: 100%;
}
.category-detail th,
.category-detail td {
  text-align: center;
  padding: 1rem 0;
}

/* -------------------------------------------------------------------------- */
/* New Entry */
/* -------------------------------------------------------------------------- */
.entry-week {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 1rem;
}
.entry-week--selected {
  border-color: red;
}
.entry-week > * {
  height: 3rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
}
.entry-form form {
  width: 100%;
  padding: 1rem;
}
.entry-form textarea,
.entry-form select,
.entry-form input {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
}
.entry-form .form__group {
  margin-bottom: 2rem;
}

/* -------------------------------------------------------------------------- */
/* OLD */
/* -------------------------------------------------------------------------- */

.btn {
  padding: 10px 20px;
  border: 1px solid var(--color-primary-light);
  border-radius: 10px;
  background: var(--color-white);
  font-family: var(--font-family-sans);
  font-size: 1rem;
  background: white;
  border-color: var(--color-primary);

  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.btn:focus,
.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.content-row > section:nth-child(1) {
  display: flex;
}
