{# DEBUG: print widget info #}
{% comment %}
{% for _, d, _ in widget.optgroups %}
<div>
  {% for k, v in d.0.items %}
  <div>{{k}}:{{v}}</div>
  {% endfor %}
</div>
{% endfor %}
{% endcomment %}

<ul class="widget__tag_select">
  {% for _, d, _ in widget.optgroups %}
  {% with d.0 as option %}
  <li>
    <input type="{{ option.type }}"
           name="{{ option.name }}"
           value="{{ option.value }}"
           {% if option.selected %}checked=""{% endif %}
           {% for k, v in option.attrs.items %}{{k}}="{{v}}"{% endfor %}>
    <label for="{{ option.attrs.id }}">{{ option.label }}</label>
  </li>
  {% endwith %}
  {% endfor %}
</ul>