.dark {
  --color-background-red: hsla(354.3, 70%, 70%, 0.08);
  --color-background-green: hsla(120, 70%, 80%, 0.1);
  --color-background-orange: hsla(39, 70%, 83%, 0.1);
  --color-background-blue: hsla(197, 70%, 83%, 0.1);

  --border: 1px solid hsl(0, 0%, 20%);
  --color: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 5%);
  --color-layer: hsla(0, 0%, 80%, 10%);

  --bar-height: 6rem;
  --bar-background: hsla(0, 0%, 13%, 0.88);
  --bar-background-content: hsla(0, 0%, 14%, 0.5);
  --bar-hover: hsl(var(--accent-hue), var(--accent-saturation), 25%);
}

.dark .modal__wrapper {
  --modal-wrapper-background: hsla(0, 0%, 0%, 50%);
}
.dark .form {
  --color-background: hsla(0, 0%, 10%);
}
