{% load static %}
{% load i18n %}

<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    {##########################################################################}
    {# HEAD #}
    {##########################################################################}
    {% block head %}
      
      {# TITLE #}
      <title>
      {% block title %}
        Travis Luke's Site
      {% endblock title %}
      </title>

      {# ICONS #}
      {% block icons %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}" />
      {% endblock icons %}

    {% endblock head %}


    {##########################################################################}
    {# CSS #}
    {##########################################################################}
    {% block fonts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500&display=swap" rel="stylesheet"> 
    {% endblock fonts %}
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock css %}

  </head>

  <body class="{% block theme %}{% endblock theme %}">
    <div class="page_container">
    {% block page_container %}

      {########################################################################}
      {# NAVBAR #}
      {########################################################################}
      {% block navbar %}
      {% endblock navbar %}

      {########################################################################}
      {# CONTENT #}
      {########################################################################}
      <div class="page_content">
        {% block content %}
        {% endblock content %}
      </div>

      {########################################################################}
      {# FOOTER #}
      {########################################################################}
      {% block footer %}
      {% endblock footer %}

    {% endblock page_container %}
    </div>

    {##########################################################################}
    {# MODAL #}
    {##########################################################################}
    {% block modal %}
    <div id="modal" class="modal__wrapper" tabindex="-1" aria-modal='true'>
      <div class="modal">

          {# Modal Header - title and button #}
          <div class="titlebar">
            <button class="titlebar__left bar__btn" onclick="history.back()" aria-label="Close">
              {% include 'svg/cross' %}
            </button>
            <span class="titlebar__center" id="modal__title"></span>
          </div>
          
          {# Modal Content #}
          <div class="modal__content" id="modal__content">
          {% block modal__content %}
          {% endblock modal__content %}
          </div>
      </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    {% endblock modal %}
    
    {##########################################################################}
    {# JS #}
    {##########################################################################}
    {% block js %}
      <script src="{% static 'js/utils.js' %}"></script>
    {% endblock js %}
    

  </body>
</html>