{% load i18n %}
{% load static %}

<nav class="portfolio-navbar">

  {# Brand #}
  <div class="brand brand-width">
    <a class="brand brand-link" href="{% url 'portfolio' %}">
      travis luke
    </a>
  </div>

  {# Nav Links #}
  <ul class="list borders sm-row sm-order-10">
    <li class="item">
      <a
        href="{% url 'portfolio' %}#projects"
        {% if selected == 'projects' %}
          class="link selected"
          aria-current="page"
        {% else %}
          class="link"
        {% endif %}
      >
        {% trans "Projects" %}
      </a>
    </li>
    <li class="item">
      <a
        href="{% url 'portfolio.contact' %}"
        {% if selected == 'contact' %}
          class="link selected"
          aria-current="page"
        {% else %}
          class="link"
        {% endif %}
      >
        {% trans "Contact" %}
      </a>
    </li>
    <li class="item">
      <a
        href="{% url 'portfolio.cv' %}"
        {% if selected == 'cv' %}
          class="link selected"
          aria-current="page"
        {% else %}
          class="link"
        {% endif %}
      >
        {% trans "CV" %}
      </a>
    </li>
  </ul>

  {# Shortcut Icons #}
  <ul class="list push-right sm-row">

    {# LinkedIn #}
    <li class="item">
      <a
        class="link"
        href="https://www.linkedin.com/in/travis-luke-453401220"
        aria-label="LinkedIn"
      >
        {% include 'svg/linkedin' %}
      </a>
    </li>


    {# LINE #}
    <li class="item">
      <a
        class="link"
        href="https://page.line.me/362zphkh"
        aria-label="LINE"
      >
        {% include 'svg/line' %}
      </a>
    </li>


    {# Facebook #}
    <li class="item">
      <a
        class="link"
        href="https://www.facebook.com/travis.luke"
        aria-label="Facebook"
      >
        {% include 'svg/facebook' %}
      </a>
    </li>


    {# Mail #}
    <li class="item">
      <a
        class="link"
        href="mailto:tlukedev@gmail.com"
        aria-label="contact me"
        class="social"
      >
        {% include 'svg/letter' %}
      </a>
    </li>

{% comment %}
  
    <li class="item border-left">
      {% include 'includes/language_select.html' with select_class="btn" %}
    </li>
{% endcomment %}
  </ul>


</nav>
