{% extends 'base.html' %}
{% load static %}


{% block icons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/m/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/m/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/m/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/m/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'img/m/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#333333">
{% endblock icons %}

{##############################################################################}
{# THEME #}
{##############################################################################}
{% block theme %}dark event_manager{% endblock %}


{# NAVBAR #}
{##############################################################################}
{% block navbar %}
<div class="topbar__padding"></div>
<div class="topbar fixed content-width">

  <div class="titlebar">

    <div class="titlebar__left">
    {% block navbar__left %}
      {% comment %}
      
      {# Back Chevron #}
      <button class="bar__btn" onclick="history.back()">
        {% include 'svg/chevron-left' %}
      </button>

      {# Back Cross #}
      <button class="bar__btn" onclick="history.back()">
        {% include 'svg/cross' %}
      </button>
        
      {% endcomment %}
    {% endblock navbar__left %}
    </div>
  
    <span class="titlebar__center">
      <button class="btn btn--invisible" onclick="location.reload(); blur();">
        {% block navbar__title %}{% endblock navbar__title %}
      </button>
    </span>
  
    <div class="titlebar__right">
    {% block navbar__right %}
      {% comment %}  

      {# MENU #}
      <button class="bar__btn" onclick="Modal.show('app_menu'); blur();">
        {% include 'svg/menu' %}
      </button>

      {% endcomment %}
    {% endblock navbar__right %}
    </div>
  </div>

</div>

{# DJANGO Session Messages #}
{% if messages %}
  <div class="content-row no-gap">
    {% include 'includes/django-messages.html' %}
  </div>
{% endif %}

{% endblock navbar %}