{% extends 'm/base.html' %}

{% block navbar__left %}{% endblock navbar__left %}
{% block navbar__title %}Manager{% endblock navbar__title %}
{% block navbar__right %}{% endblock navbar__right %}

{% block content %}
<div class="content-row">
  
  {# APPS #}
  <div class="section-header">Apps</div>
  <div class="button_card">
    <a class="btn" href="{% url 'em.events.calendar' %}">Events Manager</a> 
    <a class="btn" href="/cms/">Blog</a> 
    <a class="btn" href="{% url 'projects.index' %}">Issue Tracker</a> 
    <a class="btn" href="{% url 'keyboard.index' %}">Keyboard</a> 
    <a class="btn" href="{% url 'hours' %}">Hours Tracker</a> 
  </div>

  {# TOOLS #}
  <div class="section-header">Tools</div>
  <div class="button_card">
    <a class="btn btn--gray" href="{% url 'm.tools' %}">Tools</a>
  </div>

  {# LINKS #}
  <div class="section-header">Links</div>
  <div class="button_card">
    <a class="btn btn--gray" href="{% url 'admin:index' %}">Admin</a>
    <a class="btn btn--gray" href="{% url 'english_calendar' %}" target="_blank">Public Site</a>
  </div>

  {# LANGUAGE #}
  <div class="section-header">Language</div>
  <div class="button_card">
    {% include 'includes/language_buttons.html' %}
  </div>

  {# PROFILE #}
  <div class="section-header">Profile</div>
  <div class="button_card">
    <a class="btn btn--red" href="{% url 'logout' %}" >Logout</a >
  </div>

</div>

{% endblock content %}


{% block footer %}{% endblock footer %}