{% extends 'm/base.html' %}

{% block navbar__left %}
  <button class="bar__btn" onclick="history.back()">
    {% include 'svg/cross' %}
  </button>
{% endblock navbar__left %}
{% block navbar__title %}
  Tools
{% endblock navbar__title %}

{% block content %}
<form method="post">
{% csrf_token %}

<div class="content-row">
  
  {# Reservation TOOLS #}
  <div class="section-header">Reservations ({{ reservations_count }})</div>
  <div class="button_card">
    <button class="btn" name="reservations" value="create" type="submit">
      Create Test Reservations
    </button>
    <button class="btn" name="reservations" value="delete" type="submit">
      Delete Test Reservations
    </button>
  </div>

  {# Message TOOLS #}
  <div class="section-header">Message ({{ message_count }})</div>
  <div class="button_card">
    <button class="btn" name="messages" value="create" type="submit">
      Create Test Messages
    </button>
    <button class="btn" name="messages" value="delete" type="submit">
      Delete Test Messages
    </button>
  </div>


  {# Location TOOLS #}
  <div class="section-header">Locations ({{ location_count }})</div>
  <div class="button_card">
    <button class="btn" name="locations" value="create" type="submit">
      Create Test Locations
    </button>
    <button class="btn" name="locations" value="delete" type="submit">
      Delete Test Locations
    </button>
  </div>

  {# EMAIL TOOLS #}
  <div class="section-header">Email</div>
  <div class="button_card">
    <a class="btn" href="{% url 'em.emails.preview' %}">Preview Templates</a>
  </div>

  {# ISSUE TRACKER TOOLS #}
  <div class="section-header">Issue Tracker</div>
  <p>Projects ({{ project_count }}), Issue Tags ({{ issue_tag_count }}), Issues ({{ issue_count }})</p>
  <div class="button_card">
    <button class="btn" name="issues" value="create" type="submit">
      Create Test Issues
    </button>
    <button class="btn" name="issues" value="delete" type="submit">
      Delete Test Issues
    </button>
  </div>

  {# HourTracker Tools #}
  <div class="section-header">HourTracker</div>
  <p>Categories ({{ hour_tracker.categories }}), Entries ({{ hour_tracker.entries }})</p>
  <div class="button_card">
    <button class="btn" name="hour_tracker" value="load" type="submit">
      Load Fixture
    </button>
    <button class="btn" name="hour_tracker" value="reset" type="submit">
      Reset Hour Tracker DB
    </button>
  </div>

</div>

</form>
{% endblock content %}