{% load event_time_range %}
<div class="card">
  <div class="card__header">
    {{ card_title|default:'Event' }}
  </div>

  <table class="card__table">
    <tr>
      <th>Type</th>
      <td>{{ event.current_event_type_name }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ event.datetime|date }}</td>
    </tr>
    <tr>
      <th>Time</th>
      <td>{{ event|event_time_range }}</td>
    </tr>
    {% if event.location %}
    <tr>
      <th>Location</th>
      <td>{{ event.location.name }}</td>
    </tr>
    {% endif %}
  </table>

  <div class="card__footer">
    <a href="www.travis-luke.com{{ event.get_absolute_url }}" class="btn">
      Website
    </a>
  </div>

</div>