<div class="card">
  <div class="card__header">
    {{ card_title|default:'Reservation' }}
  </div>

  <table class="card__table">
    <tr>
      <th>Name</th>
      <td>{{ reservation.name }}</td>
    </tr>
    <tr>
      <th>Message</th>
      <td>{{ reservation.note|default:"none" }}</td>
    <tr>

    {# Location #}
    {% if reservation.event.location %}
    <tr>
      <th>Location</th>
      <td>{{ reservation.event.location.name }}</td>
    </tr>
    {% endif %}

    {# Canceled #}
    {% if reservation.canceled_at %}
    <tr>
      <th class="bg-red">Canceled</th>
      <td class="bg-red">{{ reservation.canceled_at|date:"Y/m/d" }}</td>
    </tr>
    <tr>
      <th class="bg-red">Cancel Msg</th>
      <td class="bg-red">{{ reservation.canceled_msg|default:"none" }}</td>
    </tr>
    {% endif %}
  </table>
  
  <div class="card__footer">
    <a href="www.travis-luke.com{{ reservation.get_absolute_url }}" class="btn">
      Website
    </a>
  </div>

</div>