{% load i18n %}
{% load event_time_range %}
{# required context: {'reservation', ...} #}

{% language 'ja' %}
<div class="event">
  <h4 class="event__header">
    レッスン
  </h4>

  <table class="event__table">
    <tr>
      <th>日付</th>
      <td>{{ reservation.event.datetime|date }}</td>
    </tr>
    <tr>
      <th>時間</th>
      <td>{{ reservation.event|event_time_range }}</td>
    </tr>

    {# DETAILS IF RELAVENT #}
    {% if reservation.event.location %}
    <tr>
      <th>場所</th>
      <td>{{ reservation.event.location.name }}</td>
    </tr>
    {% endif %}

    <tr>
      <th>名前</th>
      <td>{{ reservation.name|default:"-" }}</td>
    </tr>
    <tr>
      <th>メール</th>
      <td>{{ reservation.email }}</td>
    </tr>
    <tr>
      <th>連絡事項</th>
      <td>{{ reservation.note }}</td>
    </tr>
  </table>

</div>
{% endlanguage %}