{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keyboard</title>
    <link rel="stylesheet" href="{% static 'keyboard/css/style.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <section class="keyboard_container">
        <div class="keyboard" id="keyboard"></div>
      </section>

      <section class="details">
        <div class="control">
          <div class="control__scope">
            <select class="control__scope_select" id="control__scope">
              <option value="">All Programs</option>
            </select>
          </div>
          <div class="control__mask" id="control__mask"></div>
        </div>

        <div id="info" class="info"></div>
      </section>
    </div>
    <script src="{% static 'keyboard/js/arch2020.js' %}"></script>
    <script src="{% static 'keyboard/js/lenovoT14.js' %}"></script>
    <script src="{% static 'keyboard/js/script.js' %}"></script>
  </body>
</html>
