{% load event_time_range %}
{% load i18n %}

{# EVENT TYPE #}
{% if event.event_type %}
<tr>
  <th>{% trans "Type" %}</th>
  <td>{{ event.event_type.name }}</td>
</tr>
{% elif event.requested_event_type %}
<tr>
  <th>{% trans "Type" %}</th>
  <td>{{ event.requested_event_type.name }}</td>
</tr>
{% endif %}

{# DATE TIME #}
<tr>
  <th>{% trans "date" %}</th>
  <td>{{ event.datetime|date }}</td>
</tr>
<tr>
  <th>{% trans "time" %}</th>
  <td>{{ event|event_time_range }}</td>
</tr>

{# DETAILS IF RELAVENT #}
{% if event.location %}
<tr>
  <th>{% trans "location" %}</th>
  <td>{{ event.location.name }}</td>
</tr>
{% endif %}