{% load i18n %}

<tr>
  <th>{% trans "name" %}</th>
  <td>{{ reservation.name|default:"-" }}</td>
</tr>
<tr>
  <th>{% trans "email" %}</th>
  <td>{{ reservation.email }}</td>
</tr>
<tr>
  <th>{% trans "message" %}</th>
  <td>{{ reservation.note }}</td>
</tr>