{% load url_add_query %}

{% for issue in issues %}
  {% include 'issuetracker/includes/issue_item.html' %}
{% endfor %}

{% with issues as paginator %}
{% if paginator.has_next %}
  <div hx-get="{% url_add_query request.get_full_path replace=True page=paginator.next_page_number %}"
       hx-target="this"
       hx-trigger="revealed"
       hx-swap="outerHTML">
    <div class="htmx-indicator">
      {% include 'svg/spinner' %}
    </div>
  </div>
{% endif %}
{% endwith %}