<div class="issue-item" data-pk="{{ issue.pk }}">

  <div class="issue-item__cell" style="border-color: {{ issue.priority_color }};">

    {# Content #}
    <div class="issue-item__content">
      <div class="issue-item__title">{{ issue.name }}</div>
    </div>
    
    {# Accessories #}
    <div class="issue-item__accessories">
      {% if issue.closed_at %}
        <div class="status status--green u-margin-right-sm u-max-content">
          {{ issue.closed_at|date:"Y-m-d"}}
        </div>
      {% endif %}
      <a class="btn issue-item__accessory_btn" href="{% url 'issues.edit' issue.pk %}">
        {% include 'svg/pencil' %}
      </a>
    </div>
    
    <button class="issue-item__expand_btn"
            onclick="toggle('details_{{issue.pk}}');">
    </button>
  </div>

  {# Expanded Content #}
  <div class="issue-item__expanded" id="details_{{ issue.pk }}">

    {% if issue.description %}
    <div class="issue-item__description">{{ issue.description|linebreaksbr }}</div> 
    {% endif %}

    <div class="issue-item__tags">
      {% for tag in issue.tags.all %}
      <div class="issue-item__tag">{{ tag.name }}</div>
      {% endfor %}
    </div>
    
    <div class="issue-item__actions">
      <form action="{% url 'issues.item' issue.pk %}" method="post">
        {% csrf_token %}

        {% url 'projects.item' issue.project.pk as default_next %}
        <input type="hidden" name="next" value="{{ next|default:default_next }}">

        {# ACTIVE #}
        {% if not issue.closed_at %}
          <button class="btn" type="submit" name="action" value="complete">Complete</button>
          <button class="btn" type="submit" name="action" value="reject">Reject</button>

        {# CLOSED #}
        {% else %}
          <button class="btn" type="submit" name="action" value="reopen">Reopen</button>

        {% endif %}

      </form>
    </div>
  </div>

</div>