<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG />
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="x-apple-disable-message-reformatting" />
  <!--[if !mso]><!-->
  <link
    href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700"
    rel="stylesheet"
  />
  <!--<![endif]-->
  <title>Email Template</title>
  <!--[if gte mso 9]>
    <style type="text/css" media="all">
      sup {
        font-size: 100% !important;
      }
    </style>
  <![endif]-->
  
  
  <!-- STYLE -->
  <style type="text/css" media="screen">
    {% block css %}

    {# DEFAULT -> public email style #}
    body {
      padding: 1rem !important;
      margin: 0 !important;
      display: block !important;
      min-width: 100% !important;
      width: 100% !important;
      -webkit-text-size-adjust: none;
    }
    img {
      -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */
    }
    {% endblock css %}
  </style>
  <!-- end STYLE -->

</head>

<body>

  <!-- PREHEADER TEXT -->
  <span style="display:none !important;
             visibility:hidden;
             mso-hide:all;
             font-size:1px;
             color:#fefefe;
             line-height:1px;
             max-height:0px;
             max-width:0px;
             opacity:0;
             overflow:hidden;">
    {% block preheader %}{% endblock preheader %}
  </span>
  <!-- end PREHEADER -->
  
  <!-- CONTENT -->
  {% block content %}{% endblock content %}
  <!-- end CONTENT -->

</body>
</html>