{% extends 'email/em_base.html' %}

{% block preheader %}
  Message from {{ message.sender|default:"no sender" }} ({{ message.content|truncatechars:10 }}) ✅......
{% endblock preheader %}

{% block content %}
<div class="content">
  <div class="card">
    <div class="card__header">Message</div>
    <div class="card__subheader">
      {{ message.sender|default:"no sender" }}<br>
      {{ message.timestamp|date:"Y/m/d H:i" }}
    </div>
    <div class="card__text">
      {% if message.is_trusted_sender %}
        {{ message.content }}
      {% else %}
        {{ message.content|truncatechars:10 }}
      {% endif %}
    </div>
    <div class="card__footer">
      <a class="btn" href="www.travis-luke.com{{ message.get_absolute_url }}">
        Website
      </a>
    </div>
  </div>
</div>
{% endblock content %}