{% extends 'email/em_base.html' %}


{% block preheader %}
  {% if summary.active_count == 1 %}
    【1️⃣ Tomorrow】
  {% elif summary.active_count == 2 %}
    【2️⃣ Tomorrow】
  {% elif summary.active_count == 2 %}
    【3️⃣ Tomorrow】
  {% elif summary.active_count == 2 %}
    【4️⃣ Tomorrow】
  {% elif summary.active_count %}
    【4️⃣+ Tomorrow】
  {% else %}
    【🚫 Tomorrow】
  {% endif %}
{% endblock preheader %}

{% block content %}
  {% if summary.debug_mode %}
    <p><small><i>Debug Mode</i></small></p>
  {% endif %}

  <p>
    <small>{{ summary.date }}</small><br/>
    {{ summary.msg }}
  </p><br>

  {# result of each event #}
  {% if summary.events %}
  {% for event in summary.events %}
    <p>
      <a href="{{ event.link }}">{{ event.name }}</a>
      {% if event.is_canceled %}
        <span style="color: red;">(Canceled)</span>
      {% endif %}

      {# result for each reservation #}
      {% for reservation in event.reservations %}
        <br><span style="padding-left: 2rem;">{{ reservation }}</span>
      {% endfor %}

    </p>
  {% endfor %}
  {% endif %}
{% endblock content %}