{% extends 'email/em_base.html' %}
{% load time_until %}

{% block preheader %}
  {{ reservation.name }} moved {{ old_event.datetime|time_until }} ➜ {{ reservation.event.datetime|time_until }} ✅......
{% endblock preheader %}

{% block content %}
<div class="content">


  {# Reservation #}
  {% include 'email/includes/em_reservation_card.html'%}
  
  {# Old Event #}
  {% include 'email/includes/em_event_card.html' with event=old_event card_title="OLD Event" %}

  <div style="font-size: 30px; text-align: center;">&#10225;</div>

  {# New Event #}
  {% include 'email/includes/em_event_card.html' with event=reservation.event card_title="NEW Event" %}

</div>

{% endblock content %}