{% extends 'email/email_base.html' %}

{% block preheader %}{% endblock preheader %}

{% block content %}
  <p>
    こんにちは{% if reservation.name %}{{ reservation.name }}様{% endif %}。<br>
    <br>
    <b><em>レッスンのリマインダーです。</em></b><br>
    <br>
    次の予約は明日開催します。<br>
  </p>

  {% include 'email/includes/email_reservation_summary.html' %}

  <p>
    予約の最新状況やキャンセルはここ：
    <a href="www.travis-luke.com/ja/reservation/{{ reservation.pk }}/?token={{ reservation.token }}">
      イベントの詳細
    </a>
    <br>
    よくある質問：
    <a href="www.travis-luke.com/ja/faq/">Q&amp;A</a>
  </p>

  <p>
    Travis Luke<br>
    <a href="www.travis-luke.com">ホームページ</a>
  </p>
  <br>
  <p><a href="[UNSUBSCRIBE]">※メール配信が不要な方はこちらにアクセスして下さい。</a></p>
{% endblock content %}